[2014-04-02 15:50] likewhoa commented on #101
I am not sure I like http://leadsponsor-nyccamp2014.gotpantheon.com/partners it's not adjusting to the whole screen. See my comments in #240

[2014-04-02 15:59] likewhoa commented on #240
Sessions page are NOT responsive, if they were the columns would stack up on mobile but instead we get the below fugly layout.

![untitled](https://cloud.githubusercontent.com/assets/1696920/2593353/7f0ae67a-ba7f-11e3-813e-6c755dfe4628.png)

I understand having the metadata on the right column for layouts that are wide enough but for those that can't fit both columns it's just plain ugly and an an

[2014-04-02 16:02] likewhoa commented on #235
lol @ForestMars and ++ to @esod

[2014-04-02 17:06] esod commented on #240
fugly maybe, but not broken ;)

[2014-04-02 17:41] ForestMars commented on #240
Same thing to a designer.

What do we have to do to make this layout responsive?

[2014-04-02 18:56] likewhoa commented on #240
@ForestMars make ds stack those columns. I hardly use ds tbh so until I get back into active development mode, I won't be able to take a look. Perhaps @esod can get this done before then.

From a UX perspective this layout is ugly as monday afternoons.

[2014-04-02 18:57] likewhoa commented on #235
closing and opening a new issue w.r.t gravatar issue which introduced this fuck up.

[2014-04-02 18:57] #235 closed, assigned to nobody

[2014-04-02 18:59] likewhoa opened #243 "Theme gravatar is wiping out user profile pictures"
in relation to what occurred at #235, we should take a look at how is gravatar affecting our user profile images as currently it will null the field_picture field upon load.

[2014-04-03 07:37] ForestMars commented on #194
Was this ever tested? As far as I can tell this is no longer working since the rules were combined into 1.  I also just took a peek at the code being used, and it actually doesn't look like it _should_ be working. Not a priority at all for between now and the camp, but reopening for post-camp regression fixes.

[2014-04-03 07:55] ghost opened #245 "Sessions a user has signed up for show up on the wrong day on his/her user profile "my-sessions" page"
For instance, I signed up for this session:
http://www.nyccamp.org/session/30-drupal-8-api-functions-you-should-already-know

which is scheduled for Saturday and it showed up under "Friday" in my user profile:

http://www.nyccamp.org/user/260/my-sessions

[2014-04-03 08:27] ForestMars commented on #245
When I add it to sessions as user "QATest" it, and any other session I add, show up on my sessions page with the time and room displayed, but no day displayed at all, that I can see.

[2014-04-03 10:43] esod commented on #245
I'll have a look. This is no biggie. Thanks for posting @irenemeisel

[2014-04-03 13:55] jonpugh commented on #228
The entire left column disappears if the screen is narrow enough, which means the block with all of that really useful information is not available at all on anything smaller than a desktop.

This seems like a critical issue to me, since that info is probably one of the most important pieces of the site.

![screenshot from 2014-04-03 09 53 07](https://cloud.githubusercontent.com/assets/106420/2604

[2014-04-03 14:17] esod commented on #228
Looks like 768px is the breakpoint. On screens smaller than 768px the user sees a version of the main menu. I agree that this not too good.

[2014-04-03 14:19] mirie commented on #228
There should be 2 icons in the upper right: one that looks like a calendar and the hamburger one. The calendar icon should display that general event blue sidebar. Is this what you're referring to?

[2014-04-03 16:05] jonpugh commented on #228
Ohhhh I see.... I think that button wasn't working for me before...

Its not terribly clear that's what it does... Thanks for clearing that up,
@mirie
On Apr 3, 2014 10:19 AM, "Mai Irie" notifications@github.com wrote:

[2014-04-03 20:41] esod opened #247 "Normalize Page Titles on User pages"
For anonymous users who are logging in:

The page title for user/login is Home
The page title for user is My Sessions
The page title for user/register is Home
The page title for user/password is User Account

Let's change them to:
Log in
Log in
Create new account
Request new password

respectively.

Pull request to follow momentarily.

[2014-04-03 20:43] esod commented on #247
https://github.com/NYC-Camp/website/pull/248

[2014-04-03 21:53] esod opened #249 "Don't enable the Sessions schedule Display."
@all. Please don't enable the The Session Schedule display in http://www.nyccamp.org/admin/structure/views/view/schedule_sessions/edit/page_3 or in http://www.nyccamp.org/admin/structure/views/view/nyccamp_schedule/edit/page_3. Those displays don't work and they each place a menu item in the main menu with default COD text on them. I just found them enabled on live where they disrupted the theme b

[2014-04-03 22:27] esod commented on #249
I add the Add to my sessions/Remove from my sessions flag to the display on http://www.nyccamp.org/program/sessions-schedule. The placement of the flag isn't perfect but I'm working on it and the UX works with the Personal Schedule module.

Btw, Annie's link in the post ( https://groups.drupal.org/node/417453 ) isn't working.

is:
https://www.nyccamp.org/program/sessions-schedule
should be:
http:/

[2014-04-03 22:36] ForestMars commented on #249
Team, we have to tighten up here and get on the same page.

We can't have some people pushing the schedule live while others are saying it's not ready. At the very least we need better communication, even if we don't have agreement about whether it's ready to go live, or whether we can't wait any longer.

We need to pick a canonical channel, either Skype or IRC, and stick with it. And/or continue

[2014-04-03 22:45] esod commented on #249
The schedule flag is finished. I'll get the placement perfect later tonight. It all works. My question is why do we have duplicate views? Why were they both enabled on live and not checked for their menu links? I am also trying to get the existing My Profile links to go to the correct tab. Right now they default to /user. That's not simple.

I think our priority is to reach Annie and ask her to fi

[2014-04-03 22:48] ForestMars commented on #249
We can't "fix" the link, it's already gone out in an email campaign.

And while it's okay for anyone to do their own "marketing" to promote some aspect of the camp (in fact it's not just ok, it's awesome) the goal should be to bubble up key pieces such as "Add to my schedule" into the official email announcements. In fact that one in particular is a near perfect example of a key message that shoul

[2014-04-03 22:50] esod commented on #249
Thank you @ForestMars. :)

And now back to the grind ...

[2014-04-03 23:34] willykaram opened #251 "Third Column in Theme"
We absolutely need a 3rd column on the web site. If we can possibly add it to this theme that would really help us for many purposes, including:
- **Most importantly**, displaying sponsor information
- Displaying total number of registered users
- Users Login/Registration Form
- Conference and Events Registration Forms
- Displaying shopping cart for purchase of partnerships

I haven't had a chance

[2014-04-03 23:35] willykaram commented on #101
Please note that this issue isn't closed. We really do still need a static footer block at bottom of the page that persistently displays the Lead Partner logos.

[2014-04-03 23:38] willykaram commented on #251
BTW, this is marked as a blocker and critical because it's impeding us form doing some very important things on the site.

[2014-04-04 01:18] mirie opened #252 "Turning caching on for the various views"
I'm adding this so we can all be on the same page here.

We have 110 enabled views (yes, I understand there are definitely duplicates here and no, I have no idea what's actually being used so I'm not going to waste time on that right now).

What's more critical is that for all 110 enabled views, there's no caching of the rendered output and no caching of the query results. I'm updating these right

[2014-04-04 02:01] seantwalsh commented on #252
Updated the training Page and Block view!

[2014-04-04 02:47] mirie commented on #252
ok, done and closing this out. anyone can adjust the views caching times appropriately as they please. This will at least help out with the zero caching on everything view related.

[2014-04-04 02:47] #252 closed, assigned to nobody

[2014-04-04 03:18] ForestMars opened #253 "Getting spammed hard"
We're getting spammed pretty hard, and they're activating their accounts. Here's just a recent sampling.

![screen shot 2014-04-03 at 11 16 54 pm](https://cloud.githubusercontent.com/assets/402773/2611577/bb93c02a-bba7-11e3-8c66-a22721c8f4d3.png)

[2014-04-04 04:13] mirie commented on #253
Hey @ForestMars , what's the best way to fix this? We have email verification enabled for new accounts and also a captcha.

[2014-04-04 04:29] mirie commented on #236
Ok, I'm suspecting a rogue Rule here. I just want to confirm that it was on every user profile view and not on all pages.

The suspicious rule is: field_mobile_code /admin/config/workflow/rules/reaction/manage/rules_default_value_for_field_mobile_code_

because it has an action for Set a data value. I'm thinking that this is what is causing the user save/update cascade.

[2014-04-04 04:33] likewhoa commented on #253
@ForestMars @mirie http://dgo.to/mollom will take care of this.

[2014-04-04 04:45] ForestMars commented on #236
Is the rule in question under code control?

More to the point, do we have m/any rules not under code control?

[2014-04-04 04:47] mirie commented on #236
I have no idea. In fact, I do not even know our actual workflow for this :toilet:

[2014-04-04 04:52] ForestMars commented on #236
The workflow is that rules should only be added if there is a related ticket (ie "we need x to do y")

Adding all rules in code is preferred. Any rule added in the ui should be pulled down with a database sync, featurized, and pushed back up in code.

Also rules should make use of tokens, and not hard-coded values that apply to NYC Camp only.

[2014-04-04 04:55] mirie commented on #236
ok @likewhoa, @esod, please take a look at: http://mailchimp-nyccamp2014.gotpantheon.com/user

I brought back that message and disabled that rule.

However, that rule was most likely created for a reason. Do either you you know about this rule? I think we can set the value for field-mobile-code in a way that would not involve an db update for the user object. Thoughts?

[2014-04-04 04:59] likewhoa commented on #253
guys my internet connection to my irssi server is being crappy, so do communicate here. I can get mollom rolling on the site now.

[2014-04-04 05:03] likewhoa commented on #236
that rule seems like something related to what @esod did w.r.t qrcodes but I haven't even looked at it just an assumption.

[2014-04-04 05:03] mirie commented on #253
Ha. ok that explains why u're no responding to me in the channel. Okie doke.

On Fri, Apr 4, 2014 at 12:59 AM, Fernando Reyes notifications@github.comwrote:

[2014-04-04 05:08] likewhoa commented on #247
gj!

[2014-04-04 05:08] #247 closed, assigned to nobody

[2014-04-04 05:09] likewhoa commented on #228
closing @jonpugh

[2014-04-04 05:09] #228 closed, assigned to nobody

[2014-04-04 05:34] likewhoa commented on #253
oh guys, we already have mollom on the site, and seeing how we only have captcha as our only defense against automated registrations which most bots defeat and since we only have 3-4 fields that users need to fill out with only first/last being required, there is no reason to set the form to 'text analysis' we really need to think of something else to stop these spam bots.

[2014-04-04 12:41] esod commented on #253
Honeypot?

[2014-04-04 13:16] esod commented on #236
The rule drives the QR code. It is in code. Why would "Set a data value" and "User account page is viewed" be in Rules if they weren't safe to use. How can standard Rules methods be causing the save/update cascade in mailchimp?

[2014-04-04 13:18] mirie commented on #236
The "Set a data value" is really the issue, right? I'm not sure I am
understanding your question

On Fri, Apr 4, 2014 at 9:16 AM, Eric Sod notifications@github.com wrote:

[2014-04-04 13:19] esod commented on #236
Why is "Set a data value" an issue? Why is the rule an issue? I think we're looking in the wrong place.

[2014-04-04 15:08] likewhoa commented on #236
I don't think the 'set a data value' is the cause here guys. It's something else because if you go to a users profile, click edit, then save it you don't see the mailchimp msg.

We need to dig deeper.

[2014-04-04 15:10] mirie commented on #236
@likewhoa, are u checking this on this multidev branch?

On Friday, April 4, 2014, Fernando Reyes notifications@github.com wrote:

[2014-04-04 15:46] esod opened #254 "jquery_ui.module makes the ckeditor.module unresponsive"
Our trainers are seeing things like this:

![jquery_ui-makes-the-ckeditor module-unresponsive](https://cloud.githubusercontent.com/assets/387576/2617176/62b0bc48-bc0f-11e3-87da-b3e594c6a27a.png)

COD uses CK Editor, not Wysiwyg. Having both modules enabled was causing odd UX's like printing the body field twice. So we've disabled Wysiwyg. COD is too embedded with CK Editor to remove it easily so C

[2014-04-04 18:55] likewhoa commented on #236
on live @mirie

[2014-04-04 19:00] mirie commented on #236
@likewhoa, you're not seeing the Mailchimp messages on master because that
line is currently commented out.

This is not the case on http://mailchimp-nyccamp2014.gotpantheon.com/user

Also, I created this separate environment to be able to play around with
the rule theory.

On Fri, Apr 4, 2014 at 2:55 PM, Fernando Reyes notifications@github.comwrote:

[2014-04-05 00:52] esod commented on #254
I went ahead with these changes. I couldn't stand the idea of our users suffering through that interface any longer. It looks like this now:

![fixed-up-user-edit-screens](https://cloud.githubusercontent.com/assets/387576/2621609/740573d8-bc5c-11e3-910d-30030b32c256.png)

[2014-04-05 00:55] esod commented on #254
And yes, these changes should be in configuration code.

[2014-04-05 03:07] willykaram commented on #251
I am starting work on this and will have it done for Sat. Just commenting in order to keep the team in the loop. I didn't see anyone else take a look at/assign this to themselves.

[2014-04-05 03:39] willykaram opened #258 "Conference Admin Dashboard"
We need a dashboard where we can get quick access to a bunch of administrative tools. So I've created a simple starting point for use to use here:
- http://www.nyccamp.org/admin/dashboard/conference

For now I've added a redirect from the /admin/dashboard to the above page. I'll add some theming and improve it over the weekend while doing some other theming, but for now I just wanted to put someth

[2014-04-05 03:45] willykaram opened #259 "Better Formats Module"
I've installed and configured the Better Formats module twice now and somebody has disabled it twice. I have re-enabled the module based on the following use cases:
1. UX: We should be using this module in order to better control the format of text inputs that users have access to. There are many users who have no idea what the heck a "Text Format" is, so this helps to make the site more usable fo

[2014-04-05 10:31] esod commented on #259
I disabled the module when I was sorting out https://github.com/NYC-Camp/website/issues/254. I forgot to re-enable it.

My hesitation with better_formats for Drupal 7 is from its project page. I quote directly.

 "and is <strong>under testing for a production stable release.</strong>"

We simply don't use modules in this state of development.

I meant no disrespect. Apologies.

[2014-04-05 10:33] esod commented on #259
Please note that I didn't delete its configuration.

[2014-04-05 15:43] esod commented on #251
Thanks for the update. Don't put this on live until it's been QA'd.

[2014-04-05 15:46] willykaram commented on #251
Yes Eric. As discussed last week, (i) the prior theming was done overnight
and on an urgent basis as part of getting the session scheduling working and (ii) there is a theming branch where other theming work I've done has gone.

On Saturday, April 5, 2014, Eric Sod notifications@github.com wrote:

[2014-04-05 15:57] esod commented on #251
Great. sounds good.

If you're online, will you merge my pull request, https://github.com/NYC-Camp/website/pull/256. I promise it's fine and it closes the loop on a problem I've been working for days.

Also, once the module and configuration are out, I want to follow up on Forest's comment in https://groups.drupal.org/node/398153 with something like this:

"I'd like to add that you can quickly vie

[2014-04-05 20:48] esod commented on #236
Looks like with the qr_code module disabled, the message stops firing. I'll disable the module and we'll watch the logs for a while. Fooey.

[2014-04-05 21:18] esod commented on #236
https://drupal.org/comment/8654077#comment-8654077

[2014-04-05 21:52] likewhoa commented on #259
@willykaram @esod @everyone anytime you are enabling/disabling any modules on @live you should announce this on irc/skype so that anyone who may object can do so before hand.

We really shouldn't be doing any of these things on live without first letting the whole team know and posting on irc/skype is a good place for this. We need more communication between us so that these things don't happen ag

[2014-04-05 21:54] likewhoa commented on #258
good starting point but we should focus on making everything mobile friendly before it's final.

[2014-04-05 21:56] willykaram commented on #259
@likewhoa we should leave this open until we fully address the point raised by Eric in #254 above. I should be able to help with that tonight as part of some of my other work.

[2014-04-05 21:57] willykaram commented on #258
@likewhoa of course, right now this is pretty awful. It's just aimed at helping us get through the next week as stop-gap measure.

[2014-04-05 22:13] likewhoa commented on #259
@willykaram I don't think better_formats module was the cause of #254, the issue there was the use of wysiwyg which conflicted with ckeditor in the cod profile, since that module assumes you put ckeditor library in sites/all/libraries instead. IMO using wysiwyg is ok but since cod is tied in with ckeditor we might want to deal with that later.

[2014-04-05 22:15] likewhoa commented on #253
:+1: for testing honeypot but lets do that after the camp.

[2014-04-05 22:19] likewhoa commented on #198
remember this will require the rr drush filter enabled on @live so that the registry is rebuild properly. This should be tested in @test and QA fully by that make sure that all functionality is working. This issue also relates to my #16 issue which we should do first.

[2014-04-05 22:20] likewhoa commented on #170
@willykaram Can you post the summary of any changes you made to this for the record, otherwise lets close this issue.

[2014-04-05 22:21] likewhoa commented on #101
We already have a static lead sponsor footer block, so I guess this issue can be closed now.

[2014-04-05 22:24] likewhoa commented on #214
is this not completed yet? Looks like user profile pages have a block displaying their session schedule already. Also, why was this assigned to me? I don't even remember assigning this to myself :D

[2014-04-05 22:47] willykaram commented on #101
@likewhoa No, please re-read the issue above. We still have not implemented this.

[2014-04-05 22:52] willykaram commented on #198
If people still think we should do this, then I can do so late tonight. My concern is that it's going to make quite a few updates to everyone's branches, and we should ensure that everyone is on board with this.

I will implement this on a separate branch/multidev and test thoroughly before implementing on live. I think that this is pretty much the last day when we can do this. After today, I'd ra

[2014-04-05 23:46] esod commented on #259
Exactly. It's two unrelated issues except when I was working on improving that layout (see the first screen shot in #254 if you need convincing) I disabled better_formats. I was unaware that better formats was not a stable release on a project I was working on earlier this year and I had to remove it. So it was instinctual that I would disable it.

The usage numbers are convincing with better_form

[2014-04-05 23:50] esod commented on #198
Don't do this. It's really not necessary. Leave the modules folder as it is. We can get to this after the camp.

[2014-04-06 02:22] willykaram commented on #198
I agree with Eric's comment right now. Unless anyone strongly objects, let's defer on this until after the camp.

[2014-04-06 02:43] willykaram commented on #249
Guys sorry for reply late here. We aren't using the view that Eric mentions above and it should be disabled/made in accessible on the site. This is the old view from last year. We'll need to think about how we want to handle the multi-year functionality, but that can wait until after the camp. FWIW, I don't think that anyone "enabled" this display recently, I think it's largely been there since we

[2014-04-06 02:44] willykaram commented on #249
BTW, sorry for not replying sooner, but I just saw this today/now.

[2014-04-06 02:46] willykaram commented on #205
@ForestMars @likewhoa I'm in the midst of fixing this, was working on it a bit earlier in the week and yesterday/today in connection with the scheduling work. Once it's done and themed I'll post it to multi-dev for review and we can hopefully get it pushed to live tomorrow.

[2014-04-06 03:09] willykaram commented on #170
@likewhoa This is a summary of the the strategy that was implemented based on some of my discussions with Forest:

https://github.com/NYC-Camp/website/wiki/NYC-Camp-Conference-Scheduling

It's what's been used to the the scheduling for the sessions/keynotes so far. As by today, we should have it implemented to the extent needed for any of the summits/trainings which will resolve issue #205 and #24

[2014-04-07 18:48] esod commented on #249
Not one of the displays in this view:

http://www.nyccamp.org/admin/structure/views/view/schedule_sessions

gets any data. I'm disabling the view.

[2014-04-07 19:00] willykaram commented on #249
Thanks, agreed

[2014-04-07 19:01] esod commented on #249
Likewise:

http://www.nyccamp.org/admin/structure/views/view/nyccamp_schedule

which is now disabled.

I am certain I deleted the displays that messed with the Personal Schedule concept and execution and added two nonsensical menu items to the main menu as I described at the top of this issue. But I'm sure there was no malice intended when this event occurred.

[2014-04-07 19:05] ForestMars commented on #249
Just to clarify, this view _is_ used to generate the schedule for last year.

Since the data model was completely retooled this year, this view is not used to generate this year's schedule, but _is_ responsible to displaying last year's schedule.

If there's an issue with it that we are not resourced to fix before the camp, I'm fine with temporarily disabling it, but as Willy alludes to, we need t

[2014-04-07 19:27] esod commented on #249
Good point. There are three data models in our system that handle scheduling. I suggest we meet after the camp, decide on one data model, port the old nodes to that data model and delete the other two data models. Yes, delete them because it's very cluttered and confusing now.

Time session slot(s), Time session(s), and whatever the new one can be recognized by; ..._evnt or something. Which I don'

[2014-04-07 19:28] esod commented on #249
... and I can't fix it because I don't know how its Time slot (and location, I think) have been attached to it.

[2014-04-07 19:32] esod commented on #249
I'm thinking about our memory footprint by disabling both views and both views seem so similar to me.  @ForestMars which view would you like re-enabled for last year's schedule?

[2014-04-07 19:58] ForestMars commented on #249
I don't know offhand that last year's view is actually working on the site? ie. that when enabled it provides a display of last year's sessions.

Also, we have added the path /2014 for all events (and sessions) posted for this year. I'm pretty sure that's not set up to work for last year.

In any case, I'm pretty sure the correct view which is used to generate all the schedule views for last year

[2014-04-08 01:02] mabfire opened #265 "Please move facilators to bottom of schedule or make heads smaller"
Whatever is easier - http://www.nyccamp.org/event/npo-ngo-summit-2014

[2014-04-08 01:08] likewhoa commented on #265
we can set a different image style which will make the images smaller. I can't make a head smaller though :D

[2014-04-08 01:13] willykaram opened #266 "Formatting of Event Facilitators Field"
We' need to format the facilitators on the events page, currently the images are too large, and inconsistent with the other theming on that page. We should likely set it to a similar format to the avatars lower on the page (which used a DS layout called "schedule"). An example where it needs to be improved is the NPO summit:

http://www.nyccamp.org/event/npo-ngo-summit-2014

[2014-04-08 01:50] likewhoa commented on #265
this should be changed,.. sorry for delay got distracted. Anyways, this change also affects the user profile images. Let me know if this size best fit. Look at your profile page too. Close if satisfied.

[2014-04-08 02:28] esod commented on #265
Making the images smaller is good for the moment. They were pretty enormous. It looks like this issue is related to https://github.com/NYC-Camp/website/issues/266. I'll have a look at this layout in the morning and see if we can make any more improvements.

[2014-04-08 02:43] willykaram opened #267 "Improving Theming on Partners Page"
We need to fix the theming on the partners page:
- http://www.nyccamp.org/partners

Ideally it will be similar to last year's page or improve upon that:
- http://2013.nyccamp.org/sponsors

We and likely largely re-use the theming from past year, presumably by adjusting the paths/classes in the css.

[2014-04-08 02:53] willykaram opened #268 "Improving Theming in Individual Partner Pages"
The individual partners pages are in need of some improved theming:
- http://www.nyccamp.org/partner/northpoint-digital

I think the top 3 issue to address are theming

**1. Related Attendees:** we should be able to just re-use the "Schedule" display mode on the user entity, and re-use the theming form the event/summit schedules. We could so something different, but that's likely easiest.

**2. Li

[2014-04-08 02:56] willykaram opened #269 "Improving Theming on My Session Page"
The My Sessions page could use some improve theming:

http://www.nyccamp.org/user/1/my-sessions

We could simple use the DS "Shedule" display mode for sessions/events, and re-uses the theming from the Sessions/Summits Schedules as that will display the sessions in a similar manner her with the speaker's image and other session details.

[2014-04-08 02:58] willykaram opened #270 "Adding More Details on Venue Page"
The venue page need to be expanded to include some more information. In particular:

*Key contact/safety numbers

*Maps of the overall, and then of the areas of the venue that we're using, in particular the North Lawn building.

Rainer has prepared these maps and he can provide them to you.

[2014-04-08 03:05] willykaram opened #271 "Adding A Security Page"
Security at the UN is very tight and there are specific rules we need to follow.

For instance, we can't wander around the venue and must stay in the area where the event is occurring.

We need to enter via the main entrance at 47th St.

Everyone must have photo ID in order to granted a security pass in order to gain admission. Your security pass will be a multi-day pass for the duration of the ev

[2014-04-08 03:09] willykaram opened #272 "Adding a Food Page to the Site"
We need to have a page on the web site that explains the plan for food over the course of the conference.

In particular the Cafe's in the Northlawn building, on Thu/Fri for coffee refreshments. The main Cafeteria on the ground level of the secretariat building, and the food/refreshments that we'll be providing on the 15th floor of the secretariat building.

This document has some useful informati

[2014-04-08 03:15] postsimian commented on #272
sure, i can write content for web site

[2014-04-08 03:17] ForestMars commented on #271
Sorry I missed this, good catch Willy.

I've started an as yet unpublished Security page under Venue: http://www.nyccamp.org/security

Trello card is at https://trello.com/c/OvJNil5e/26-need-security-page

[2014-04-08 03:31] willykaram commented on #266
Sorry didn't see @esod's #265 we can close or just address both

[2014-04-08 03:54] likewhoa commented on #271
I added a UN logo on there just now.

[2014-04-08 03:56] likewhoa commented on #266
actualy molly started that one @willykaram

[2014-04-08 03:56] #266 closed, assigned to nobody

[2014-04-08 04:03] likewhoa commented on #194
@ForestMars I tested this well and if it's not working now I will find out why in a bit.

[2014-04-08 05:12] likewhoa commented on #236
@esod assigning to you since qr-code is your baby.

[2014-04-08 05:36] postsimian commented on #272
The UN has some restrictions on where catering can be provided. Therefore on Thursday and Friday, we'll only be providing coffee and refreshments in the Secretariat Building, 15th Floor. For participants in the North Lawn Building, Cafe Austria on the 2nd Floor will be open for business between 8 a.m. and 6 p.m. as well as the Cafeteria in the Secretariat Building, Ground Floor.

On Saturday, morn

[2014-04-08 05:59] likewhoa commented on #170
@willykaram not sure an expose filter will be ideal in this case since we want to archive old conferences i.e (2013.nyccamp.org) and over years it would be a PITA to have a large year drop down, so instead there should be a contextual filter based on the current year (when node was created) so that only relevant content shows up.

[2014-04-08 06:01] likewhoa commented on #179
For next year I think we should get rid of the 'register' tab menu link and instead have a register block and replace the current 'register for camp' block with a site menu link that points to a node that way we separate conference registrations with events registrations, so that the UX is less confusing.

[2014-04-08 06:22] likewhoa opened #274 "waitlist module working?"
Did anyone test this? I tried to enable waitlist on a node and it doesn't seem to take effect. Also, what's the point of leaving it checked on admin/structure/registration/registration_states

[2014-04-08 06:27] ForestMars commented on #274
It's unclear to me if this is working for normal users.

It seems to work for admin, though the UI seems buggy, however my sense is that Entity Regitration's wait list functionality is not working on the NYC Camp site.

I took a look at the issue queue for Wait list, and it seems like it should be working, although I got the sense there may be some brittleness to it (also a fair number of issues w

[2014-04-08 06:30] likewhoa commented on #274
yea, i tried to test with a normal user and it's not showing up so it seems to not be working. We also should uncheck the 'state' in admin/structure/registration/registration_states as this shows up for all site-admins on every registration form and it's confusing.

[2014-04-08 06:30] willykaram commented on #267
Completed

[2014-04-08 06:30] #267 closed, assigned to willykaram

[2014-04-08 06:32] likewhoa commented on #274
P.S i enabled waitlist for http://www.nyccamp.org/2014/trainings/decision-makers since it was the first event i saw that had all slots taken up and didn't have wait list enabled, but authenticated users still see 'Sorry, registrations are no longer available for Decision Makers' on it even after clearing cache (just to test).

[2014-04-08 06:34] ForestMars commented on #274
Given that the module's issue queue seems to indicate it is working, what might be have done to break it?

[2014-04-08 07:42] ForestMars commented on #254
Is this closable?

[2014-04-08 07:53] ForestMars opened #275 "BoF schedule is working?"
Is the BoF schedule working?

We have rooms assigned-- it would be great if we could send out an email so people could start prescheduling their BoFs on Thursday (or even Wednesday…)

[2014-04-08 15:13] esod commented on #254
Merge my pull request ( https://github.com/NYC-Camp/website/pull/276 ) and sure, let's close it.

[2014-04-08 15:16] #254 closed, assigned to nobody

[2014-04-08 21:25] ForestMars commented on #194
Example of session node this did not work on: http://www.nyccamp.org/session/how-collaboratively-develop-product-drupal-community

[2014-04-08 22:38] likewhoa commented on #274
@ForestMars dunno but I will troubleshoot this later tonight.

[2014-04-09 02:31] mirie commented on #272
http://www.nyccamp.org/food and linked in the menu under About

[2014-04-09 02:31] #272 closed, assigned to nobody

[2014-04-09 02:36] willykaram commented on #272
Thanks @postsimian totally appreciate you taking care of this. Once you're ready we can create a view that links to the notes with schedule/location details too, such as:

Sat night: : http://www.nyccamp.org/schedule/food-and-drinks

Thu/Fri Lunch: http://www.nyccamp.org/lunch-un-cafeteria

[2014-04-09 02:52] postsimian opened #280 "Calendar Menu Not Working in Nodes Responsive"
When you're viewing the site and reducing the width, the calendar menu doesn't seem to work in any of the nodes. I reduced the window in Chrome, Safari, and Firefox as well as  viewing it on my iPad and the menu does not work. The About menu icon to the right does work.
![menu](https://cloud.githubusercontent.com/assets/5113452/2651599/dd389eb0-bf91-11e3-858f-921a993e32f0.jpg)

[2014-04-09 04:51] ForestMars opened #281 "Add Spambot to site"
We need to remove all the fake spambot users from the site.

In order to prevent accidentally submitting any spambot users to UN security (we're hosting a security summit for them, so it would be pretty embarrassing to ask them to print badges for zxlkzlzlskwlx or yo.ma.ma@evil.ha.ckr.ru) we should consider doing this now.

I suggest installing and running Spambot (http://dgo.to/spambot). If we ru

[2014-04-09 13:18] #212 closed, assigned to likewhoa

[2014-04-09 15:13] #281 closed, assigned to nobody

[2014-04-09 16:33] likewhoa commented on #274
https://drupal.org/node/2231097 for reference on this as currently waitlist is not functioning.

[2014-04-09 18:15] ForestMars commented on #274
yes, I don't think that issue (which I filed) is necessarily related. In fact I closed it as it seems like it's just ui/configuration for user/1.

Nothing in there seemed to fix Wait list on the nyccamp site, and I haven't had a chance to spin up a clean D7 sandbox to confirm that wait list works out of the box.

[2014-04-10 06:21] ForestMars commented on #281
aaand we can probably remove spambot now that we've run it against the 2k users on site.

It doesn't do a very good job protecting the user reg form, IMX, and is mostly useful just for this kind of one time operation.

Going forward however we will need an antispambot solution.

[2014-04-12 05:29] likewhoa commented on #194
This is because field_accepted should NOT have anything like 'summit session,BoF or training session'. The field should only be used to tell if a session was either accepted,declined or pending.

On that particular node the 'summit session' value should have been selected at field_session_other_info instead.

[2014-04-12 05:44] ForestMars commented on #194
Why do you say that? (Are you saying that you believe 'pending' status is in COD?)

Need a specific reason here why you think additional status types are a bad thing and why those 3 are somehow magic.. Also, did you just know come to this conclusion? bc I could be mistaken, but I thought you were the one that originally combined the rules?

NB. This was working fine before the rules were combined,

[2014-04-12 22:32] likewhoa commented on #194
Pending is fine but the point of field_accepted is to know if a sessions is either 'unprocessed,pending,accepted or declined', not that it's part of a 'training,summit and or BoF' because we can already tell that by looking at the field_session_other_info which has training,summit and BoF as a value and the rule actually looks at these to determent which email to send out.

I didn't say that pendi

[2014-04-14 07:22] ForestMars opened #288 "Planet feed completely broken"
What happened here?

Drupal planet feed is completely broken on the new site. It's working perfectly on last year's site just the way I set it up, but this year's site doesn't even have the taxonomy term. Who deleted that?

Moreoever, we need to get this fixed. I'm marking this as a critical issue since we can't publish our post-camp news until it's fixed and that was supposed to go out first thin

[2014-04-14 07:25] ForestMars commented on #288
Update: Someone changed the Drupal Planet taxonomy term to "Walking with Shawn on the Beach."

How in the world did that happen?

[2014-04-14 07:59] ForestMars commented on #288
Fixed, but how in the world did that happen.

Also @likewhoa why is the filter set to "published or admin" and not just published?

[2014-04-14 15:24] likewhoa commented on #288
@ForestMars probably a mistake on my part but shouldn't cause the feed to not show. I would like to know who when ahead and renamed that term ffs.

[2014-04-15 01:58] ForestMars commented on #288
Why in the world would you close this issue? Our planet feed is completely broken and we cannot publish our post-camp news since this morning (actually since yesterday.)

Please do not close this issue until it's actually fixed, tested and our planet feed is showing up on drupal.org

[2014-04-15 03:47] likewhoa commented on #288
closed \o/ I didn't know that feed was still showing duplicates. All good now.

[2014-04-16 04:01] willykaram commented on #288
I'm going to post an update to the issue here to try and help use resolve this.

We should be constructing the the view with fields as opposed to using display suite, since that provides us with the fields settings needed for the RSS.

As opposed to mixing the news/RSS views, we should have the view for the RSS feed in it's own view for two reasons:
1. The Drupal Planet feed/view is very important

[2014-04-16 04:05] likewhoa commented on #288
very good points @willykaram and with that I agree to keep it separate, but how is DS being used here since we are using normal drupal displays?

[2014-04-16 04:09] willykaram commented on #288
We were using content display on the old view,  was being used in the old view that you deleted (you can tell by the machine name).

[2014-04-16 04:10] willykaram commented on #288
We should have excluded the old posts from this view so that they didn't go out on planet.

[2014-04-16 04:13] likewhoa commented on #288
yes content display doesn't mean we are using display suite. drupal comes with an RSS display by default. DS is not a problem here.

[2014-04-16 04:14] likewhoa commented on #288
Our feed shouldn't be so populated as you have it now,.. it should be straight forward with just title,post date,image & body. Our node display can show the rest of the fields. lets keep it simple.

[2014-04-16 04:26] ForestMars commented on #288
krect, the planet rss feed has only those 4 fields.

do what you like with the node (full), use ds if you like!

[2014-04-16 04:34] likewhoa commented on #288
ok, nothing to see here folks. All good. willyk++ kombucha++ rule32++

[2014-04-16 04:34] #288 closed, assigned to nobody

[2014-04-16 15:26] willykaram commented on #288
The feed now looks good on g.d.o: https://drupal.org/aggregator/sources/1319

Hopefully we can get the post about Holly published this morning and onto Planet.

[2014-04-16 18:19] ForestMars commented on #288
Fixed and it looks great on planet-- Thanks to everyone!

[2014-04-19 14:57] #194 closed, assigned to likewhoa

[2014-04-19 14:57] likewhoa commented on #179
don't think this issue is relevant now. Next year we should tackle the UX better and ahead of time.

[2014-04-19 14:57] #179 closed, assigned to likewhoa

[2014-04-20 19:32] ForestMars commented on #179
The plan is to rebuild our distro on COD beta as soon as it's released (imminently.)

Our immediate next step is to document all the changes we made to COD alpha-5. We should have a working group meeting about this at the next meetup so that it's ready for Drupalcon Austin @likewhoa @esod @scottrigby @willykaram

[2014-04-20 19:35] ForestMars commented on #194
We should start documenting our data model (ie outside of COD) before the next meetup. I agree that from a data modeling point of view we should avoid duplication such as having 'summit' and 'bof' both in 'type of session' and 'session status.'

This was somewhat unavoidable this year, but we should have a clean data model to use going forward. @likewhoa @esod @scottrigby @willykaram

[2014-11-26 18:09] tutko commented on #33
https://www.drupal.org/node/2188277

This is a known issue for panels updating from 3.3 to 3.4. The update commands are out of sequence, and update_7302() calls a table only created in update_7303()

There are several fixes offered in the Drupal issue cue I linked here. Number 34 works, as does a manual create of the missing table I used in Number 48.

Good luck!

[2015-03-08 17:40] willykaram commented on #253
I think this issue was resolved last year. For the 2015 site, I've installed and configured both Mollom and Honeypot (ATM just for user registration, password reset and session submission). Once we decide if/where to enable comments, ratings or other user interactions, we may need to implement some solutions there.

[2015-03-08 17:40] #253 closed, assigned to nobody

[2015-04-27 15:13] #68 closed, assigned to nobody

[2015-04-27 15:14] #70 closed, assigned to nobody