[2014-02-02 17:09] ElijahLynn opened #7 "left-sidebar creating undesired blank space at bottom of page"
![workspace 1_345](https://f.cloud.github.com/assets/1504756/2060726/8c1fa746-8c2c-11e3-9e7b-505f75904106.png)

Not quite sure why yet.

notes: padding-bottom: 100%, results in 2000 pixel bottom padding. Chrome 32 on Ubuntu

[2014-02-02 18:31] Offlein commented on #7
is the element 2000px high? If so isn't that what 100% padding means? I may be wrong.

[2014-02-02 19:58] ElijahLynn commented on #7
So far if I change padding to 51% it looks fine. Still setting up local environment though.

[2014-02-02 20:04] ElijahLynn commented on #7
Interesting, according to CSS 2.1:

Source: http://www.w3.org/TR/CSS2/box.html#padding-properties

[2014-02-03 23:53] ForestMars opened #9 "node edit styles not respected"
For example, regardless whether I use the rich-text wysiwyg editor, or disable rich-text and add the tags directly, styles are not being displayed correctly but are just being wrapped in a .p1 class p tag:

http://nyccamp.org/event/security-summit

Tested against Full HTML filter; I didn't try Raw HTML filter bc we really shouldn't be using that.

[2014-02-13 02:51] tz-earl opened #11 "Email notices for new user registration not received"
Created three users using email accounts on different services. This is what happened with the initial email notices:

fastmail.fm - got the email
zoho.com - went to spam
gmail.com - never got it; not in spam

[2014-02-13 02:53] tz-earl opened #12 "Email notices refer to 2013 camp, not 2014"
The body and subject line of emails are still referring to 2013, such as the notice to new users.

Closings this issue with just a note that the email is still not currently sending.

[2014-02-13 02:56] ForestMars commented on #11
Earl, can you please file this in the Pantheon support queue? We don't really have access to their mail server logs.

[2014-02-13 17:06] tz-earl commented on #11
Forest, I opened a ticket at Pantheon. Requested access to email logs and any other ideas they may have for troubleshooting.

Question to Pantheon: "Do you have any suggestions for troubleshooting this?"

Pantheon responded: "Not really. Because of our cloud infrastructure, email may come from many IP addresses and be affected by any specific companies' firewall rules. The best recommendation when

[2014-02-13 21:30] tz-earl commented on #11
Integrating SendGrid into Drupal:

http://sendgrid.com/docs/Integrate/Open_Source_Apps/drupal.html

[2014-02-13 23:05] tz-earl commented on #12
Fixed the wording in the email for the initial logon. Now refers to 2014 and the UN.

N.B. This change was made on the live site.

[2014-02-14 00:35] #12 closed, assigned to nobody

[2014-02-14 02:15] mirie commented on #9
Can you be more specific in terms of the styles you are trying to use? I tried bold and italics without issue (on dev) for the same node.

[2014-02-14 02:32] mirie opened #13 "Unable to evaluate action og_subcribe_user error when registering a new account"
This is an error that occurs everytime a new account is created via /user/register. The error message points to this Rule config page:

http://nyccamp.org/admin/config/workflow/rules/components/manage/rules_add_new_user_to_default_event_group/edit/3

[2014-02-14 03:24] mirie opened #14 "Error from views logged multiple times every time cache is cleared"
When clearing the cache, this error appears multiple times:

Notice: Undefined index: field_collection_item in views_handler_field_field->access() (line 127 of /srv/bindings/4cd08556c3d6499990ae30bfff6750c9/code/profiles/cod/modules/contrib/views/modules/field/views_handler_field_field.inc).

[2014-02-14 03:57] likewhoa commented on #13
this might be an issue with current entity. see https://drupal.org/node/1894326 and comment number 7. I will look into this further tomorrow.

[2014-02-14 04:43] likewhoa commented on #14
we can ignore these notices by adding <code>ini_set('error_reporting', 'E_ALL ^ E_NOTICE');</code> t settings.php or define the variable in question. These undefined index notices are common in modules as I've ran into them many times.

[2014-02-14 04:57] ForestMars commented on #14
++ for hiding notices for now.

We don't really have the development resources to go after warnings, let alone notices!

[2014-02-14 05:03] mirie commented on #14
All right. I posted this because I ran into problems based on the number of entities loaded and this error appeared several times locally. Several meaning, a whoooole lot.

[2014-02-14 06:02] likewhoa commented on #14
ok, if you want this see my first pull request! \o/ https://github.com/NYC-Camp/website/pull/15

[2014-02-16 01:55] likewhoa opened #16 "Remove obsolete modules from site"
There are a number of modules which we do not use or never will use. We should come up with a list of these modules and completely remove them from the site as they are just wasting space and cluttering up the sites/all/modules directory.

Also modules in the profile should be evaluated for removable as well.

[2014-02-16 02:21] likewhoa commented on #16
A quick list of modules which are not enabled are:
- font_your_face
- front (frontpage module)
- save_edit
- cck (probably was used to migrate from d6, we are on d7 now and it's 2014)
- absolute_messages
- better_formats
- better_exposed_filters
- block_class
- chosen
- cnr (Corresponding Node References, also missing node_reference module dep)
- first_login
- node_clone
- permission_grid
- permis

[2014-02-17 22:57] tz-earl commented on #11
"Email on Pantheon"  http://helpdesk.getpantheon.com/customer/portal/articles/515937

"Using SendGrid for Outbound Email"  http://helpdesk.getpantheon.com/customer/portal/articles/1153430-using-sendgrid-for-outbound-email

[2014-02-18 01:00] likewhoa commented on #14
as per @mirie request, i have made a new pr at https://github.com/NYC-Camp/website/pull/19

[2014-02-19 00:54] mirie commented on #11
I set up a SendGrid account for NYC Camp.

[2014-02-19 02:13] ForestMars commented on #11
How it's it that we didn't need this last year?
On Feb 18, 2014 7:54 PM, "Mai Irie" notifications@github.com wrote:

[2014-02-19 03:44] mirie commented on #11
@ForestMars, I don't know.

I setup the smtp module and added in the sendgrid creds on Prod. @tz-earl, @Offlein, @likewhoa and a friend of mine all tested a number of unique email accounts without issue.

[2014-02-19 04:02] mirie commented on #13
I disabled this Rule. This is not even being used anymore.

[2014-02-19 04:02] #13 closed, assigned to nobody

[2014-02-19 04:02] mirie commented on #9
@ForestMars, Any additional problems with this?

[2014-02-19 04:05] mirie commented on #14
This is being handled by https://github.com/NYC-Camp/website/pull/19.

@likewhoa, btw I don't think you need to create a new PR when making changes. You should be able to commit to that same feature branch.

[2014-02-19 04:05] #14 closed, assigned to nobody

[2014-02-19 04:08] mirie commented on #7
@ElijahLynn, can I assign this one to you? Are you all set with getting setup?

[2014-02-19 04:10] ForestMars commented on #9
Nope, looks all good now!

[2014-02-19 04:10] #9 closed, assigned to ForestMars

[2014-02-19 14:16] mirie opened #23 "Volunteer box remains unchecked on user profile page"
This is still a problem. I'm creating this issue on github instead of tracking it in Trello so we can get more eyes on it.

Steps to recreate:
1. Create a test user and check the volunteer box
2. Login

You will see that the volunteer box under the newsletter subscription tab remains unchecked. This will remain unchecked even after confirming the mailchimp volunteer signup list (the mailchimp emai

[2014-02-19 23:01] tz-earl commented on #23
Mailchimp module issue: https://drupal.org/node/2173189

Unfortunately, there's not much detail in that issue, but it sounds like the same problem.

[2014-02-21 12:33] jmarkel commented on #23
This problem seems to be resolved. There is a checkbox on each mailing list profile as to whether the subscriptions should be sent to MailChimp synchronously or via work-queue when cron runs. It looks from the code in the mailchimp module like the the user is being looked up via the MC API, but if the queue has not been run (which it may not have been) they still appear to not be a subscriber. Sti

[2014-02-22 03:54] ForestMars commented on #23
Not sure I follow here, but if I do get your meeting, queuing method is what I used last year, and it worked seamlessly.

On Feb 21, 2014, at 7:33 AM, Jeff Markel notifications@github.com wrote:

[2014-02-22 13:24] jmarkel commented on #23
Yeah, I've no doubt you're correct, Forest. But there have been various code changes since then. One issue seems to be the way subscriber info is being saved in the local cache. I'll trace it through more thoroughly when I have some time, but it's working now, which was the main problem for our immediate need.

[2014-02-22 13:27] jmarkel commented on #23
Mai, I'm kicking this back to you to decide if you want to close it now.

[2014-02-22 18:11] mirie commented on #11
I think this is resolved. closing this out.

[2014-02-22 18:11] #11 closed, assigned to mirie

[2014-02-22 23:51] ElijahLynn commented on #7
K, I am setup now. Does anyone have any background on where this theme came from? Was it custom/contrib?

[2014-02-22 23:52] ElijahLynn commented on #7
@robbiethegeek

[2014-02-22 23:52] ForestMars commented on #7
Zen Avenue? That's the theme Tim Hobert did for the camp last year, based on Zen, obviously.

[2014-02-23 02:52] ForestMars opened #32 "node/add/session broken for normal users"
while node/add/session works for admin, when a normal user goes to that page it throws a PDO error:

Unknown column 'field_data_field_accepted0.nid' in 'where clause':

https://trello.com/c/PsC7dg9H/29-node-add-session-not-working-bug

[2014-02-23 16:26] robbiethegeek opened #33 "Can't run updates table missing (cache_panels)"
Seems like the cache_panels table is missing it is added by :
 function panels_update_7303() {
   $table_name = 'cache_panels';
   if (!db_table_exists($table_name)) {
     $schema = drupal_get_schema_unprocessed('system', 'cache');
     db_create_table($table_name, $schema);
   }
 }

WD php: PDOException: SQLSTATE[42S02]: Base table or view not found: [error]
1146 Table 'nyccamp2014_kala.cache_pa

[2014-02-23 17:31] esod commented on #33
Interesting. All's well for my localhost and our shared environments

vagrant@kala:/var/www/nyccamp2014$ drush @kalastack.nyccamp2014.kala updb
No database updates required                                                                               [success]
Finished performing updates.                                                                               [ok]

vagrant@kala:~$ drush @pan

[2014-02-23 17:41] robbiethegeek commented on #33
drush up is what I was looking at to update modules and then run updates.

[2014-02-23 17:54] robbiethegeek opened #34 "Sanitize database..."
We should be sanitizing the DB when pulled from prod to dev so they pullsite will have a sanitized DB, there are lots of ways to do it, but we should totally not have real email addresses, passwords and we should reset user 1 to a known username, email and password for dev / locals that is not what is on prod.

[2014-02-23 18:00] esod commented on #33
You may end up with modules in two places using drush with COD. COD has contrib modules in profiles/cod/modules/contrib and drush puts modules in sites/all/modules/contrib.

There are no security updates currently needed for the site. I can have a look at updating panels, which is the one that I think is causing your PDO exception error. My plan, however, was to go with the existing code base as w

[2014-02-23 18:02] esod commented on #34
I totally agree with this, but others thought differently.

[2014-02-23 20:56] ForestMars commented on #34
IMO "drush --sanitize" is probably the most  straight-forward / easiest.

[2014-02-23 21:05] robbiethegeek commented on #34
drush sql-sync isn't supported on Pantheon, but there is lots of ways to run the SQL that is in --santize to resolve, and drush pullsite doesn't support the --sanitize flag.  Maybe we look at porting the --sanitize flag to drush pullsite command? or adding a callback function to drush pullsite that can run a shell script.

[2014-02-23 21:08] ForestMars commented on #34
@Robbie- Actually, the patch for that was written by NYC Community member Chris Oden. I tested it almost 2 years ago (and have been using it since.) It's called Pandarus, and it's super easy to install.

There are a couple steps, but basically the panderus file to your drush folder allows you to use "drush  pan-sql-sync" against Pantheon as you would normally drush sql-sync, without jumping throug

[2014-02-23 21:13] robbiethegeek commented on #34
Let's not keep these beautiful successes under a bushel and get them submitted to the tools, so they can be used by the community :) Please close when you submit or convince Chris Oden too, and document the change since all current developers are pulling DBs full of personally identifiable info to their locals.

[2014-02-23 21:34] rabellamy commented on #34
https://github.com/NYC-Camp/website/blob/master/sites/all/drush/pandarus_backend.drush.inc

[2014-02-23 21:42] ForestMars commented on #34
Ok, so what do we need to do to incorporate Pandarus into the current workflow?

It seems like we would just need to rewrite scripts to use pan-sql-sync, and update the workflow document. What else?

[2014-02-23 21:43] robbiethegeek commented on #34
Am I missing something? Does this support a flag for sanitize?  I just dug through the code and don't see it.

[2014-02-24 01:02] ElijahLynn commented on #34
https://drupal.org/project/Pandarus

[2014-02-24 01:02] ElijahLynn commented on #34
Also:

http://helpdesk.getpantheon.com/customer/portal/articles/411388-using-drush-on-pantheon

At this time, you cannot use sql-sync on Pantheon. Instead, Pantheon has enabled sql-sync-pipe, a functionally equivalent command. You will need to install Drush SQL Sync Pipe locally in order to use it.

If you need support for sql-sync-pipe, please visit the Drush SQL Sync Pipe issue queue and create

[2014-02-24 01:03] ForestMars commented on #34
@likewhoa confirmed he has this (pan-sql-sync) currently working on his local, however we may want to use a pipe instead. cf. https://drupal.org/project/drush_sql_sync_pipe

While Pandarus is a workable solution, it seems like using sql-pipe might be the better way to go here.

Having said that, we should choose the solution that is _better_ for our workflow (least friction) and not on the basis o

[2014-02-24 01:11] robbiethegeek commented on #34
I don't care what we do, what I do care about is obscuring user data.  Right now any dev that signs on to help gets every users email address and password from everyone that attended the last NYC Camp.  That seems like we are not taking seriously the security of people's user information.  This started cause I pointed out a problem, and mentioned there are lots of ways to solve it.  All I care abo

[2014-02-24 04:36] likewhoa commented on #34
@robbiethegeek sounds good but what stops users who _we_ grant access to pantheon from fetching the db themselves? +1 for sanitizing the db though with 'drush --sanitize'

I am going to start using sql-pipe tomorrow as I never used it before.

[2014-02-24 04:41] ForestMars commented on #34
@likewhoa Let us know what the performance benchmarks for sql-pipe look like. That seems like it's make-or-break.

[2014-02-24 22:59] likewhoa commented on #34
@ForestMars tested sql-sync-pipe and the data got corrupted on the first run see  https://gist.github.com/anonymous/9197937 so I ran the command a second time and all when well.

The speed on sql-sync-pipe is hella slow, see my timings below.

-> time drush -y pan-sql-sync @pantheon.nyccamp2014.live @self
real    1m49.074s
user    0m5.011s
sys 0m2.328s

-> time drush -y sql-sync-pipe @pantheon.nyc

[2014-02-24 23:11] ForestMars commented on #34
@likewhoa @ElijahLynn So we have definitely confirmed that pan-sql-sync supports the --sanitize flag…?

[2014-02-25 01:51] likewhoa commented on #32
closing this one @ForestMars but I will keep the 'sort' issue in mind for later.

[2014-02-25 01:51] #32 closed, assigned to nobody

[2014-02-25 01:58] mirie commented on #23
I checked this on Sat and it looked good. I forgot to comment and close this out.

[2014-02-25 01:58] #23 closed, assigned to mirie

[2014-02-25 02:18] mirie opened #36 "Anonymous users issue (bug in COD)"
An anonymous user has access to particular content types on: http://nyccamp.org/node/add/
    • Room
    • Schedule Item
    • Session
    • Time Slot
If an anonymous user clicks on: http://nyccamp.org/node/add/session, that user gets redirected to:http://nyccamp.org/session/propose/lightning. This node add form also displays the Revision information.

This is related to the OG permissions/access

[2014-02-25 02:25] ForestMars commented on #36
On the website call tonight we agreed to punt on this for now, since it is a bug in COD, and not a regression we introduced.

[2014-02-25 02:26] ForestMars opened #38 "node/add/session broken for normal users"
Authenticated users cannot even save their titles as placeholders or whatever. When they click save they will be prompted with the error message:

You must select one or more groups for this content.

[2014-02-25 02:34] ForestMars commented on #38
When an authenticated user goes to /node/add/session, they are presented with 2 fields: Session title, the vertical tab for "Revision information."

All the other fields for session description, tracks, audience, length, "is training?", etc are all missing.

[2014-02-25 02:35] ForestMars commented on #36
@esod Can you add a link to the upstream issue please?

[2014-02-25 04:05] likewhoa commented on #34
confirmed that --sanitize works with pan-sql-sync. I don't recommend sql-sync-pipe at this time.

[2014-02-25 07:33] mirie commented on #38
I think @ForestMars and @willykaram resolved this.

[2014-02-25 07:39] ForestMars commented on #38
Y that's right.

[2014-02-25 07:39] #38 closed, assigned to nobody

[2014-02-25 07:49] ForestMars commented on #36
Having just resolved https://github.com/NYC-Camp/website/issues/38 we can now open up sessions; however we still have the apparently OG related bug that is allowing anon users to create types of content at http://nyccamp.org/node/add/room, /node/add/time-slot & node/add/schedule, which roughly correspond to the bundles that have OG field settings defined:

http://www.nyccamp.org/admin/config/group

[2014-02-25 14:25] mirie commented on #34
@ElijahLynn, @ForestMars - Confirmed with @likewhoa help that pan-sql-sync --sanitize works. We will update that tools document today.

@ElijahLynn, is that document ready to be added to the readme after we add this part?

[2014-02-25 16:18] ForestMars commented on #36
@Sergey-Semashko - Can you take a look at this?

[2014-02-25 17:04] mirie commented on #34
@jmarkel also confirmed that this worked for kalastack users with no additional configuration necessary.

[2014-02-25 21:06] mirie commented on #34
All, the writeup is complete in the Git Workflow & Dev Environment document. Not sure what our preference is for where this document should live, so leaving this issue open until that final piece is decided.

[2014-02-25 21:09] ForestMars commented on #34
I think the plan was to make it a (wiki) page on Github (with Github pages, ie, not a repository.)

I recall someone volunteering to do that, who was it!

[2014-02-25 22:45] ElijahLynn commented on #34
I volunteered, it likely won't be until Thursday night before I can convert
it. The main workflow steps should go in the readme.MD if anyone wants to
do it before then.

Elijah Lynn
903.Eli.jahs (354.5247)
www.elijahlynn.net
On Feb 25, 2014 4:09 PM, "Forest Mars" notifications@github.com wrote:

[2014-02-26 01:21] mirie commented on #36
From Skype chat, Willy wrote:

From what I can see in the various core and OG permissions tables, all the node grants and field perms are the same bet 2013 and 2014 (at least for the time slot entity I'm looking at). That would lead me to think that is a core role/perms issue or OG group/perms issue, a not an entity/fields perms issue.

It's happening across multiple entities w/different field, an

[2014-02-26 01:23] mirie opened #39 "Add Block for "Latest Slides""
This is for after the camp, when presenters are uploading their slides. Let's add a block display to a view showing latest slide uploads.

[2014-02-26 01:28] mirie commented on #36
I agree with this idea:

[2014-02-26 01:31] mirie opened #40 "QA Task: Confirm that session acceptance emails are going out."
We need to either test this is working on Testing server, or, since it involves email, we could test on the live site by designating a session or 2 as test cases.

In any case, this absolutely needs to be confirmed working before sessions are accepted / finalized.

[2014-02-26 01:35] ForestMars commented on #40
I think we still have a little bit of time on this. We can use a session submission by someone on the team as a test case.

[2014-02-26 01:36] ForestMars commented on #36
I can't agree with that at this point. We didn't have this issue last year; ergo it's either a bug in cod or something we messed up. In case 1 we need to work with upstream to fix, in case 2 we need to undo what we messed up.

We can always just add a rule to prevent anon users from accessing those pages.

[2014-02-26 01:38] ForestMars commented on #39
And tweet them as they go up!

[2014-02-26 02:44] mirie opened #41 "Checkin/Registration App to use with attendees arriving"
Improvements on last years checkin/registration application.

[2014-02-26 02:45] mirie commented on #41
@Offlein, please update this issue with the specifications so we can all be on the same page on the expectations. Can you also create a repo for this app?

[2014-02-26 02:52] jmarkel commented on #34
The first pass at markdown-ing the overview is in PR #42

[2014-02-26 03:05] mirie opened #43 "Clean out old roles of current users"
We need to remove the additional roles (such as volunteer, session organizer, etc) from all of last year's user accounts.

Care should be made since updating a user will trigger adding the updated user to the mailchimp list for 2014.

I propose the following:
- [ ] Changing the MailChimp config (admin/config/services/mailchimp/lists/1/edit) from authenticated user to "Attendee"  (attendee already

[2014-02-26 03:07] mirie opened #44 "Update volunteer interests field, availability and make them available on user edit page."
These terms should be indicate the teams the user is involved in: dev, design, etc.

[2014-02-26 03:14] tz-earl commented on #43
Is there any limit to the number of Attendees?

[2014-02-26 03:23] jmarkel opened #45 "QA - User profile form prompts users for "Organizer" info"
On the fields for Phone number and Skype ID. Should be like "Please enter your [phone number | Skype Id] to be consistent with other fields on the form.

![organizer_instead_of_user](https://f.cloud.github.com/assets/3930383/2266296/11fa59b8-9e95-11e3-86eb-d58abaf22f4a.jpg)

[2014-02-26 03:27] mirie commented on #43
@tz-earl, sorry, what do you mean by limit?

[2014-02-26 03:29] tz-earl opened #46 "Propose a Session - Presenters name"
Edit Session form: I typed in my real name for the Presenters field. After that name was rejected, I realized it wanted my login username.

After typing in the username, then the field also autofills the user id number after the username, eg. (55). That id number apparently is needed because if I edit out just the number and leave the username, the form is accepted but the field reverts to being b

[2014-02-26 03:32] tz-earl commented on #43
@mirie Is there a cap on the number of people who are Attendees, a maximum number who, theoretically, might attend?

[2014-02-26 03:36] mirie commented on #43
sure, I guess -- we can have only so many people at one time in the venue or in a given room.

Anyways, looking at the current db, there's only one test account assigned the attendee role. I think the attendee role was never used

[2014-02-26 03:39] tz-earl opened #47 "Propose a Session - html in Description"
Regardless of the choice of Text Format, it seems that all html markup is ignored and the Description text is always treated as plain text. For instance, the &lt;strong&gt; tag is displayed literally.

[2014-02-26 03:42] ForestMars commented on #43
How are we distinguishing those who have an existing account on the site from those who are registering for NYC Camp 14? It sounds like we can do this with the attendee role, using rules, and synch that to a MC list for this year's attendees. #2xwin.

What other complications are involved with that, and does this put us on a bad path for next year's rinse & repeat?

[2014-02-26 03:47] mirie commented on #43
We don't have any separation at this time for existing accounts vs new
registers besides the creation date.

I don't think it puts us on a bad path. However, we do need to do some
cleanup of the 2014 role assignments during the sunset for the site if we
are going to keep all of the users for next year.

On Tue, Feb 25, 2014 at 10:42 PM, Forest Mars notifications@github.comwrote:

[2014-02-26 03:52] tz-earl commented on #43
If we're going to keep accumulating from year to year the set of attendees, maybe we need more granularity, e.g. "2013 Attendee", "2014 Attendee", etc.

[2014-02-26 03:55] tz-earl opened #48 "Propose a Session - <!--break--> in Description"
Instructions for the Description mention that the delimiter &lt;!--break--&gt; can be used to indicate where the trimmed version splits off, but I haven't been able to get that delimiter to work. (See previous issue about html not being recognized.)

[2014-02-26 04:07] mirie opened #49 "Fix Attendee List (Community) View"
http://nyccamp.org/community -- admin/structure/views/view/attendees/edit/page

This view needs to be updated. The view config will remain in the DB for now due to time constraints. We can look at moving out this exportable to cod extras post-camp.

[2014-02-26 04:12] mirie opened #50 "Consolidate and update Volunteer admin Views"
There are apparently 2 views for managing volunteers:
- http://nyccamp.org/admin/dashboard/volunteers -- admin/structure/views/view/admin_manage_users/edit/
- http://nyccamp.org/admin/volunteers -- /admin/structure/views/view/volunteers/edit

These should be consolidated into preferably the dashboard version and updated.

This relates to #43 and #44.

The view config will remain in the DB for now

[2014-02-26 04:19] tz-earl opened #51 "Propose a Session - Other Info field, N/A"
For the Other Info field, choosing the N/A radio button does not persist. When you go back to editing the form, the field has no value. The other values do persist.

Same problem with the Experience Level field. N/A does not stick, other values do.

[2014-02-26 04:31] jmarkel opened #52 "QA - Podcasts page - Duplicate page title"
"Podcasts" appears both as an H1 and an H2, one above the other.

Looks like the Panel is putting in the duplicate header tag

[2014-02-26 05:09] mirie commented on #45
@jmarkel

I updated the help text on http://test-nyccamp2014.gotpantheon.com/. Are these okay? I left out the f/lname and Bio fields.

[2014-02-26 05:23] mirie commented on #46
@tz-earl,

I think this can be adjusted by doing the following:
1. Go to /admin/structure/types/manage/session/fields/field_presenters/field-settings
2. Change the Entity Selection Mode to: _Views: Filter by an entity reference view_
3. Select: "cod_community_attendees - Entity Reference" -- this uses the admin/structure/views/view/cod_community_attendees/edit/entityreference_1 view

I made this c

[2014-02-26 05:36] mirie commented on #52
@jmarkel,

This Panel can be edited here: admin/structure/pages/nojs/operation/page-podcasts/handlers/page_podcasts_panel_context/content

Steps taken on Variants > Content
1. Changed the "Title Type" to Manually Set and added "Podcasts"
2. Clicked the gear icon to the right of the Podcasts panel in the Intro section, and selected Settings from the context menu
3. Checked _Override title_ and set

[2014-02-26 05:47] mirie commented on #47
@tz-earl

I can't replicate this. Here's the test session I created using tester_volunteer (authenticated role only) account: http://test-nyccamp2014.gotpantheon.com/session/test-session-markup

Are you using the wysiwyg buttons? If you want to add the html tags directly, you have to click _Disable rich-text_

Can you provide more detail on the steps you're taking so I can replicate this issue? Th

[2014-02-26 05:51] mirie commented on #48
Hey @tz-earl, I'm looking for the text that says a user can use

I'm seeing:
Text Format   <dropdown>
Allowed HTML tags: <a> <em> <strong> <cite> <blockquote> <code> <ul> <ol> <li> <dl> <dt> <dd> <h4> <h5> <h6> <p> <br> <img> <strike>

Can you point me in the right direction?

[2014-02-26 06:06] mirie commented on #51
@tz-earl,

I think this is the default behavior of the Drupal radio button field widget.

If we really want to ensure that none is _selected_ then this can be changed by using the select widget:

/admin/structure/types/manage/session/fields/field_session_other_info/widget-type
/admin/structure/types/manage/session/fields/field_experience/widget-type

Perhaps the Other Info field was set to radio b

[2014-02-26 06:24] ForestMars commented on #46
@mirie's right, that should be using an entity reference to cod community view, however that's not going to hide those uid's for you. That's a bit of trickiness I'll wager is beyond our ken, given constraints.

It does get us the ability to show user's profile pics in that entity reference view, which is probably not all that useful for this form, and not included in our FSD.

[2014-02-26 12:20] jmarkel commented on #52
Fixed it this AM in test and in Live

[2014-02-26 12:20] #52 closed, assigned to nobody

[2014-02-26 15:05] tz-earl commented on #47
@mirie I'm an idiot. Chalk this up to Operator Error. Of course, I now realize that the default text area is wysiwyg and that "Disable rich-text" = "Edit in HTML".

[2014-02-26 15:05] #47 closed, assigned to nobody

[2014-02-26 15:22] tz-earl commented on #48
@mirie If you go to the Edit Session page, eg.
  http://test-nyccamp2014.gotpantheon.com/node/528/edit
and click on the Preview button at the bottom, you'll then see at the top of the page

"The trimmed version of your post shows what your post looks like when promoted to the main page or when exported for syndication. You can insert the delimiter "" (without the quotes) to fine-tune where your po

[2014-02-26 15:29] jmarkel commented on #45
Looks good, Mai - let's go with that

[2014-02-26 15:32] mirie commented on #46
Yeah, the profile pics part is annoying. Is it ok to just override the view entity reference display?

[2014-02-26 15:34] tz-earl commented on #51
@mirie I find the select list is clearer and more consistent in how it works. With the radio buttons I make a choice and expect it to be saved because N/A appears to be a valid value like all the others.

Another way to deal with this is that for Experience Level, add another choice "All Levels". For Other Info, add the choice "Other".

"Other Info" could be re-worded to "Kind of Session".

[2014-02-26 16:57] mirie commented on #36
Adding link for @esod 's upstream issue: https://drupal.org/node/2205773

[2014-02-26 17:34] esod opened #53 "Authenticated users don't see the Status field"
Without seeing the field, the authenticated user doesn't know the status of his or her session. Nether do other authenticated users or anonymous users. The attached screen shots hopefully tell the story.

![admin-sees-status-field](https://f.cloud.github.com/assets/387576/2273078/d87647ac-9f0b-11e3-9462-6ef2df2e5298.png)

![admin-sees-a-message](https://f.cloud.github.com/assets/387576/2273081/de6

[2014-02-26 17:50] esod commented on #53
I fixed it.
1. I gave View own value for field Status to everyone. This is fine. Authenticated doesn't see the Status field in his admin and Anonymous users can view this information.
2. I gave View anyone's value for field Status to everyone. Authenticated will be to see the Status field on other sessions, same for anonymous users.

Anonymous user can

[2014-02-26 17:50] #53 closed, assigned to nobody

[2014-02-26 18:04] esod opened #54 "Make default status of Status field Pending"
The default of the Status field (field_accepted) is set to None. A status of None prints nothing on the View. Let's change the default to Pending.

[2014-02-27 04:12] jmarkel opened #55 ""Submit A Session" formatting broken"
The "SUBMIT A SESSION" link in the Propose A Session block overflows its block by 30px,  across the gutter, even after the text was changed from "REGISTER NOW TO SUBMIT A SESSION"

[2014-02-27 04:14] jmarkel opened #56 "The Twitter and Facebook blocks on the front page are empty"

[2014-02-27 23:10] likewhoa commented on #56
Where are you seeing this @jmarkel? WFM on live.

[2014-02-27 23:46] jmarkel commented on #56
Seeing it (actually, NOT seeing it) on live (http://nyccamp.org) and on dev, test, and local

The Twitter block just has a link to the twitter account instead of showing a list of recent tweets as it should

[2014-02-28 00:54] mirie commented on #56
@jmarkel,

I checked this out on nyccamp.org as:
- anon user
- authenticated user
- site admin user

In all cases, I see the content in the twitter and facebook blocks. This was in Chrome.

Can you provide browser details?

[2014-02-28 00:57] mirie commented on #36
@esod,

I'm updating this issue to include what we discussed last night:

We decided to disable the OG functionality until after the camp when we'll have more time to investigate the problem.

This means removing those OG field settings, correct? --> /admin/config/group/fields

[2014-02-28 01:02] mirie commented on #48
Ok, this is not a big deal because we are going to decide on the teaser presentation, not the authenticated user.  I'm going to mark this as won't fix.

[2014-02-28 01:02] #48 closed, assigned to nobody

[2014-02-28 01:03] tz-earl commented on #56
http://test-nyccamp2014.gotpantheon.com/

twitter and facebook blocks on the front page are well populated in Firefox 26.0, Chrome, and Opera Mini on my dumbphone.

[2014-02-28 01:12] mirie commented on #45
Done.

[2014-02-28 01:12] #45 closed, assigned to mirie

[2014-02-28 01:18] mirie commented on #54
@esod, is this already setup on prod? I see you re-opened this.

[2014-02-28 01:29] jmarkel commented on #55
Proposed a fix in PR #57

[2014-02-28 01:38] ForestMars commented on #43
What I meant was using the attendee roll to synchronize with MailChimp

The actual registration should be handled through organic groups of course

[2014-02-28 01:42] ForestMars commented on #36
I am very much again disabling cod until there is a discussion here and the reasons are clearly stated.

[2014-02-28 01:45] ForestMars commented on #36
This issue in particular, #36, relates to a putative bug in COD, however one that is not a showstopper, given there are workarounds such as using Rules.

If additional complications were discussed they need to be documented here, or a new issue crested to track the problem.

[2014-02-28 01:45] jmarkel commented on #56
Weird. Must be adblock or something. sigh

On Thu, Feb 27, 2014 at 8:03 PM, Earl Fong notifications@github.com wrote:

[2014-02-28 01:48] jmarkel commented on #56
It was my "Disconnect" plugin. Sorry...

[2014-02-28 01:48] #56 closed, assigned to nobody

[2014-02-28 02:09] likewhoa commented on #54
Where is this view you speak of @esod?

[2014-02-28 03:15] jmarkel commented on #55
#57 merged. Closing.

[2014-02-28 03:15] #55 closed, assigned to nobody

[2014-02-28 04:00] likewhoa commented on #49
done... summary of changes.
- linked both [picture] and [name] to user/[uid]
- fixed 2 missing handlers

[2014-02-28 04:00] #49 closed, assigned to likewhoa

[2014-02-28 04:03] esod commented on #54
@likewhoa I mean View as in MVC View. I guess that's not precise enough in context.

I'll post a screenshot.

[2014-02-28 04:04] esod commented on #54
@mirie I accidentally clicked closed. That was a slip of the hand only.

Screen shot to follow will explain what I mean.

[2014-02-28 04:11] esod commented on #54
![change-status-default-state-to-pending](https://f.cloud.github.com/assets/387576/2290940/7008cf7c-a02e-11e3-928d-2ebcf06b96e3.png)

[2014-02-28 04:28] jonpugh opened #58 "Create (or find) (or fix) View Sessions pages"
We need one for "Submitted sessions" and "accepted sessions."

[2014-02-28 04:31] jonpugh commented on #58
http://live-nyccamp2014.gotpantheon.com/admin/structure/views/view/nyccamp_schedule/edit

The view, for reference. Thanks, @esod

[2014-02-28 04:34] likewhoa commented on #54
all done.

[2014-02-28 04:34] #54 closed, assigned to nobody

[2014-02-28 04:35] mirie commented on #58
Hey there's this sessions view: admin/structure/views/view/sessions/edit

Is that what you're looking for?

[2014-02-28 04:44] jonpugh commented on #58
Good question.  I'm not taking this on now, I just posted the issue because there wasn't one yet.

I was assuming that COD would have that page!

[2014-02-28 04:47] likewhoa commented on #39
@ForestMars doable with twitter module, rules and views_bulk_operations but you'll need to supply me with a test twitter account to abuse. In the meantime I'll add the latest slides blockz0r.

[2014-02-28 05:03] jonpugh commented on #58
weird, I cannot label this issue...

[2014-02-28 05:03] mirie commented on #58
That's very weird. I just labeled it.

[2014-02-28 05:09] mirie commented on #43
Ok, I updated old user accounts that haven't accessed the site for over 6 months and removed roles (volunteer, site admin, \* organizer, etc). Removed speaker roles from all accounts.

I didn't do anything with the Attendee role or the mailchimp settings. Closing this out.

Needed to finish this in order to handle #50.

[2014-02-28 05:09] #43 closed, assigned to nobody

[2014-02-28 05:10] jonpugh commented on #58
I am not an admin of this repo, thats why i think.

Anyway the proposed sessions view was filtering on "Unprocessed", not pending.  Fixed: http://live-nyccamp2014.gotpantheon.com/program/sessions/proposed

[2014-02-28 05:12] jonpugh commented on #58
TODO:
- [ ] Add more info like Track.
- [ ] Add exposed filter for track.
- [x] Add a menu link to the main nav and to the "Submit a session" block, and to the http://nyccamp.org/event/sessions-all-day-sat page.

[2014-02-28 05:12] mirie commented on #58
Added you as a member.

[2014-02-28 05:12] jonpugh commented on #58
thanks!

[2014-02-28 05:23] jonpugh commented on #58
Should I ask for approval to add links to the proposed sessions page? or for forgiveness after I do it myself?

[2014-02-28 05:34] jonpugh opened #59 "Create Sessions block in code, remove code in sessions block"
I know its convenient, but we really should NOT use PHP Code input format in a block!

It is really not hard to use hook_block_info() and hook_block_view().

It is SO easy to break this...

[code]

http://nyccamp.org/admin/structure/block/manage/block/8/configure

[2014-02-28 05:45] jonpugh commented on #58
Done.  Link added under About menu, to frontpage session block, and to "All day sessions" event page.

[2014-02-28 05:56] mirie commented on #50
[ x ] got rid of duplicate view
[ x ] Updated the dashboard for both the admin attendees page and the volunteer admin page.

[2014-02-28 05:56] #50 closed, assigned to mirie

[2014-02-28 06:14] jonpugh commented on #58
Good enough for now.  Let's open another issue for enhancing down the road.

[2014-02-28 06:14] #58 closed, assigned to nobody

[2014-02-28 06:48] mirie commented on #44
Ignore previous comment above. We are going to use the existing fields.

[2014-02-28 06:54] likewhoa commented on #39
View is available at admin/structure/views/view/cod_session_sessions/edit now and will only show content with slides attached starting from January, 2014 at 4:20pm and on.

[2014-02-28 06:57] likewhoa commented on #59
Yes, I agree and we should disable the php module all together as is is BAD practice to put code into the DB. All custom code should go into sites/all/modules/CUSTOM/... FFS.

[2014-02-28 07:03] mirie commented on #44
- Deleted rows for volunteer availability (July values) from field data and revisions table (field_data_field_volunteer_availability and field_revision_field_volunteer_availability)
- Cleared site cache to clear out user entities
- Adjusted field permissions for field_volunteer_availability, field_volunteer_interests, and field_volunteer_notes so that auth users can edit/view own; and site admins/

[2014-02-28 07:12] mirie commented on #39
This looks good --

Would probably change the title to: Latest Session Slides and adjust the cache setting.

I know you have a filter set to unpublished for testing -- so I'm ignoring that -- just adding so that @ForestMars knows why its setup this way.

Next time, you can probably setup your test nodes and import your view on Dev/Test (to verify what you have setup locally) and export the view wh

[2014-02-28 07:26] likewhoa commented on #39
gotcha :smiley:

block view is actually at admin/structure/views/view/sessions/edit/block_6

[2014-02-28 07:50] mirie commented on #44
View updated to:
- display filters for volunteer interests and availability
- display values in the table
- adjusted output for name, email, other contact info

[2014-02-28 07:50] #44 closed, assigned to mirie

[2014-02-28 07:51] mirie commented on #34
@jmarkel, can up date the readme so that feature branches are made off of master, and not integration?

[2014-02-28 07:52] mirie commented on #33
@esod @robbiethegeek, what's the status on this? Is this still an issue?

[2014-02-28 08:01] mirie commented on #41
Here's the repo link that @Offlein provided: https://github.com/NYC-Camp/nyc-reg2  Thanks!

[2014-02-28 12:37] ForestMars commented on #59
1. JohnPugh++ for pointing this out.
2.  "really not hard to use hook_block_info() and hook_block_view()" So, @jonpugh, which commit did you push that in…?  :-p
3.  https://gist.github.com/ForestMars/9270323

[2014-02-28 14:06] rabellamy commented on #59
ForestMars++

[2014-02-28 14:34] esod commented on #33
No, this is not an issue.

Since we're considering removing OG from COD during the next several days, I don't want to update contrib modules at this time that are not a security update. The panels update from 7.x-3.3 to 7.x-3.4 is not a security update so this is not an issue.

[2014-02-28 15:35] jonpugh opened #61 "Proposal: Continuously mirror the full github repo on Pantheon"
Hi all,
I have a proposal.

We could remove a lot of the complexity of the workflow by simply continuously mirroring the github repo to pantheon.  This would mean that any commits and branches go directly to pantheon: Do not pass GO. Do not collect $200.

This would mean that we can just use pull requests, and when they are merged to master, it will go directly to the Dev site.  No more "upstream"

[2014-02-28 15:39] rabellamy commented on #61
Sounds good to me

[2014-02-28 15:43] jmarkel commented on #61
Sounds good to me too. Seems to simplify things

I do want to hear Eric's thoughts though, since he's been the one doing the merges.

[2014-02-28 15:47] rabellamy commented on #61
@mirie what do you think?

[2014-02-28 15:53] esod commented on #61
Once a pr is merged to master, having it go directly to the Pantheon Dev site is a good idea.

We're using Pantheon's multi-dev to develop functionality that we don't want in the master branch until the functionality is complete. The Personal Schedule feature, for instance, could conceivably be in the master branch because it's a self-contained features module. If the module is enabled, the menu t

[2014-02-28 15:56] mirie commented on #61
Yes, this sounds great. Thanks @jonpugh for creating this issue. I know it got lost in both irc and on skype the other day.

Also, when setting this up, can you add steps taken to the issue so that it's documented?

Thanks!

[2014-02-28 15:59] willykaram commented on #61
We should be sure to a a quorum among at least get Tony, Mai, Eric, Forest and Elijah's on this issue. I'm trying to stay out of the fray on the web/dev workflow in order to focus on some of the other logistics of the camp as per the breakdown in Trello (venue, sponsorship, sprints, summits, trainings, food, design, travel, etc). You can see more on Jon's planet post here:

http://thinkdrop.net/bl

[2014-02-28 16:07] jonpugh commented on #61
@esod Just to be clear, all branches get mirrored, so multidev will still work fine.

[2014-02-28 16:10] jmarkel commented on #61
Thanks for doing this, @jonpugh - a welcome simplification :-)

Let's make sure we keep the workflow documentation in sync too, so we don't
trip over our own feet. I had updated the README.md from the current
workflow doc in GDocs, but @ElijahLynn was going to follow up and do a full
wikify on it.

On Fri, Feb 28, 2014 at 10:59 AM, Willy Karam notifications@github.comwrote:

[2014-02-28 16:48] mirie opened #62 "Connect Volunteer role with that mailchimp volunteer checkbox option"
I don't think these are actually connected up properly.

**Background**

When a user _registers_ or _updates_ his/her user profile, there is either a checkbox on the register page or a local menu tab (user/%uid/mailchimp) for the mailchimp volunteer signup. The mailchimp volunteer list is setup here: /admin/config/services/mailchimp/lists/2/edit

However, when a user un/checks this volunteer optio

[2014-02-28 16:58] jonpugh commented on #61
Ok. Here's the steps we gotta take:
- [x] Sync pantheon repo to github repo manually to ensure everything is in github.
- [x] Ensure hubdrop.io's SSH key is in my pantheon account so it can push.
- [x] I will add the bare git repo to hubdrop and configure it to pull from github and push to pantheon.
- [x] Push some test commits to GitHub and wait a few minutes to ensure it works.
- [ ] THEN switch

[2014-02-28 17:03] mirie commented on #61
Who are the remaining people who need to agree on this approach before we can move forward?

So far for YES, we have: @rabellamy, @esod, @jonpugh, @jmarkel, and me.

So from @willykaram's comment, it looks like we need: @ForestMars and/or @ElijahLynn.

Adding @robbiethegeek to this in case he wants to weigh in since he was on the workflow call.

[2014-02-28 17:05] jmarkel commented on #34
@mirie Sure, but deferring to the weekend (see @jonpugh 's comment on #61)

[2014-02-28 17:12] mirie opened #63 "Review Pages"
@willykaram or @ForestMars:

Reviewing: /admin/structure/pages

**Enabled but seem to be missing content**
- page-landing_page -- /landing -- /admin/structure/pages/edit/page-landing_page
- page-team -- /team -- admin/structure/pages/edit/page-team

**Disabled, but possibly relevant?**
- page-organizers   Organizers  /organizers
- page-accommodations   Accommodations  /accommodations
- page-food F

[2014-02-28 17:16] mirie commented on #63
Ok, sorry I accidentally created the issue description while I was still typing. Please see the revised description for the full question, properly formatted.

[2014-02-28 17:27] mirie opened #64 "Remove last year's users from all of the event groups if we are still using the same event nodes"
Many of the og groups have last year's attendees. We need to remove them if we are going to be using the same event nodes.

Example: http://nyccamp.org/group/node/423/admin/people

We also need to update the document the process for granting a group organizer the correct permissions as the process is very confusing and tangled up in permission problems.

[2014-02-28 17:32] mirie opened #65 "Audit enabled views"
We have a good number of Views enabled on admin/structure/views.

Questions:
- Are we using all of them?
- Where are the various displays being used?
- Which should be QA'ed/updated?

@ForestMars, @willykaram -- this is sort of question for you so that we can focus in on updating these bad boys and get on the same page on what's being used, where it's used, and for what purpose.

[2014-02-28 21:24] ForestMars commented on #61
++ for this. We're definitely getting important benefits from Github, but at the cost of a bifurcated workflow. I had planned to add a job that just pushed to Pantheon with the Github plugin for Jenkins, but, time.

While I haven't given this enough consideration to get a sense of what's a better workflow, Jenkins autopushing to Pantheon when Github is pushed to, or Hubspot (which looks great, @jo

[2014-03-01 01:30] jonpugh commented on #61
Thanks all.

Gonna set this up now.

[2014-03-01 01:53] jonpugh commented on #61
Ok, its running.

Updates happen at most 4 minutes later... If you want it to happen quicker, http://gittip.com/hubdrop

Can someone please update the docs?

THANKS!

[2014-03-01 01:54] ForestMars commented on #61
Amazingly fast @jonpugh #WTG!

[2014-03-01 01:54] rabellamy commented on #61
jonpugh++

[2014-03-01 02:00] ForestMars commented on #61
"Can someone please update the docs?"

@jmarkel Are you taking on doc updating, or is that whoever grabs it? I feel like it would be better to have a point person for documentation. Otherwise you have a gap in the process that hampers effective collaboration, bc no one is exactly sure who is doing what.

[2014-03-01 02:07] jonpugh commented on #61
Confirmed that new branches make it to pantheon. It's technically feasible to set up almost instant pushes, but, you know, time. (Or money)

Thanks for being my guinea pigs, guys.

[2014-03-01 06:17] jonpugh commented on #65
I doubt anyone "knows" the answers to these questions.

I suggest trying https://drupal.org/project/views_usage_audit to help give an overview of what is what!

[2014-03-01 06:21] jonpugh commented on #64
Let's not re-use old OG-ified event nodes.

My gut tells me that we should limit the group organizer's permission to simply view the list of users that signed up.  I don't see any other use case for the event's author for now.

[2014-03-01 06:25] jonpugh commented on #63
with the exception of sponsors and the event dashboard, I don't see why any of these exist as "page manager pages".

They should all just be "static page" nodes. They are all content.  Wipe them out to avoid confusion, but create some Static page nodes in their place and encourage someone to step up and start filling them out.

[2014-03-01 06:31] jonpugh commented on #62
What do we really need the Volunteer role for? Are there extra permissions they need to be granted?  Perhaps we don't need it at all. I don't think all volunteers need access to the volunteer dashboard page. I made that for my own use as the volunteer organizer last year.

I say let's just try to use the MailChimp text box to determine visibility of the Volunteer Info fieldset on the user profile

[2014-03-01 06:32] jonpugh commented on #61
I updated the README.md in the repo to reflect the change.  Calling it closed.

[2014-03-01 06:32] #61 closed, assigned to jonpugh

[2014-03-01 06:36] jonpugh commented on #51
+1 to renaming "Other Info" to "Session Type". I would also rename the options so it just says "Training", "Lightning Talk", etc.

Make it required, and add a "Lecture" session type to be the default.

As for Experience level, add "All Levels" and make it required as well.

[2014-03-01 06:38] jonpugh commented on #46
User reference field sucks.  Usernames are unique. Why they need the `Name (uid)` display is beyond me.  We just have to deal with that.

the bigger problem is that the field is usually left empty by session submitters.

Can the reference view be set to default to the current users name so that new sessions have a "speaker" field value of the author?

[2014-03-01 06:40] jonpugh commented on #39
Set this to the milestone of camp day.  We don't need this until the day of the camp, so lets try and finish other issues first.

[2014-03-01 06:42] jonpugh commented on #33
Clearing caches on live does not produce an error. Closing!

[2014-03-01 06:42] #33 closed, assigned to nobody

[2014-03-01 06:50] jonpugh opened #67 "Pick a new universal hashtag for Drupal #NYCCamp"
# nyccamp is not a specific enough hashtag. At this point there is only one photo of our NYC Camp in the block.  https://twitter.com/NYCCamp has been tweeting a lot.  A hashtag is supposed to be unique.

I don't think it's wise to compete for use of a hashtag. Let's just use #nyccampdrupal or something.

We should really change this. If there are photos from last years event they should be posted

[2014-03-01 06:51] jonpugh opened #68 "Add events blocks to events pages."
Once you click on an event, you are lost and must return to the homepage. http://nyccamp.org/event/git-training

Add the events block to all events pages.

[2014-03-01 06:53] jonpugh opened #69 "Tone down the language on Git Training page"
I'm not sure webchick would appreciate people fearing her.  Also, if you aren't "in the club", you don't know who webchick is (which is probably a good portion of the people who are interested in git training.)  We can be clever and funny here without confusing and scaring people.

http://nyccamp.org/event/git-training

[2014-03-01 06:56] ForestMars commented on #65
Let me just note that when the camp was finished last year, the site did not have a lot of cruft. Pretty much everything that was added was used. I just went through the views list and see that pretty much all the custom views you see were ones we specifically added and used.

I should also not that while we didn't hack a single line of code in any COD module last year (which should really go with

[2014-03-01 06:57] ForestMars commented on #69
You also probably don't get the 'stab' reference, which is a pretty old trope in Drupal, and is probably lost on newer people. +1 for removing.

[2014-03-01 06:58] jonpugh opened #70 "Create Partners Info page and block"
There is currently nothing on the site for potential partners to find out more info.

Check out midcamps sponsor page for inspiration: http://2014.midcamp.org/sponsor-midcamp

[2014-03-01 07:01] ForestMars commented on #51
+1 rename "Other info" to "Session type" <-- (has cardinality of 1)
+1 requiring that field and Experience level. <-- (has cardinality >1)
+1 for adding "All levels" (++ @jonpugh)
I'm meh on "Lecture" and would prefer "Presentation"

[2014-03-01 07:01] jonpugh opened #71 "Create more detailed venue info and directions page."
MidCamp's page is awesome. We should do better: http://2014.midcamp.org/directions

[2014-03-01 07:03] ForestMars commented on #71
Their dates, however, are not.

I'm none too happy having to choose between MidCamp and Drupal Dev Days.

[2014-03-01 07:06] ForestMars commented on #70
Updated issue description (and @jonpugh's comment!) to say "partners" instead of "sponsors"

[2014-03-01 07:08] ForestMars commented on #67
Eh, My druthers would be to instead takeover this hashtag namespace.

We could be doing a lot better on social media. If _everyone_ on the team just uploaded one picture to instagram, problem would be solved.

[2014-03-01 07:19] ForestMars commented on #62
Roles are what is used to sync a user to a particular list on Mailchimp. Please note:
1. I am not currently aware how to sync a user or set of users on the site to a Mailchimp list segment
   and
2.  We use segments where possible of the master attendee list, for reasons including that we are limited on the free tier to 2000 users total (ie. if joe user appears in 2 lists, he counts as 2 users tow

[2014-03-01 07:23] ForestMars commented on #64
+1 We should definitely not be reusing last year's event nodes.

Is everyone clear on how COD/OG works, and how it allows a single continuous site to operate year-after-year for all your events? This gives a great camp history.

As for group manager, aka event organizer, they need to mainly be able to do 2 things:
1. See and contact all users who have expressed interest in a given event
2. See and

[2014-03-01 07:32] ForestMars commented on #46
Should we be editing the views that COD ships with, or cloning them and extending?

Adding @scottrigby as we were discussing solutions to extending distribution features. Can we make this happen?

@jonpugh First name / Last name are required fields. +1 for setting default value to current user.

@mirie Profile pics are excluded from this display. Hoping that themers create a nice community page wi

[2014-03-01 16:47] esod commented on #46
+1 'the "speaker" field value of the author'. COD oob (out-of-the-box) autocompletes field_presenters with:

Mode
Views: Filter by an entity reference view
View used to select the entities
code_community_attendees - Entity Reference

This is too clever by half and we've already changed it on live to:

Mode
Simple (with optional filter by bundle)
Sort by
Don't sort

We must have made this change wh

[2014-03-01 16:49] esod commented on #46
Per using First and Last Names instead. Don't we like our usernames? Isn't that part of our scene?

The Drupalcon sites use usernames with presentations....

[2014-03-01 16:50] mirie commented on #64
Ok, well there's some confusion here already then in the group.

We are _already_ reusing last year's event nodes. Summit Organizers were told to update the descriptions of the existing published nodes.

An Example is the Publishing & Media Summit, http://nyccamp.org/node/28, originally authored on: 2013-06-02 00:49:51 -0400

The Community Tools Workshop, http://nyccamp.org/node/87, originally aut

[2014-03-01 16:55] esod commented on #71
MidCamp's page is wonderful. Do we have a Directions page? Let's get on this.

[2014-03-01 16:58] jonpugh commented on #64
hmm good point.  I didn't realize what you were referring too.

Last year the "event signup" was incredibly inconsistent.  I think we should consider removing all of that.  I can see a need for trainings having signups, but other than that I'm not sure it was all that helpful.

Can we "ungroup" those event nodes, thereby removing all members?

[2014-03-01 17:01] ForestMars commented on #64
@mirie Yes, that is clearly wrong. Can we just revert to the previous revision, and add nodes for this year's events?

@jonpugh Well, signups are incredibly helpful- what was the inconsistency?  I would say definitely not to ungrouping nodes.

[2014-03-01 17:02] jonpugh opened #73 "Define method of "Registering for NYCCamp 2014" (and promote that method.)"
I think there is still confusion about how exactly to say we are coming to NYCCamp 2014.

There has a been a lot of debate about OG, what type of event nodes to use, etc.

What if we took the approach Drupal.org uses and added checkboxes to the profile field for all the events a user attended, plans to attend? I think this would greatly simplify things for users as all they would have to do is edi

[2014-03-01 17:03] esod commented on #69
Jesus, who wrote that copy? That nice lady's not going to stab anyone. I'm taking that line out immediately.

[2014-03-01 17:06] ForestMars commented on #73
Yep, big +1 for easy to understand checkboxes on the user's profile. The should be prompted to make those selections when they register for this year's camp.

As for the implementation, there should be little if any 'debate' about what nodes to use, as it's clearly defined- event node type for all, er, events, and a single node of type conference for 2014 camp attendance.

Is there still confusion

[2014-03-01 17:07] ForestMars commented on #69
Well technically, Webchick wrote that.

The fact that you don't know that only underscores the need to remove it, as I doubt that many other people would get the reference.

[2014-03-01 17:20] esod commented on #69
I may have overreacted a bit when I saw that. Still, let's not say that.

[2014-03-01 20:56] mirie commented on #34
ALL

Please review the updated wiki: https://github.com/NYC-Camp/website/wiki

[2014-03-01 22:59] willykaram opened #76 "Approach to Solving Permissions/Access Control Problem"
**Intro**

This issue is intended to outline our approach to addressing the problem that we've run into relating to permissions and our config OG/access controls.

Below this issue outlines: (1) Our interest in a multi-year strategy for the NYC Camp site in keeping with the COD roadmap, (2) A brief summary of the OG/access control problem that _we have seem to have created ourselves_ -- i.e., it's

[2014-03-02 15:23] jmarkel commented on #62
The Volunteer checkbox, far as I can tell, only goes to MC - it's not connected to any roles at all. If you check it, you're added to the MC Volunteer list. If it was checked and you uncheck it, MC is told to take you off the list. IIRC in neither case is a Drupal role added or removed.

[2014-03-02 17:11] esod commented on #76
https://github.com/NYC-Camp/website/pull/79

I like Organic Groups, but if we don't the functionality and the permission bugs are hurting us, this is a way forward.

[2014-03-02 18:42] likewhoa commented on #76
lets deal with the permissions issues with our current hacks and try to figure out why og_field_permissions is mis-configured and or bugged instead of getting rid of OG all together since it worked last year.

[2014-03-02 18:47] likewhoa commented on #67
I agree with @ForestMars , instead of us being anti-social lets start being more social with our site marketing and use the social media venues which will get the word out to the masses. Everyone should at least post a twitter,instagram,failbook and or g+ posting regarding the camp and or work you've done on it that way the word spreads out.

:-1: for closing this issue.

[2014-03-02 18:49] likewhoa commented on #73
What you suggest might just be suggest we remove og functionality since that's what cod depends on with event types since those are turned into organic groups, am I right?

[2014-03-02 19:35] ForestMars commented on #76
I'm still having a bit of a time understanding the allusions to "removing organic groups" and why we are working on a branch called "cod sans og."

As Willy's explanation of this issue should make abundantly clear, we are not going to be removing OG now or in the forseeable future.

We have, however, proposed to remove a particular OG field that seems to be connected with the anonymous user bug.

[2014-03-02 19:35] jmarkel commented on #76
True, Fernando, it used to work, but it doesn't now. We must have screwed
something up along the way.Time is short, so if we can live without the OG
functionality for now then we should do that and move to more pressing
things. When's there's some free time we can figure out what the OG issue
is. Too much time has been taken up with this already.

On Sun, Mar 2, 2014 at 1:42 PM, Fernando Reyes not

[2014-03-02 19:39] ForestMars commented on #76
@jmarkel - we need to be very clear here. Saying "live without the OG functionality" lends itself to 2 very different interpretations:
1. Removing og fields that are causing anon users to be able to access node/add page
2. Removing (uninstalling) OG from the base install.

#2 is not going to happen, it's #1 that's being discussed.

As per my above comment, we also seem to have solutions for this f

[2014-03-02 19:47] ForestMars commented on #73
@jonpugh Initial thoughts:
1. How does the event coordinator message everyone interested in / attending the event? Currently this is done with OG.
2. I don't think the alternative you describe (profile checkboxes) simplifies things for users, in so far as last year it was exceedingly simple for users- indeed, they just checked off boxes when they registered for the site, and done.
3. Somewhere alo

[2014-03-02 19:47] jmarkel commented on #76
@ForestMars My concern here is that an awful lot of time, attention, and
effort has been and continues to be spent on this. Whatever gets us to at
least the minimal functionality we can live with, while not putting us in a
deeper hole later, is what we should do.

On Sun, Mar 2, 2014 at 2:39 PM, Forest Mars notifications@github.comwrote:

[2014-03-02 19:49] ForestMars commented on #76
@jmarkel Exactly. We are completely on the same page here.

[2014-03-02 19:55] likewhoa commented on #76
@jmarkel removing og is just clearly giving up on troubleshooting an issue which is not something I agree on, hence why we have 2 working hacks to workaround the issue **temporally**. :-1: on removing og as COD is heavily tight to it and if we want upstream to adopt our modified distribution of COD we should really not strip out functionality that it's part of it. That's just not how we do things.

[2014-03-02 20:08] jmarkel commented on #76
@likewhoa Not disagreeing with you at all.

On Sun, Mar 2, 2014 at 2:55 PM, Fernando Reyes notifications@github.comwrote:

[2014-03-02 20:20] likewhoa commented on #76
someone review and merge #80 so we can move on and focus on other issues but lets not forget why we are applying this _workaround_ ;)

[2014-03-02 23:45] esod commented on #76
The node/add bug seems to be just one problem in many with OG in our stack. And we've developed three plausible workarounds for it.

We are talking about removing OG, or at least parts of it for the time being. I'm upping the ante by suggesting that we disable OG all together so it's out of our way. If we lose functionality as a result, that's important and a reason for us not to go in this direct

[2014-03-03 00:08] ForestMars commented on #76
Ok look, we've asked for any problems that are blockers to be documented in an issue. The hand general hand-waiving at vague "problems" stops now.

No, not really. That is not an option. Please re-read this issue again (sorry, I know it's a long description); in particular, note where it says:

I don't mean to be terse here, but all the hand-waving has nearly stalled development here, and create a

[2014-03-03 00:11] esod commented on #76
I think the features modules which are at the core of the COD distribution are permanently broken. The modules became permanently broken as a result of the work we did to resolve the node/add/session bug late last Monday night. This is a blocker to new development. I was not able to move the session_attending flag configuration changes I made today up the stream because of this blocker. Features m

[2014-03-03 00:13] ForestMars commented on #76
Then you should file this as a bug against COD, with steps to reproduce.
https://drupal.org/node/add/project-issue/cod

That's different, but also unclear. Are you saying ALL the features modules are broken? Some of them? Broken how? What are the steps to reproduce? Again, this is all very hand-wavy and not terribly helpful.

When I look at features-diff, I don't see anything broken, I just see no

[2014-03-03 00:40] esod commented on #76
We broke them. They're not broken on COD oob.

We can continue with OG active in our stack. But then we won't be able to update/override the features modules which means no new configuration can be added in code. I think we can do better than this.

[2014-03-03 00:47] ForestMars commented on #76
What are you talking about? Broken how? What are the steps to reproduce?

All I am seeing are the normal features overrides. AFAICT, the modules are not broken, they just need to be updated.

If you can explain what you mean by "broken" maybe write that up and post it somewhere else, I'm not sure this thread is very useful at this point and is starting to border on FUD.

[2014-03-03 01:03] esod commented on #76
I assure you It's not my FUD. If you are voting no @ForestMars for proceeding with development on the site by disabling OG, that is your vote and your right.

One way that Features modules can be permanently broken is when a field is deleted in the admin and then recreated with exactly the same attributes. It's possible this happened last Monday.

How can I continue to develop site if I can't save

[2014-03-03 03:38] willykaram commented on #76
In the hopes of trying to resolve this, I spent a bit of time researching and testing everything again, but went a bit deeper this time than we did earlier in the week.

Simple solution seems to be to update OG.

Apologies in advance for the long post, but wanted to be thorough in the hopes we can quickly resolve this.

**Short Version**

The short version is that updating OG to the latest version

[2014-03-03 04:12] likewhoa commented on #76
ok talking with @willykaram on irc, I did the og upgrade from 7.2.4 to 7.2.5 which is the stable and recommended version on http://dgo.to/og and the node/add for anonymous users is denied but for authenticated users they are shown Event and Session content types with the former a permission set for the authenticated role.

Anyways, it seems that og 7.2.4 is at fault here which is great news. Thank

[2014-03-03 04:19] likewhoa commented on #34
@mirie :+1:

[2014-03-03 04:38] ForestMars commented on #76
This one's for you, Willy: http://drupaltv.org/video/tutti-fan-drupal (jump to 27:51)

[2014-03-03 05:05] likewhoa commented on #76
Just note that we just have to `drush dl og && rm -rf profiles/cod/modules/contrib/og && mv sites/all/modules/og profiles/cod/modules/contrib/og && drush updb` and then remove ability for authenticated users to create event nodes.

[2014-03-03 07:31] likewhoa opened #83 "[QA] New og upgrade"
A test environment has been setup at http://newog-test-nyccamp2014.gotpantheon.com which has the og upgrade that gets rid of issue discussed at #76.

Lets QA this test environment before we actually duplicated on live and or merge to live so that we don't introduce other issues by this upgrade to og. The DB/Files are a clone from *.live but with new og and that's all.

P.S the pr is for this was #

[2014-03-03 07:35] likewhoa commented on #76
reopening so that we can first test #83 as that's what a good QA does.

[2014-03-03 07:39] willykaram commented on #76
Thanks @likewhoa, hopefully someone can review/do the QA on this (@esod would be ideal if he has time, since he's done a bunch of great work around this already and is up to speed). Ideally all goes smoothly and then we can switch gears to theming, and some of the other high priority items.

[2014-03-03 07:50] willykaram commented on #76
@likewhoa BTW, if someone else doesn't tackle the PR tomorrow I can, but likely best not for me to do so. Thanks for jumping on this tonight.

[2014-03-03 07:56] likewhoa opened #84 "overflow-y: scroll on .region-sidebar-first looks fugly"
![untitled](https://f.cloud.github.com/assets/1696920/2307370/41abc456-a2a7-11e3-9e50-a192f0fde66c.png)

The overflow-y:scroll together with padding-bottom:100% was creating this stupid fugly scroll, so we need to remove padding-bottom and change overflow-y:scroll to overflow-y:auto so that fugly scroll bar only appears when needed. PR on the way...

[2014-03-03 07:59] likewhoa commented on #84
#86 ready for peer review

[2014-03-03 14:18] esod commented on #76
Great stuff. I'll review the pull request.

[2014-03-03 17:05] likewhoa commented on #69
i get it lulz. webchick++

[2014-03-03 17:08] likewhoa commented on #36
referencing #83 for those that don't know as this issue relates and should be closed once that gets merged into live

[2014-03-03 17:10] likewhoa commented on #7
@ElijahLynn I removed that crazy ass padding in #84, let me know if this looks better for you even though we probably will not use this theme for very long.

[2014-03-03 18:55] likewhoa commented on #83
feels good to close this bug.

[2014-03-03 18:55] #83 closed, assigned to nobody

[2014-03-03 18:56] #76 closed, assigned to nobody

[2014-03-03 18:57] likewhoa commented on #76
All done here, lets focus on other issues now \o/

[2014-03-03 18:58] likewhoa commented on #36
Closing this. feels good man

[2014-03-03 18:58] #36 closed, assigned to nobody

[2014-03-04 02:25] scottrigby commented on #46
Every DrupalCon so many of us lament our d.o usernames aren't prominent
enough on the printed badges - I think the same can be said of some of the
camp websites. It can be a complicated issue... The reasons are many of us
know each other by username, irc nick (if different), and often last by
legal name (if we know that at all). Some prominent members of the
community don't like to list their lega

[2014-03-04 02:33] esod opened #88 "Fix nyccamp_schedule view"
This view, admin/structure/views/view/nyccamp_schedule/edit contains all kinds of things we want to view, but it's broken.

You can see that it is the exact same view as last year:

http://2013.nyccamp.org/admin/structure/views/view/nyccamp_schedule/edit

Last year's view is not broken and you can see what we're viewing on.

There are eight displays in the view. You can delete/ignore the Your sche

[2014-03-04 04:33] jmarkel commented on #88
I've been looking at this a little. No fix as of yet, but as you may or may not have noticed, when you open the view for 2014 you get this message
![2014_nyccamp_schedule_message](https://f.cloud.github.com/assets/3930383/2317768/0bda51b8-a355-11e3-9192-5f3763d90fdc.jpg)

On the 2013 site, the Master display gives you:
![2013_nyccamp_schedule content nyc camp](https://f.cloud.github.com/assets/393

[2014-03-04 05:15] jonpugh opened #89 "Alert all themers to commit to `themeup` branch"
The `themeup` branch of the main `NYC-Camp/website` repo is going to the multidev environment at http://themeup-nyccamp2014.gotpantheon.com/

Please alert all themers to commit to this branch, or submit pull requests to this branch.

Do NOT commit or merge to Master until work is complete and QA testing has happened on the http://themeup-nyccamp2014.gotpantheon.com/ site.

thanks!

[2014-03-04 05:17] jonpugh commented on #89
@timhobert: We had to revert your commits to master because the CSS wasn't ready.

You will have to merge from master (which will bring those reverts to branch `themeup`) and manually recreate and commit your changes.

Thanks,
Jon

[2014-03-04 05:30] jonpugh commented on #73
There are no checkboxes on user/register or user/%/edit at all.

If those return for NYCCamp 2014 then this is closed.

[2014-03-04 05:34] jonpugh commented on #69
I get it too.  It's funny in context, like at a session, from the actual mouth of our friendly happy webchick.  As bold copy on a stark text-only web page, it's...  intense.

We should present a friendly face!

Thanks!

[2014-03-04 05:34] #69 closed, assigned to nobody

[2014-03-04 05:41] jonpugh commented on #67
I updated the issue title and description to broaden it to the hashtag used on all things.  Let's get feedback from everyone. No one is stopping anyone from still using #nyccamp.  It would reduce confusion for our audience when searching for #nyccamp and finding lots of stuff that has nothing to do with us.

[2014-03-04 11:54] jmarkel commented on #88
@esod I doubt it's actually a missing handler - possibly the entity ref or one of the content types has changed slightly between COD versions. In any case I haven't yet looked further - will try to get at it today but lots going on :-/

[2014-03-04 12:01] ForestMars commented on #88
@esod Did you really just publish our site root password on a public Github page?

I just edited your post to remove it, but please do try to think before doing things like that.

[2014-03-04 12:27] esod commented on #88
You're right. My bad. I'm sorry. Will you change that right away please?

##

Eric Sod

[2014-03-04 12:30] esod commented on #88
Thanks. I'm still not wholly used to working in the public space.

We should also change the password on 2103. It might be inconvenient but it will secure the situation.

##

Eric Sod

[2014-03-04 14:12] ForestMars commented on #73
Right, that's not really the problem, that's just a setting in OG.

The problem is that someone started changing all of last year's event nodes to be this year's. Ugh, that is such an anti-pattern. (Did you ever have a client that just created one node for their front page stories, and just changed its content? Ouch.)

So if we turn on reg right now, users will actually be registering for last yea

[2014-03-04 14:20] mirie commented on #64
@ForestMars,

Update: This was discussed during last night's meeting. We will continue to use the current (last year's event nodes) for this year's camp.

[2014-03-04 14:33] mirie opened #90 "Implement conference registration"
This is from last night's discussion of the functional specifications for the Conference registration. Below is the @willykaram's writeup:
## Story

**Conference Registration:** When a user visits the site, existing or new, and is logged in, the should be presented with the ability to “Register for the Conference”.

**Messaging:** Upon registering they should receive an email which confirms that t

[2014-03-04 14:34] mirie commented on #73
@ForestMars, please see: #90. Also please see: #64 re: event nodes.

[2014-03-04 14:54] esod commented on #88
I changed 2013's password and now I can't log in. Still trying to get the hang of LastPass. Whoops.

I assume @ForestMars you are NYC Camp and you should receive the email with the one time login.

Apologies for the confusion. At least the site is secure this way.

[2014-03-04 14:56] mirie commented on #88
I'll take care of the password reset -- ping me in #nyccamp please.

[2014-03-04 15:05] ForestMars commented on #64
Sorry I had to miss last night's meeting, but I'm afraid we're going to have to revisit that, unless someone is volunteering to fix it, and can provide an eta / deadline when they will have it fixed by.

[2014-03-04 16:54] ForestMars opened #91 "Add Camp Registration to "My Interests""
Currently, the "My Interests" block on the user reg form only has a single checkbox for volunteering. We need to add a checkbox above that for "I am attending this year's camp."

Checking this box should add register the user for this year's conference. Conference is a (group) node type which has 1 node per year.

Last year we did not have continuity with the previous year's site (2012) and so we

[2014-03-04 17:39] likewhoa commented on #91
That "My Interest" block is part of a form that it's embedded by mailchimp module from `admin/config/services/mailchimp/lists/2/edit` so we would just need to alter this form to include our own checkbox for the conferencing group.

For returning users I think perhaps a one-time rule on user login that lets them know of the new field, or we can just add it to the user profile page.

[2014-03-04 21:06] ForestMars commented on #64
I'm not sure what was discussed on the call last night, but just reviewing this thread, what I am seeing is "we already started doing it wrong, so let's continue down that path."

I've not really seen a lot of success stories come out of that approach.

I also want to re-emphasize that any development decisions that come out of conversations, be they formal meetings or hallway sidebars over beer M

[2014-03-05 01:18] mirie commented on #34
Closing.

[2014-03-05 01:18] #34 closed, assigned to nobody

[2014-03-05 01:27] mirie commented on #73
I am closing this because this now becoming a duplicate of other referenced tickets and @ForestMars went ahead and created new nodes for all of the events.

[2014-03-05 01:27] #73 closed, assigned to nobody

[2014-03-05 01:31] jonpugh commented on #90
Sounds good!  Go for it, @mirie!

[2014-03-05 01:32] jonpugh commented on #90
If we could get the data from the check in app last year we could fill the 2013 conf node with the attendees for posterity.

[2014-03-05 02:07] willykaram commented on #90
Ideally in the comments here we can brainstorm some of the UI considerations in addition to the architecture details above.

[2014-03-05 02:19] willykaram commented on #64
Forest I don't agree with the intepretation of the thread. As "we already started doing it wrong". I'll post my interpretation or what we discussed on the call last night.

[2014-03-05 02:23] willykaram commented on #64
@ForestMars @mirie For starters, WRT to reusing the nodes. I agree that on a year-over-year site, we should not be re-using event nodes from 2013. However, we haven't architected this as a year-over-year site, and we most certainly didn't do that on the 2013 (which was pretty rough to get out the door, but we did than to some great effort). That said, we did use the 2013 site as a base to start th

[2014-03-05 02:32] willykaram commented on #64
@ForestMars @mirie WRT to the broader issue of whether we're "doing it wrong". I think the more accurate issue is whether we're adhering to and supporting COD roadmap. With regard to that issue, I think the answer is "yes", and more specifically that 2014 site we are aiming to lay the tracks for continuing to use this site for 2015. If we succeed in doing so and can use the site for 2015 as well,

[2014-03-05 02:59] willykaram opened #92 "Featured Attendees"
One feature of which we are in somewhat desperate/immediate need is the ability to promote featured attendees on the homepage of the NYC Camp site. This would appear in a block on the homepage beneath the main header, and would need to involve either a slideshow or preferably a carousel:

[2014-03-05 02:59] willykaram opened #93 "Featured Attendees"
One feature of which we are in somewhat desperate/immediate need is the ability to promote featured attendees on the homepage of the NYC Camp site. This would appear in a block on the homepage beneath the main header, and would need to involve either a slideshow or preferably a carousel. For examples, see:

http://szeged2014.drupaldays.org/
http://2013.badcamp.net/

[2014-03-05 03:05] mirie commented on #92
duplicate of #93. Closing.

[2014-03-05 03:05] #92 closed, assigned to nobody

[2014-03-05 03:08] willykaram commented on #93
I'm posting a second comment with the suggest architectural/theming approach, but ultimately that;s up to @likewhoa or whoever decides to tackle this. My suggest approach is a simple view of users where we display there profile photo, full name and user name in a carousel, so that we are simply re-using all that architecture. However, it would also be ideal to be able to display some additional in

[2014-03-05 03:12] willykaram commented on #93
Additionally, we will ideally write about 1-2 news posts per week about featured attendees, and it would be nice to be able to have the featured attendees in the view be clickable and link to that new post. Architecturally, we could do this with a user "Related Attendees" field on news content type which associates users with a news post, and then use a reverse reference lookup and relation on the

[2014-03-05 03:12] mirie commented on #70
We already have this set up in Panel and located @ /sponsor (/admin/structure/pages/nojs/operation/page-sponsor_nyc_camp/handlers/page_sponsor_nyc_camp_panel_context/content) and there are 2 views for handling the output:
admin/structure/views/view/sponsorship_options_tiers/edit
/admin/structure/views/view/sponsorship_options_title/edit

[2014-03-05 03:14] willykaram commented on #93
Pick your poison:

https://drupal.org/node/418616
https://drupal.org/project/jcarousel
https://drupal.org/project/views_slideshow_jcarousel
https://drupal.org/project/views_slideshow_liquidcarousel

Among other options

[2014-03-05 03:16] mirie commented on #70
@ForestMars  or @willykaram

Other than changing the copy to replace "sponsor" with "partner" -- I think we're going to need to change the actual sponsorship options (due to signage restrictions, etc), right?

[2014-03-05 03:29] mirie commented on #68
How about we just keep that bar of event blocks on all pages on the site?

The blocks were configured to appear via the blocks admin:
- /admin/structure/block/manage/views/events_schedule_trainings-block/configure
- /admin/structure/block/manage/views/events_schedule_summits-block/configure
- /admin/structure/block/manage/views/events_schedule_sessions-block/configure
- /admin/structure/block/mana

[2014-03-05 03:32] mirie commented on #63
@jonpugh, yes, this came up in a discussion (a few times) back in November/December. The final decision was to continue using Panels. I would like to revisit removing Panels post-camp.

I'm guessing based on Forest's response to my question about the views, these will probably be used as well.

[2014-03-05 03:47] mirie commented on #51
Changes made on dev. Please review:

http://dev-nyccamp2014.gotpantheon.com/propose/session

[2014-03-05 03:52] mirie commented on #46
Ok, changed the field_presenters mode back to:

Views: Filter by an entity reference view
View used to select the entities
code_community_attendees - Entity Reference

on dev. Please review and if this is ok, then it's an easy configuration change on Live.

[2014-03-05 03:58] tz-earl commented on #51
Changes to widget types and wording look good, with more choices and better clarity.

[2014-03-05 04:20] jonpugh commented on #68
Looks awesome.

Escept on mobile, the events blocks are at the top and forces  user to
scroll way down to see anything... But it could be worse
On Mar 4, 2014 10:29 PM, "Mai Irie" notifications@github.com wrote:

[2014-03-05 04:25] esod commented on #88
Okay. I got it working.

[2014-03-05 04:46] esod commented on #88
The solution was not trivial.

Session Time Slot(s) field was changed this year. Session time Slot(s) is a concatenation of room assignments and timeslots. I'm finding it a very difficult field to work with.

So I made a new field called Session Timeslot Session (not the best name, maybe) and could make the relationships in the view work on that field because that field contains only the timeslot

[2014-03-05 05:06] ForestMars commented on #68
Yes, I'm guessing it's going to be a fair amount of work to accordion the content in, so that the menu expands (pushDown?) and you can see the content you selected without having to scroll way down.

Who's the resident jQuery ninja on the team that can weigh in on would be involved to do that? I suspect it may not be trivial, but it would be well worth it for mobile UX which is what people at actu

[2014-03-05 05:16] timhobert commented on #68
On mobile we should just hide those events blocks on every page except the front page, IMO. With CSS.

[2014-03-05 05:33] ForestMars commented on #68
Update: Just heard from Tim that he can fix this in the AM.

edit: Just read Tim's comment. Hiding on all but the front page is exactly what Mai just changed it from.

[2014-03-05 05:47] ForestMars commented on #46
Hmm, I just tried to create a session and add presenters:

http://dev-nyccamp2014.gotpantheon.com/user/1303 (Barney Hanlon)
http://dev-nyccamp2014.gotpantheon.com/user/1302 (Craig Sinclair)

and neither of them were found, no matter how I entered their name in the presenter field.

Also, it doesn't look like it is actually searching by usernames, per above discussion, so searching for Crell return

[2014-03-05 05:50] ForestMars commented on #70
Yes, absolutely, and let's do this post-haste so as to not have any misinformation leaking out.

[2014-03-05 05:55] ForestMars commented on #88
Why not just session_room_time ?

[2014-03-05 06:51] willykaram commented on #90
@jonpugh we're definitely going to do some of that posterity work **after** the camp, and potentially work at merging in the 2013 site so that by next year we have a single site spanning 2013, 2014 and 2014. But it's going to take some planning/documentation before we proceed with that.

[2014-03-05 07:09] ForestMars commented on #64
Right, we're totally on the same page here, as we have discussed. The doing it wrong comment was a reference to seeing the 2013 site cloned, and then a less than organized effort at scrubbing the content, when all that was really needed was an hour or 2 to add the new events for this year.

And yes, also as discussed, the goal here is to be the first camp to correctly implement the COD roadmap, th

[2014-03-05 07:16] ForestMars commented on #64
Having said all that, this issue can be closed, since we do not need to remove last year's attendees from last year's nodes. That's part the anti-pattern I was alluding to, as it erases our history.

The relevant discussion is taking place in #90. (Although there are some notes here in #64 that should be moved to the canonical document.)

[2014-03-05 07:16] #64 closed, assigned to nobody

[2014-03-05 07:25] ForestMars commented on #90
The main details that need to be 'stormed' are essentially getting a clear picture of the functional implementation. We're already clear on what we need (internal requirements) it's what we have that I think everyone is still pretty hazy on, and thus how to get from have to need. _("have hay / need hay")_

To wit, the separation of OG subscriptions and OG event registrations: currently, (new) user

[2014-03-05 07:26] willykaram commented on #64
@ForestMars As per your my discussion earlier tonight agreed on all points. Thanks for the well documented summary/plan.

[2014-03-05 07:26] willykaram commented on #64
@ForestMars As an aside I signed up admin@nyccamp.org for the Sugar subscription that we previously discussed and am going to be inquired about a free/discounted subscription. We can ideally use that for the purpose mentioned above as well as managing featured attendee/sprinter attendance and sponsorship.

[2014-03-05 07:32] willykaram commented on #90
@ForestMars Further to your and my discussion tonight, I've implemented a quick fix for the above. I'll document it here momentarily.

[2014-03-05 08:16] willykaram commented on #90
For now I have added the registration field to the Conference node for NYC Camp 14, and exposed that on the conference node. So users can now register for the conference here: http://nyccamp.org/nyc-camp-14

In addition to the above, I've created a short term/band-aid solution to display that form on the user page. For now I've simply created a view of the 1 conference node (~cringe~) and used the

[2014-03-05 13:10] ForestMars commented on #90
y, great idea @jonpugh as well as info from the 2012 site, which we should easily be able to bring in with migrate module.... **after** this year's camp.  ;-)

[2014-03-05 13:24] ForestMars commented on #51
"Session topics - medieval history" ?

Other than that, this looks fine. Please make the changes on Live and synch down to QA?

[2014-03-05 13:57] ForestMars opened #94 "Twitter block is broken?"
Latest tweet showing in the front page Twitter block is from 2/27

[2014-03-05 15:35] ForestMars commented on #90
Ok, so we should draw attention to the fact that while we now have a way for returning users to register for this year's camp (@willykaram++) we still need:
1. A way to message these returning users / previous attendees to let them know how to do that (!), and
2. A way to either
    (a) Let new users also know about this
    (b) or just add that bloc to user/reg which all new users will see, or

[2014-03-05 19:00] timhobert commented on #68
Hi All. I created a pull request that should clean up some things. It just needs approval an a push live.
- Preview here: http://themeup-nyccamp2014.gotpantheon.com/
- Pull request here: https://github.com/NYC-Camp/website/pull/95/

Regarding the blue sidebars: Those can only appear on the front page. There is a region called "Aside" that can be used to add the events blocks (and any block for tha

[2014-03-05 19:38] timhobert commented on #68
Someone had added vertical tabs groups to the user profile fields (here: http://nyccamp.org/admin/config/people/accounts/fields ). I had to disable because it didn't look pretty on mobile. When my pull request in the above comment goes live there should be a bit of CSS cleanup included that makes the user profile page look nice without having vertical tabs.

[2014-03-06 17:29] jmarkel commented on #94
@ForestMars I'm seeing one from mortendk from march 4

[2014-03-06 17:40] ForestMars commented on #94
Weird. So it appears it stopped working from 2/27 up until that tweet?

[2014-03-06 17:48] jmarkel commented on #94
The only @NYCCampDrupal tweets between 2/27 and 3/4 were replies, not
broadcast tweets (i.e. they started with @username). I guess the Twitter
block doesn't show those.

On Thu, Mar 6, 2014 at 12:40 PM, Forest Mars notifications@github.comwrote:

[2014-03-06 18:26] ForestMars commented on #94
Ok, closing but would be god to keep an eye on this.

[2014-03-06 18:26] #94 closed, assigned to nobody

[2014-03-07 00:48] mirie commented on #7
This is fixed from the last push of theming changes.

[2014-03-07 00:48] #7 closed, assigned to nobody

[2014-03-07 01:00] mirie commented on #68
Ok, based on what I'm reading here: We only want the event blocks to appear on the **front** page and no other pages. Or at least that is the current state on the site.

Can we agree to have something in the menu then, perhaps under About?

[2014-03-07 01:47] ForestMars opened #99 "Fix session voting"
Session voting currently doesn't work. Needs to work so we can announce session voting is open.

[2014-03-07 02:02] tz-earl commented on #51
On test site, for content type Session, configured fields Session Type (previously Other Info) and Experience Level to be select lists, expanded their choices, and made both fields required. Needs review.

http://test-nyccamp2014.gotpantheon.com/session/propose

**Edit: changed this from node/add/session to session/proposse**

[2014-03-07 02:07] mirie commented on #51
Looks good!

[2014-03-07 02:12] mirie commented on #62
Apparently we don't even have a Volunteer mailchimp list anymore. Was this a decision made by the group that didn't get communicated all around?

[2014-03-07 02:38] ForestMars opened #100 "Decide how to separate group membership from event attendance"
Since no one seems to be tracking Trello, duplicating this card here:

https://trello.com/c/JohV05L0/32-add-event-registrants-to-event-group

This is more so we can have a discussion of the way forward, to keep the conversations going, and **separate group membership from event attendance** rather than an immediate need for implementation. (Theming is the current priority.)

We're removing the "In

[2014-03-07 02:38] ForestMars commented on #99
Ok this should now be working so that we can announce session voting is open.

[2014-03-07 02:38] #99 closed, assigned to nobody

[2014-03-07 02:45] tz-earl commented on #51
Made the same configuration changes on live site to fields Session Type and Experience Level.

[2014-03-07 02:45] #51 closed, assigned to mirie

[2014-03-07 02:53] willykaram opened #101 "Lead Sponsor Footer Block"
We need to create a block for sponsors that will appear that the bottom of every page on the NYC Camp site and will persistently display the logos of our lead sponsors. This block will be static until a users scroll to the very bottom of the page, and then the block will start to scroll up the page in order to display the rest of the sponsors.

By keeping the footer block static until a user scrol

[2014-03-07 02:55] ForestMars commented on #51
Just to note, I don't think we really need to do this twice (on Dev and then on Test.)

Where things could break is actually more on the process and communication side.

Totes appreciate the attention to doing it by the numbers, however configuration changes can really be made on Test, after confirming the db is synched up with Live, while the Dev environment is really for pushing changes in code.

[2014-03-07 03:07] jonpugh commented on #100
Keep OG membership types in mind. You can create separate types. You can
also add multiple OG membership fields to a user.  For example, add
field_interested to users as an og reference to events and field_attended
as a an og reference to actual attendance records.

A "volunteer"membership type could be created just for tracking volunteers
for a specific camp.

Just mentioning it to keep in mind.

[2014-03-07 03:37] ForestMars commented on #100
@jonpugh++ I think whatever the simplest approach here is probably going to be best.

And actually, I don't know that the main problem here is is a data modeling question, so much as it is a data handling / migration issue. Out of the box COD gives us group subscriptions and event registrations. The problem is that we removed group subscriptions from the UI, so currently users are only registering

[2014-03-07 03:57] ForestMars commented on #62
Yes, and I only found out belatedly myself.

This was changed from a _list_ to a _list segment_ as we were waay over our free tier limits, and couldn't even send any mailings out at all.

Our limits were only increased earlier today at 11am, from 2000 subscribers to 5000 subscribers, as well as an increase in how many mailings per month we can do.

After the event is over, we will downgrade back t

[2014-03-07 04:29] rabellamy commented on #93
@willykaram would you consider https://github.com/Team-Sass/toolkit#carousels? It would be mobile friendly.....

[2014-03-07 04:32] ForestMars commented on #93
@rabellamy +1 if you can answer how do we wire sass toolkit carousels up to views?

[2014-03-07 04:34] rabellamy commented on #93
leverage views templates and strip out all unnecessary markup .... we got to be lean and mean!

http://rabellamy.github.io/na-gallery/index.html

[2014-03-07 04:34] mirie commented on #93
@likewhoa is already working on a version using flexslider.

Btw, I experimented with that Beautytip and it didn't work so with mobile.

On Thu, Mar 6, 2014 at 11:32 PM, Forest Mars notifications@github.comwrote:

[2014-03-07 05:01] esod commented on #88
https://github.com/NYC-Camp/website/pull/102

[2014-03-07 05:02] likewhoa commented on #93
@rabellamy do like but our current theme is not even sass,compass ready which doesn't make sense  as I know zen supports it. Why didn't we set this up from the beginning? I am normally using aurora and or omega4 and this is the norm on those, my experience with since was way back before sass was even introduced.

[2014-03-07 05:08] mirie commented on #90
Ok, as mentioned in #nyccamp we no longer any Mailchimp list associated with http://nyccamp.org/admin/config/services/mailchimp/lists/1/edit (the NYC Camp 14 Email List).

I emailed Annie about (1) for @ForestMars's comment above. I also cc'ed Rich to find out how everyone's grouped and segmented because I poked around and it seems like we have an unusually large # of subscribers for 2014.

I just

[2014-03-07 05:31] mirie commented on #90
Ok, confirmed with Rich that changed the list name for the general attendee list so there's no blocker there. I re-added the mailchimp list for the  NYC Camp 14 Email List and selected the setting: "Automatically add all eligible users. "

[2014-03-07 06:02] mirie commented on #62
Mailchimp does not handle synching to list _segments_ at this time. If we implement hook_mailchimp_process_webhook() then we can add users to a _group_ using the subscribe webhook (http://apidocs.mailchimp.com/webhooks/#subscribes).

Unfortunately, I'm not seeing the volunteer segment or group in the master list.

I unchecked
- Show subscription options on the user registration form
- Show subscri

[2014-03-07 06:19] mirie commented on #62
I also changed the Volunteer callout block on <front> -- I removed the mailchimp newsletter link because we don't have this setup anymore. I enabled my contact form for my profile and added a  link there. I tested this out and it works just as expected.

[2014-03-07 06:26] mirie commented on #90
I also asked Annie if she can adjust the template for both the Mailchimp opt-in email and the new Drupal account email template to match her messaging about the user profile page.

Can we agree to:
1. Change the wording for "Register" in our menu and on the front call to action link for the session? It is confusing to have register and then another register for the conference. Perhaps we can say:

[2014-03-07 06:41] #84 closed, assigned to nobody

[2014-03-07 06:50] likewhoa commented on #93
Beginning of the carousel (un-themed) http://featnd-93-nyccamp2014.gotpantheon.com/team

Only thing missing is 'related news' link but is this going to be a link from what [picture],[full_name] or [username]?

[2014-03-07 20:10] willykaram commented on #100
I was going to suggest exploring adding RedHen to our installation rather than a separate instance (after testing out RedHen on a separate instance). I got the impression in speaking with ThinkShout that this might be an option/solid route.

[2014-03-07 20:20] willykaram commented on #93
@likewhoa Thanks, this is _really_ starting to come together! Can you possibly take care ofsome theming/customization for the carousel:
- Ensuring the view is in a block with the title "Featured Attendees", that way we can place it in the homepage;
- Set the carousel to auto advance if possible (I think this is supported in FlexSlider).
- Adding and image cache setting that we can tweak, e.g., wit

[2014-03-07 21:28] ForestMars commented on #100
Yes, the separate instance is a sandbox for testing it out.

[2014-03-07 23:40] likewhoa commented on #93
@willykaram name/handle over carousel thumbnail not gonna fit so well, can we just have them on the bottom of   the image?

on mobile having name/handle overlay over image will be to crowded and on frontpage as well unless we make carousel only show like 3 images at a time.

Points 1,2,3,4,5 are taken care of atm.

[2014-03-07 23:42] willykaram commented on #93
@likewhoa sweet thanks. Instead over overlaying the name just tighten it up underneath and make it smaller ask that it all fit, similar to the BADCamp example: http://2013.badcamp.net. This should get use far online that we can go live. Then further design/theming could be done as we progress if time permits.

[2014-03-08 00:17] likewhoa commented on #93
Added some theming, let me know if this look is better.

[2014-03-08 00:40] likewhoa commented on #71
I'll take this on tonight.

[2014-03-08 06:14] willykaram commented on #93
Thanks for knocking this out of the park @likewhoa. We still have a few small tweaks, but it already looks super!!

[2014-03-08 06:14] #93 closed, assigned to likewhoa

[2014-03-08 06:39] likewhoa commented on #71
i was told to hold on this,.. so I will take myself from tasks and reassign myself when I am ready to get this done.

[2014-03-08 14:34] tz-earl opened #110 ""NYC Camp 14" has typos, etc."
Text content of "NYC Camp 14" has typos and needs other minor corrections.

http://test-nyccamp2014.gotpantheon.com/nyc-camp-14

[2014-03-08 14:35] tz-earl commented on #110
Made corrections. Needs review.

http://test-nyccamp2014.gotpantheon.com/nyc-camp-14

[2014-03-08 17:27] #88 closed, assigned to nobody

[2014-03-08 17:52] willykaram opened #111 "Sorting Featured Attendees"
We need the ability to sort/order the attendees displayed on the carousel in the Feature Attendees view. This would be an administrative view on the current carousel view. You would just add it a view block to the current view, that editors can use to set the order of the nodes specifically. We can tackle it however you guys think is best, we just need to be able to allow an non-coder to be able t

[2014-03-08 17:53] ForestMars commented on #111
Eh, just add an integer field on those nodes, label it "order," and sort by it in the view, done.

[2014-03-08 17:56] willykaram commented on #111
@ForestMars with that approach we have to go in and manually edit all of the nodes individually to adjust the order. @likewhoa @scottrigby and I just dicussed in IRC and Skype too, but using an ordering module is a faster way of organizing the view without needed to edit the nodes individaully to adjust the weights/orders. We also want something that is as useable as possible for contributing back

[2014-03-08 17:56] likewhoa commented on #110
A few corrections...

April 10th through the 13th.

At that time, you will be able to sign-up to attend these events which will have limited capacity. Registration must be confirmed to attend all events.

[2014-03-08 17:59] likewhoa commented on #111
I will evaluate both nodequeue and queues module later tonight and come back with a shiny pr.

[2014-03-08 18:23] willykaram commented on #90
@mirie great call on clarifying the working to be "Create Account" or "Login" as opposed to Register.

[2014-03-08 18:26] ForestMars commented on #90
We may also want to add an alias /user/create and point it to /user/register (requires change to menu item/s.)

[2014-03-08 22:37] esod opened #114 "Add an QR code tab to the user's profile."
I've added a QR code to the user's profile. I've deployed the QR code to:

http://qr-code3-nyccamp2014.gotpantheon.com/users/nyc-camp

I'm not certain what we want to include in the QR code, but changing its contents will be simple since the user field, field_mobile_code accepts tokens. Currently the only field in the QR code is the user's first name, [current-user:field-profile-first]. Note that

[2014-03-09 00:20] tz-earl commented on #110
Wow, all the text edits I did this morning disappeared, as though they never happened. I just did those changes again and cleared caches. The end of the first paragraph should exactly read "from April 10th through the 13th" as suggested above by likewhoa. If you don't see that, something is screwy.  Needs review, again.  http://test-nyccamp2014.gotpantheon.com/nyc-camp-14

[2014-03-09 15:18] likewhoa commented on #114
I got a few questions and concerns regarding the qr-code implementation.
- Why have a non-public qr-core? the point of a qr-code is to have another way to promote something. Perhaps users should be allowed to set their qr-core for public viewing.
- Need a proper error page for users that try to view a qr-core which is not public, currently it's a 404
- Better explanation to end users on how to ent

[2014-03-09 15:38] willykaram opened #115 "Commerce Implementation (Phase 1)"
We are breaking the commerce implementation into two phases: Phase 1 - Individual Partnership and Phase 2 - Tier/Title Partnerships.

This is related to Phase 1. We'll be doing a very basic Drupal Commerce implementation, as we don't need to deal with shipping or other issues.

**Products/Variations**

We just need to setup a simple product category called Individual Partners, and then setup 3 var

[2014-03-09 15:41] willykaram commented on #70
Gang - Most of this is already done, we'll have it finished up today, see http://nyccamp.org/partner ... we're just refining the wording, pricing & packages today and it will all be sent to sponsors later today. Unfortunately this has been a moving target, and we made some pretty big strategic changes on Fri/Sat. that we're finishing up today. WRT individual partners, see: https://github.com/NYC-C

[2014-03-09 15:51] willykaram opened #116 "Accordian/Mobile Events Column"
Ideally we can to implement an views accordion implementation for the left hand column. while likely want that view fully expanded on desktop. For mobile users we want a tabbed accordion view that's more usable. We can expand upon the strategy in the comments bellow. Not sure how mobile friendly the views accordion is, but creating that view is very simple.

[2014-03-09 15:52] willykaram commented on #68
@mirie I think that we should be keeping the events block in the left column on all pages (as per your suggestion above). In past year's that's the biggest issue we've had is confusion/questions around events/dates. In due course we can implement the accordion for this view -- I've opened a new issue for this here: https://github.com/NYC-Camp/website/issues/116

[2014-03-09 16:00] willykaram opened #117 "Event Registration Implementation/UI"
We need to implement and test/QA the event registration. We should decide on a layout for the individual event pages and the UI for same. Currently users have to visit each event node in order to register and they don't have a UI to easily show them everything that they're registered for.

If possible it would be ideal to create a page with a custom form that enables registration entities to be cr

[2014-03-09 16:08] willykaram opened #118 "Featured Attendee Profiles"
We should implement a custom profile layout for featured attendees. In most cases we need to create their profiles, as they don't have the time.

Right now Rainer and I are working on design like the page below, and we should have something ready for later today or tomorrow (it's Rainer's call and following his lead):

http://www.vml.com/people/mike-wente

In order to implement this, we'll need to

[2014-03-09 17:34] mirie commented on #46
Looking at this view in greater detail, I discovered that we have OG membership as part of the filter category. Is this still a requirement?

I propose that we remove:
- OG membership: Group ID (in contextual filter)
- OG membership: OG membership from User  (in Relationships)
- OG membership state = Active (in Filter Criteria)

[2014-03-09 18:03] ForestMars commented on #46
Does removing the membership fix the issue?

[2014-03-09 18:27] mirie commented on #68
Great. Yes, I talked to @Sergey-Semashko about this and he has an idea for making this display nicely in the pull out menu on mobile.

[2014-03-09 18:46] mirie opened #119 "After registering for the conference, the registration block remains"
Steps to reproduce:
1. Go to your user page and click to register for the conference
2. The next time you visit your user page, it will look like you still need to register for the conference because the block is still there.

The only indication that you've already registered, is an error message informing the user that s/he has already registered.

It would be better to replace this block with e

[2014-03-09 18:46] robbiethegeek commented on #114
The idea was that users can have a QR code, so the checkin application has a simple way to allow a user to walk up and have a print out with the QR code or their phone via their profile page.

[2014-03-09 19:30] ForestMars commented on #110
Did we ever figure out what happened? We need to pay attention to gaps in our process and tighten up. Today's missing text is tomorrow's nasty regression, or worse a regression that isn't caught right away.

[2014-03-09 19:55] tz-earl commented on #110
@forest No explanation so far. I'm wondering if my text edits were overwritten because the database from live was copied into test, where I did the work. Is anything like that happening automatically?

[2014-03-09 19:57] ForestMars commented on #110
Oh that would definitely explain it. The live db is regularly pulled down to test, albeit not automatically.

[2014-03-09 20:33] likewhoa commented on #111
After evaluating the available modules for sorting it looks like only queues supports entities but I cannot get it to reference any of the user entities. Nodequeue only works with nodes and it doesn't currently support entities, hence the name.

I will have to setup a fresh install reproduce the queues issue I am having with user references.

[2014-03-09 21:15] sergesemashko commented on #117
Hey @willykaram , I'm actually working on #68 and we discussed to do not implement accordion, because it's a bad mobile experience. We agreed upon another schedule icon near the menu and show the camp program like a menu on the left side.

[2014-03-09 21:28] scottrigby commented on #111
Hey guys, I'm not sure if I have a different version than what's on GitHub,
or of I just have experience using Queues, or if just works for everyone
else on a clean install, but I just set up a working vanilla D7 User queue
on my laptop on the megabus in 15 mins. I can export it in a feature and
email to someone if that helps?

On Mar 9, 2014 4:33 PM, "Fernando Reyes" notifications@github.com wrot

[2014-03-09 21:38] tz-earl commented on #110
About an hour ago, Mai pulled the live db down to test, which overwrote the content changes I made and explains what happened yesterday when those same changes disappeared. Since these are just minor edits of typos and such, I'll apply them in live.

[2014-03-09 22:03] scottrigby commented on #111
OK Fernando, here’s the feature (featured_users.zip).

You’ll need to make a Queue of the type featured_users (http://d7.kala/admin/content/queues/add/featured_users), and add users to it. I had made a View with a page display listing the added users in a table display. For convenience I also just attached a view with administrative operations to the Page display header (access set to ‘administrat

[2014-03-09 22:47] likewhoa commented on #111
thanks, i'll set this up on my local env first to test. Yea the autocomplete was one of the issues i had.

[2014-03-10 01:17] jmarkel commented on #101
Working on the Sponsorship footer block. The existing views need changing since the underlying data architecture has changed a bit.

[2014-03-10 01:56] jmarkel commented on #101
The Sponsor content type has 2 fields, both called Sponsorship level, neither of which seem to be needed any longer. Instead I am adding an Entity Ref field that refers to the Sponsorship Option content type - and that field will be used in the view in place of the sponsorship level

[2014-03-10 02:07] tz-earl commented on #110
Made these text edits in live.  http://nyccamp.org/nyc-camp-14

[2014-03-10 02:07] #110 closed, assigned to nobody

[2014-03-10 14:43] esod commented on #114
If we opened the qr field to users, there would be confusion and failure because of the requirement of the text format on the field and the requirement of the method calls in the field. Plus the field accepts tokens, which we can change, of course. Anyway we're not thinking of this field as a user enabled field.

Do you have a suggestion on another error page besides the 404 page with a custom mes

[2014-03-10 15:53] likewhoa commented on #114
@esod I mean allow users to control the privacy setting for this qr-core so that if they wish it can be made public. We should handle what goes in the field as to not confuse users on how to generate them.

The 404 should just be custom with a message like you have and nothing more. Perhaps one with a qr-core to a bunch of links to the camp ;)

[2014-03-10 16:57] esod commented on #114
cool @likewhoa. Let's find out what we want to put in the qr-code. The privacy settings can be extended to the user without difficulty.

I think we're talking about a custom 404 page, in general, which we do not have. Then specifically, we can insert into it messages that are within context.

[2014-03-10 23:41] willykaram opened #128 "Theme/Finish Team Volunteer Page"
We need to build out the volunteer team page on the NYC Camp site.

**Page**: The page already exists in page manager, and just need to be themed and we need everyone's profiles populated:
- http://nyccamp.org/admin/structure/pages/edit/page-team

**View**: The page is built with this view has also been setup and just needs some minor improvements and then to be themed into a simple 3-column grid:

[2014-03-11 12:28] rabellamy commented on #128
I will attack this after work this evening.

[2014-03-11 19:31] jmarkel opened #130 "MailChimp Footer text"
The footer in email blasts from MailChimp includes this text:

'bc' should be spelled out as 'because'

[2014-03-11 22:38] likewhoa commented on #111
http://fr-queues-nyccamp2014.gotpantheon.com is the test environment for this. To manage the queue go to admin/content/queues/manage/2. The view is located at admin/structure/views/view/queues/edit/block

Few issues/bugs
- Any user who has ever changed their username (in this case Andrew Mallis), will need a path alias pointing to their original username url (in this case users/Andrew_Mallis to us

[2014-03-11 22:39] likewhoa commented on #39
@ForestMars @mai please review this view so we can get this old issue closed. @jonpugh this is a minor feature and it's 99% finished so lets just get the remaining 1% done ;)

[2014-03-12 01:26] ForestMars commented on #39
Will let @mirie take this for reasons mentioned on the #nyccamp channel

[2014-03-12 01:26] esod opened #132 "Move feature modules into default"
Download the features from live to get the latest configuration. Swap live's db into my local and revert the features and deploy.

This helps with some other work I'm doing.

[2014-03-12 01:32] likewhoa commented on #40
I think this issue is resolved, please reopen if you feel it is not.

[2014-03-12 01:32] #40 closed, assigned to nobody

[2014-03-12 01:36] likewhoa commented on #41
Closing as we already have this forked, reopen if needed.

[2014-03-12 01:36] #41 closed, assigned to nobody

[2014-03-12 01:55] esod opened #134 "Make "broken" time slot fields not required and hides them."
Until we're certain Time Session Slot(s) was a  misstep from the COD development team, I want to keep the fields in the system. But they need to be not required and hidden to avoid frustration and confusion.

[2014-03-12 02:08] #134 closed, assigned to esod

[2014-03-12 02:15] ForestMars commented on #134
Well, yes. Is there a specific upstream issue that someone was referencing? Because really, they either are or are not a "misstep" from the COD team, and it's easy enough to reference this upstream, or simply file an issue there.

This really underscores the need for our "fixing distribution features" branch. cc @scottrigby

[2014-03-12 03:09] mirie commented on #130
Done.

[2014-03-12 03:09] #130 closed, assigned to nobody

[2014-03-12 04:17] mirie commented on #39
Discussed with @likewhoa using test sessions/block placed on front on Test.

This looks good. Only suggestion is to separate the (session + by presenter) using css. @likewhoa thinks it will be a good to change the session link so that it jumps down to the slide on the session node (html anchor). I think this is a great idea -- this would involve adding the id for the anchor since it doesn't curren

[2014-03-12 04:35] mirie commented on #89
Can close this out now :)

[2014-03-12 04:35] #89 closed, assigned to timhobert

[2014-03-12 04:36] mirie commented on #63
I'm closing this.

[2014-03-12 04:36] #63 closed, assigned to mirie

[2014-03-12 04:36] mirie commented on #65
Closing this.

[2014-03-12 04:36] #65 closed, assigned to mirie

[2014-03-12 04:36] mirie commented on #62
Closing this.

[2014-03-12 04:36] #62 closed, assigned to nobody

[2014-03-12 07:01] likewhoa opened #138 "Theme the session page"
Our /session\* page needs some love, I think that most of the _small_ fields should go on the right sidebar so keep things at a better viewing angle. Suggestions appreciated.

[2014-03-12 07:09] likewhoa commented on #39
c603db8 adds a html url id attribute for use as an archor link from the latest slides view. This uses theme_field();

[2014-03-12 12:08] esod commented on #134
When time permits, I plan to add the issue to the upstream issue queue.

[2014-03-12 17:30] likewhoa opened #140 "Cap between featured image and sidebar"
![untitled](https://f.cloud.github.com/assets/1696920/2400555/f2dabe24-aa0b-11e3-8d4c-849213619d7c.png)

I noticed this just now on mobile and will look into it. Anyone else seeing this?

[2014-03-12 17:33] likewhoa commented on #140
Also

[code]

is causing that big margin-bottom which looks funky on mobile.

[2014-03-13 02:38] mirie opened #146 "Multiple presenters requested for Sessions"
We received a request for multiple presenters for sessions by Cottser today. I think that's a good idea. Just opening this issue so we can all be on the same page about the change.

[2014-03-13 03:06] mirie commented on #146
I changed the Presenters field to allow unlimited values (it was originally 1). This is done on Live.

[2014-03-13 03:06] #146 closed, assigned to nobody

[2014-03-13 03:08] mirie commented on #46
Closing this out. We already have users entering presenter names using their username -- it will be confusing to change it up at this point.

Instead I added some helper text: "Please enter the username(s)"

I also made this field required, as it doesn't make sense to have an empty Presenter especially since we are using this field for the Latest Slides block (not that the block display relies on

[2014-03-13 03:08] #46 closed, assigned to mirie

[2014-03-13 03:44] mirie commented on #140
Looks good to me. Pulled to live.

[2014-03-13 03:44] #140 closed, assigned to nobody

[2014-03-13 03:47] ForestMars commented on #146
Correct, this is definitely the way it was originally set up. Not sure how it got changed to only 1.

[2014-03-13 04:13] mirie commented on #39
Made changes to the view (on Live):

Under Format:
- Unformatted list - settings: unchecked the 2 options for classes. Added "session" for the Row class.
- Fields - settings: unchecked "Provide default field wrapper elements"

I noticed that the url for the session with the anchor was getting output with a double // like:
http://test-nyccamp2014.gotpantheon.com//session/content-migration-first-tim

[2014-03-13 04:14] mirie commented on #70
@willykaram, can this link be exposed in the menu now?

[2014-03-13 15:02] mirie commented on #39
The pr was merged. Closing this out.

[2014-03-13 15:02] #39 closed, assigned to likewhoa

[2014-03-13 15:04] mirie commented on #71
I've got the writeup locally with the map. I just have to finish up the driving instructions.

[2014-03-13 16:09] esod commented on #134
I can't recreate the SQL error in the view on cod-7.x-1.0-alpha5 oob. I think what tripped us up was that <code>Content entity referenced from field_session_timeslot(s)</code> was changed in the Drupal ecosystem from last year to this year to <code>Field collection item entity referenced from timeslot(s)</code>. The SQL error occurred because our relationship was now on a field collection when it

[2014-03-14 00:33] mirie commented on #71
http://nyccamp.org/directions

[2014-03-14 00:41] mirie commented on #71
Also added to the menu under About, right above Parking. The line-height for the h3 should be fixed by https://github.com/NYC-Camp/website/pull/149

[2014-03-14 00:55] willykaram commented on #101
@jmarkel We are using page manager to create the page at http://nyccamp.org/sponsors, the page can be edited here:

http://nyccamp.org/admin/structure/pages/nojs/operation/page-sponsors/handlers/page_sponsors_panel_context/content

It is composed of the various views blocks for sponsors

[2014-03-14 00:55] willykaram commented on #101
You can see how this is currently implemented at http://2013.nyccamp.org

[2014-03-14 01:02] willykaram commented on #101
These are the view blocks for the different sponsorship levels:

http://nyccamp.org/admin/structure/views/view/sponsors_lead/edit

http://nyccamp.org/admin/structure/views/view/sponsors_core/edit

http://nyccamp.org/admin/structure/views/view/sponsors_contributing/edit

http://nyccamp.org/admin/structure/views/view/sponsors_supporting/edit

http://nyccamp.org/admin/structure/views/view/sponsors_co

[2014-03-14 01:12] willykaram commented on #101
We should ideally be able to use or clone the existing Lead Sponsors block and the bulk of the work relates to theming it to be a static footer.

[2014-03-14 01:31] mirie commented on #71
#149 already merged. Closing this out.

[2014-03-14 01:31] #71 closed, assigned to mirie

[2014-03-14 02:01] mirie commented on #118
Is this featured_attendee_photo going to be different from user picture field?

[2014-03-14 02:04] mirie commented on #118
Also, are we displaying contact info? Or is this just going to be:
Full Name
Job Title
A large photo
Blurb

Do we want to include other details like:
- irc nick/drupal profile link

Why are they featured? Outside of what's described in the blurb? Are these attendees just showing up or are they giving presentations?

[2014-03-14 02:59] esod commented on #114
I confirm that the QR codes contain the token data!

[2014-03-14 03:21] willykaram commented on #118
Mai - Yes, these will be larger photos, and be better for promos -- similar to the link above. I have some photos which we can use for this. We took a similar approach in 2012, but this was a regression in last year's site. We won't be displaying contact info, just the fields you've listed above. They are featured attendees/speakers because they are high profile attendees that will help to draw an

[2014-03-14 03:22] willykaram commented on #118
BTW, this is also a 'nice to have', so we should likely focus on other higher priority issues first.

[2014-03-14 03:48] rabellamy commented on #128
Team members are going to have to upload a picture themselves and not rely on Gravatar for this view.

https://drupal.org/comment/8485093

[2014-03-14 04:16] rabellamy commented on #128
Team mates who need to upload a picture:
Furiegh
Craig
Edwin
Jeff
Ian
Jeremy
Jon Pugh
Rainer
Robert Kopacz
Sam Richard

Also, the view is missing some people.

[2014-03-14 13:42] esod commented on #128
The view filters on User: Roles (= volunteer). All of us volunteers need to give ourselves the volunteer role.

[2014-03-14 17:08] likewhoa opened #152 "Orphan panels page (/submit-session)"
We have a panel page that is referencing the old 'submit a session' block which was replaced in #59

We need to know where this link was reference as we have a user that complained about the page which currently only has a title with the missing block-8.

Suggestion are to either remove this panels page or put the new block in place.

[2014-03-14 17:34] mirie commented on #152
This was a menu item set under the About dropdown. I replaced the path to be `propose/session`

[2014-03-14 17:40] mirie commented on #152
I also disabled that panels page (page-page_submit_session), might have been one from last year that was enabled.

[2014-03-14 17:44] likewhoa commented on #152
we should remove that panels page as i don't see a use for it now.

[2014-03-14 17:48] likewhoa opened #153 "Make the /directions page map 'responsive'"
There are some options we can use and the two most that I would suggest is using leafletjs or mapbox.

[2014-03-14 18:02] likewhoa opened #154 "Tweet latest slides"
as per #39 request to tweet the latest slides, I am assigning myself to this and will work on it soon.

[2014-03-14 20:45] ForestMars opened #155 "Conference Admin still showing last years sessions"
Conference Admin should only show sessions for the active conference:

http://nyccamp.org/conference-admin/sessions/
http://nyccamp.org/conference-admin/sessions/accepted

How is this supposed to work in COD? We don't want to jury rig our own solution when this is putatively a crucial part of the COD roadmap.

[2014-03-14 21:39] likewhoa commented on #155
We could add a hidden filter which only shows nodes from the current year and or expose it to display from previous years.

[2014-03-15 17:50] willykaram commented on #111
@likewhoa What is the cause of the path alias issue? It seems odd that we'd be running into this issue. Can you please clarify? Given the issues mentioned above by Scott, if we're running into problems with Queues or NodeQueue can we just implement the Draggable Views as suggested in order to get around this problem?

[2014-03-15 18:13] likewhoa commented on #111
The issue is with just one user that I have noticed. If you go to 'users/AndrewMallis' on the live site, you'll notice that his [username] doesn't match that user path alias, so I am assuming Andrew probably changed his [username] at some point for whatever reason. This could possibly be a bug with core since his user patch alias should really be 'users/Andrew_Mallis'.

In terms of using draggable

[2014-03-15 18:17] willykaram commented on #111
Draggable Views is not limited to working with table formats; the Draggable views table can be used to set the order for any view to which is it associated. Given these bugs, I suggest that we use Draggable Views as we want to be contributing this back to COD, and don't want to be introducing bugs. We can switch the other modules once they are more mature/stable. If others aren't comfortable tryin

[2014-03-15 18:21] likewhoa commented on #111
Ok, I'll look at draggableviews once more, but queues seems like a great module and the current bugs are probably going to be fixed soon.

[2014-03-15 18:23] willykaram commented on #111
@likewhoa Can you send me the link to the view you've been working on? I can try to implement draggable views sorting quickly, it should only take 5-10 mins to get this done and we can get it live and focused on other priorities. We can switch the other modules later if they are better once the bugs are resolved.

[2014-03-15 18:25] likewhoa commented on #111
it's at http://fr-queues-nyccamp2014.gotpantheon.com/admin/structure/views/view/queues/edit/block

[2014-03-15 18:28] willykaram commented on #111
Can you please add the Draggable Views module to the codebase, it's not their yet.
Project: https://drupal.org/project/draggableviews
Instructions: http://www.youtube.com/watch?v=pxetnlKzZBE

[2014-03-15 18:29] likewhoa commented on #111
sure, bbiab

[2014-03-15 18:40] likewhoa commented on #111
The module should be on the multidev now, have fun :)

[2014-03-15 19:36] willykaram commented on #111
I quickly built a new view of users, in which the mater view is the flexslider and the second display is the draggable view to set the order. @likewhoa Can you please tweak the master view to match the prior flexslider that you built and themed, as I though that looked quite good on the front end? Can you also please create a "featured_attendee" image style in image cache which can be used in the

[2014-03-15 19:43] willykaram commented on #111
The feature has been added to the mutidev: http://fr-queues-nyccamp2014.gotpantheon.com/admin/structure/features/featured_attendees

[2014-03-15 20:20] likewhoa commented on #111
no feature there anymore.

[2014-03-15 20:21] likewhoa commented on #111
I will recreate the feature and test locally.

[2014-03-15 21:21] likewhoa commented on #111
feature needs work, postpone until tomorrow. Perhaps we can work on it at the playday.

[2014-03-16 05:41] ForestMars opened #163 ""Submit a Session" block is stale"
Since session submissions are closed, this block is stale content. Instead it should be a call to action to register for the camp, along with a list of featured sessions. This of course is just a stop gap until we deploy the carousel, so doing that will close this issue. But if that is not going to happen today we should fix this block.

Also we could just kill the "submit a session" block and use

[2014-03-16 13:58] likewhoa commented on #163
do we have a way to show featured sessions? I don't recall there being a 'featured session?' field, if this is the case i can just make this field then a block after which filters by it so we can replace the submit a session block with it.

[2014-03-16 14:05] likewhoa commented on #153
closing due to #160 being merged.

[2014-03-16 14:05] #153 closed, assigned to rabellamy

[2014-03-16 14:31] likewhoa commented on #115
The first test environment is at http://commerce-nyccamp2014.gotpantheon.com with the first initial product page at http://commerce-nyccamp2014.gotpantheon.com/partnership-packages

The things that I want feedback on and my suggestions are:
- Lets customize shopping cart views/blocks to be less like a 'shopping cart' but instead like a 'partnership package list'
- Please do a test order with paypa

[2014-03-16 14:35] ForestMars commented on #163
Y, we should probably add this field, since we're already touting our featured sessions / speakers in mailouts & social media.

[2014-03-16 14:40] likewhoa commented on #163
i'll take care of this now and will reference the pr here.

[2014-03-16 15:44] likewhoa commented on #163
The multidev for is at http://fr-frtsess-nyccamp2014.gotpantheon.com I have currently only made the block show [title] and [presenters] and set for any empty fields to not show up since the ones I picked didn't have any presenters. Anyways, set some featured sessions and test the view more.

My suggestions are to make block a single item carousel with [picture][title][presenters] instead of just a

[2014-03-16 16:18] ForestMars opened #165 "No way to tell if registered"
**Expected:** As a user I need to be able to see whether I am registered for this year's conference.

This should be prominently displayed on my profile.

**Actual:** I don't see any way to tell, as a test user, if I am registered or not.

**Related:** As a user I need to be able to cancel my registration, if I am unable to attend for some reason.

[2014-03-16 16:23] ForestMars commented on #163
This looks fine, and is only a temp fix anyway until the carousel goes live. Please send PR.

[2014-03-16 16:23] #163 closed, assigned to nobody

[2014-03-16 17:56] mirie commented on #128
All current volunteers now have the volunteer role and I emailed those with missing photos.

[2014-03-16 18:04] #132 closed, assigned to esod

[2014-03-16 19:07] esod commented on #165
Truth be told, I don't even know if I'm registered. I mean that from the UX standpoint. I'll have a look.

[2014-03-16 19:49] esod commented on #165
Are authenticated users registered?

[2014-03-16 20:08] willykaram opened #168 "Commerce Implementation (Phase 2)"
The second phase of the Commerce Implementation relates to setting up products that are related to the existing Partnership Options.

**Product Setup**

We'll need to create a product that relates to each of the options on this page:
- http://commerce-nyccamp2014.gotpantheon.com/partner

With the requisite name and pricing.

**UI/Theming**

We should ideally aim to have an "Buy" or add to cart but

[2014-03-16 21:02] ForestMars commented on #165
Not for this year's camp, that is, not by default anyway.

Just logging into the site doesn't register you to attend NYC Camp this year. I can promise you a LOT of people who have accounts on the site don't understand that. But that's messaging, not strictly implementation.

For implementation we really just need a way for a user to see if / confirm they are registered to attend this year, and to

[2014-03-16 21:47] ForestMars commented on #155
Since this is obviously needed for the COD Roadmap, I filed an upstream issue, however we really shouldn't let upstream slow us down, especially since we are arguably getting ahead of the 7.x-dev mainline (even though we are technically still on alpha5.)

[2014-03-17 00:14] tz-earl opened #169 "Minor edits to content: typos, et al."
Made the following changes on live. Needs review.

http://nyccamp.org/event/drupal-8-core-sprint (corrected typos and misspellings)
http://nyccamp.org/directions  (added a link to NJ Transit)
http://nyccamp.org/partner  (missing punctuation in top portion)

[2014-03-17 02:38] willykaram commented on #128
This is the full list of the team/volunteers (hopefully nobody is missing), would be great to eventually have everyone on the team page on the site:

<ol>
<li>Ahmed Elmadah</li>
<li>Alexander Ross</li>
<li>Andrea Soper</li>
<li>Anita Chitturi</li>
<li>Annie Stone</li>
<li>Brian Gupta</li>
<li>Bryan Marquez</li>
<li>Carlos Gimenez</li>
<li>Cathy Theys (Sprints & DrupalNG)</li>
<li>Chris Webber (Cod

[2014-03-17 14:22] likewhoa commented on #169
@tz-earl I made a trello card which you and everyone should use to archive the pages and corrections which we are making for future reference. Please add there pages to that card. Thanks!

[2014-03-17 15:50] likewhoa commented on #155
so a filter by date should be ideal? P.S what is the upstream issue url for reference?

[2014-03-17 16:52] ForestMars commented on #155
I wouldn't call it ideal, but I expect it will work. To keep things simple, can we just filter by year, so we're not having to mess with months / dates / etc?

The ideal would be to work with the COD team to determine what the best implementation is going to  be. Maybe at NYC Camp when Jason Yee will be here?

[2014-03-17 17:23] ForestMars opened #170 "This year's sessions have last year's rooms & times"
All this year's session nodes are still displaying (in the admin view) last year's Session Time and Room Assignment fields and do not have any fields for this year's timeslot or room assignment.

Do we already have a model of how we are assigning timeslot & room assignment fields to conferences each year?

Keep in mind we can't simply delete those fields, since that would mean previous year's sess

[2014-03-17 17:59] likewhoa commented on #170
Where is the admin view?

[2014-03-17 18:01] ForestMars commented on #170
By admin view I meant node/edit

[2014-03-17 18:06] likewhoa commented on #170
looks like we'll need a contextual filter on these entity reference fields in order to show data relevant to the current year for both fields.

[2014-03-17 18:07] likewhoa commented on #170
I'll look into this today to see what will work, this should be part of the COD roadmap. Do we have a link to this part of the roadmap upstream?

[2014-03-17 18:14] likewhoa commented on #170
The entityreference view in question for timeslots is located at admin/structure/views/view/cod_session_timeslot/edit/entityreference_1
for room assignments we are not using an entityreference field so it's basically showing all room content types. This should be converted into an entityreference field to filter by year.

[2014-03-17 19:55] ForestMars commented on #170
The COD Roadmap page is pretty general: http://usecod.com/roadmap

Most of the more specific discussion is taking place in the COD Support modules issue queue.

[2014-03-17 20:31] likewhoa commented on #170
do you know who introduced the room assignment? it seems upstream doesn't have this field in session content type.

![untitled](https://f.cloud.github.com/assets/1696920/2441340/1a7c2c00-ae13-11e3-8be9-3e9df24d228a.png)

[2014-03-17 21:15] likewhoa commented on #155
Sure, but in the meantime lets just add the year filter so we can focus on this years sessions.

[2014-03-18 00:40] ForestMars commented on #155
This is the view that's being used: /admin/structure/views/view/cod_session_sessions_admin/edit

[2014-03-18 01:27] likewhoa commented on #155
all done, close when reviewed.

[2014-03-18 14:38] #169 closed, assigned to nobody

[2014-03-18 14:39] #111 closed, assigned to likewhoa

[2014-03-18 20:54] ForestMars commented on #111
Setting the order is unnecessary and just creates more work to manage.

Who decides on the order? Which attendees are more "important"? What's the process for determining that?

Unless someone has answers for these and related questions that would inevitably come up, this needs to be just a random sort, done.

We need to stop micromanaging every thing which is over taxing our resources and opens u

[2014-03-18 21:45] willykaram commented on #111
@ForestMars This already done/live. The sorting is important for a few reasons, and it's random after the sort, so not much work. This should have been a quick 15 min fix, but we got in a (potentially unnecessary) debate over the approach. We ultimately went with the originally suggested Draggable view module, that was an established bug-free module, and simple approach (it took 15-20 mins to impl

[2014-03-18 22:09] ForestMars commented on #111
Which are...?

[2014-03-18 22:15] willykaram commented on #111
I don't have time to reply/debate that now ;), but we can do so once time
permits (will reply next week or after the camp). Simply put though, if we
want we only have one shot to highlight both you and webchick or chx or
Alex Pott as speakers in order to attract sponsors/attendees, I'd rather
lead with them (no hard feelings) -- assuming that everyone is not going to
scroll or wait to see other fe

[2014-03-18 22:24] willykaram commented on #115
@likewhoa we likely shouldn't close this issue until we finish dealing with the rest of the issues listed above.

[2014-03-19 03:14] likewhoa commented on #168
This is an update to this implementation. The following are some of the changes.
- Changed add to cart label to 'buy'
- Added 'buy' button under neat price field.
- Removed 'field_sponsorship_price_language' from 'sponsorship_option' content type and added a product reference field called 'field_price'
- Added products that have same title as 'Sponsorship Option' nodes to relate the reference
- Ad

[2014-03-19 03:25] willykaram commented on #168
Thanks, can we include invoicing in this issue/scope of work too?

On Tuesday, March 18, 2014, Fernando Reyes notifications@github.com wrote:

[2014-03-19 03:58] ForestMars opened #174 "Set cookie domain"
I just noticed that sessions are not working across www and the apex (aka naked) domain.

So I can be logged into nyccamp.org at the same time I am logged out of www.nyccamp.org.

We need to add a $cookie_domain to our settings.php file to fix this.

[2014-03-19 04:10] likewhoa commented on #170
I when ahead an made a few changes but display data for last years room assignment is lost.. The following changes and workaround have been added.
- Added a new view to reference rooms from 2014 only
- Changed 'field_room_assignment' from a simple entity selection option to a views entity reference mode
- Republished the old room assignment nodes since these won't show up in session edit view now

[2014-03-19 04:11] ForestMars opened #175 "Need BOF schedule"
Every year we say we are going to add a BOF schedule and every year it gets dropped.

Can't we just clone the session schedule and set it to filter on session type = BOF ?

[2014-03-19 04:12] ForestMars commented on #170
Hopefully will be able to test this in a bit, working on the schedule now...

[2014-03-19 04:34] likewhoa commented on #174
all done.

[2014-03-19 04:35] ForestMars opened #177 "Session Acceptance Email is Broken"
It appears that session acceptance emails are not going out (on Live.)
I just created a test session and accepted it, and no email was received.

This is a pretty important fix, given the current timeframe.

[2014-03-19 04:37] likewhoa commented on #168
Since we're using paypal for payment processing, i think that's up to the paypal account holder, otherwise I need more details on what you mean by invoicing in this workflow.

[2014-03-19 04:41] likewhoa commented on #177
fix0r, rule was disabled.

[2014-03-19 04:41] #177 closed, assigned to nobody

[2014-03-19 13:01] esod commented on #170
Changing the field_room_assignment from a simple entity selection option to a views entity reference probably breaks My Schedule. I should be able to adjust the view to suit.

Also, @likewhoa your field list is not up to date. Have a look at this screen shot from live.

![screen shot 2014-03-19 at 8 57 24 am](https://f.cloud.github.com/assets/387576/2460136/768bb138-af66-11e3-98ab-df6888322eeb.png

[2014-03-19 13:03] esod commented on #170
Sorry @likewhoa reread your post. Your screen shot was from upstream. I've been calling it cod out of the box (oob).

Yes, we added field_room_assignment.

[2014-03-19 13:22] esod commented on #174
Hi Guys, I pulled live's db into test and merged in this pr to test. Now test is not working right. I can log in, but I'm no longer a site admin although the database says so.

![rid3-is-site-admin](https://f.cloud.github.com/assets/387576/2460300/aed045e8-af68-11e3-8556-ba280ca578a0.png)

The menu is no longer working right.

![menu-not-right-on-test](https://f.cloud.github.com/assets/387576/2460

[2014-03-19 13:23] esod commented on #174
Pantheon doesn't use our settings.php and settings.php hasn't been in the repo for a while.

[2014-03-19 13:29] esod commented on #175
There is a COD BoF Session features module. Up for giving it a try?

[2014-03-19 13:30] esod commented on #175
COD BoF announcement and discussions:
https://drupal.org/node/1208088
https://drupal.org/node/1034482

[2014-03-19 14:10] likewhoa commented on #174
ugh, then we need nginx rewrite for www.

[2014-03-19 14:20] mirie commented on #174
Pantheon _does_ use our settings.php and it is in the repo ;). Just want to clarify this part because there's a little confusion here about this.

In terms of the login and the www problem, I'm not 100% sure, but I think we can just remove this line from settings.php:

`$cookie_domain = '.nyccamp.org';`

and add this to the default settings.php (at the end):

[code]

[2014-03-19 14:55] esod commented on #174
~/kalabox/www/nyccamp2014 (master)-2$ git pull upstream master
From github.com:NYC-Camp/website
- branch            master     -> FETCH_HEAD
  Updating 8b66c29..4fc8f70
  error: Your local changes to the following files would be overwritten by merge:
  sites/default/settings.php
  Please, commit your changes or stash them before you can merge.
  Aborting

git status does not show sites/default/set

[2014-03-19 14:58] esod commented on #174
And if you're not using the kalabox, getting this merge in is going to remove all their settings.

[2014-03-19 15:24] ForestMars commented on #174
Um, we need to be very careful here guys. Pantheon is very brittle when it comes to settings.php. One wrong commit and BOOM your site is toast.

As a reminder, no one should ever, EVER be merging their own PR and pulling code to Live. (Not to mention if anyone blows up Dev that way, we cannot just recover it, that's a support request to Pantheon.)

However, one thing I need to ask is why we are ha

[2014-03-19 15:25] ForestMars commented on #174
Also, good catch Eric on comment #3, and a gentle reminder to everyone to use PR's.

[2014-03-19 15:34] esod commented on #174
Will someone merge this in? https://github.com/NYC-Camp/website/pull/178 It's a blocker.

cod alpha-1.5 oob has OG 2.5 and it has the node/add bug. We don't. I guess you're surfacing whatever steps we took to resolve it. But that's a different discussion.

I want to check if the change to field_room_assigment (https://github.com/NYC-Camp/website/issues/170) I can't do that until my pull request is

[2014-03-19 16:15] esod commented on #117
So I guess this is not what we're looking for?

http://qr-code3-nyccamp2014.gotpantheon.com/user/1/registrations

[2014-03-19 19:23] sergesemashko commented on #117
@esod my request is not merged yet, https://github.com/NYC-Camp/website/pull/159

[2014-03-19 21:07] esod commented on #174
There's a comment in the screen shot.

https://www.evernote.com/shard/s239/sh/bd359573-7216-4160-b48f-d96c4f778fda/cfcd7f09d6c3a5ca2101336909b14aef

[2014-03-19 22:28] ForestMars commented on #174
No, I don't think so. In fact, it looks like it's set up correctly.

We should only have one A record per server for the domain. So if we have an A for the apex we don't have an A for www, and vice versa.

My recommendation is that we have an A record for the apex domain (nyccamp.org) and a CNAME for www.nyccamp.org, which is exactly what it looks like we have.

I don't actually think the problem

[2014-03-19 22:32] ForestMars commented on #174
I think the problem is that the fix for the node/add bug is wrong?

That is, the correct fix is that anonymous users going to node/add\* should be redirected to /user.

However, on nyccamp.org they instead get an access denied, which is wrong.

Where did we add that redirect to address the bug in OG 2.5? (That removes the redirect to /user and gives anonymous users apparent access to node/add?

[2014-03-19 22:52] ForestMars opened #179 "Style REGISTER for Event button"
All event pages should have an appropriately styled "Register" button, prominently displayed for a user to click to RSVP for the event.

Currently the register button is just an unstyled link sitting next to the "view" link/tab, which most users won't even know what that is for.

Solution: Please style the Register button so that it looks nice (the mixins for this are pretty standard) and improve

[2014-03-20 01:20] esod commented on #174
So the CNAME with www Points to @ is okay. cool.

dunno about the node/add stuff. I guess we'll have to look at that again.

[2014-03-20 01:23] ForestMars commented on #174
y, domains are fine, we did something in code to mess this up.

I'm a little concerned that now we have a pull request to add login destination module, without knowing what the underlying problem is. That's just adding more layers of complexity / obfuscation.

We need to simplify, not complicate. And determine what the exact problem is.

And also fix node/add/\* so it redirects to /user, not a 403

[2014-03-20 01:25] ForestMars commented on #175
@esod++

[2014-03-20 01:25] willykaram commented on #101
Any updates on how we're making out on this. Is it okay if I tackle this if we're stalled? We now need to get sponsors up on the homepage footer.

[2014-03-20 02:31] mirie commented on #128
I am missing Drupal users for -- Do we have email addresses I can check for these volunteers?
- Brian Gupta
- Bryan Marquez
- Chris Webber
- Jeffrey McGuire (DrupalNG)
- Julian Mancera
- Michael Braunstein
- Mike/Constant Contact (DrupalNG)

Emailed the following to update their photos:
- Anita Chitturi
- Douglas Urner
- Ian Finlay
- Gaelan Steele
- Henry Umansky
- irene meisel
- Kay VanValkenburg

[2014-03-20 02:45] willykaram commented on #128
Thanks Tony/Mail I just sent you an email with their addresses

On Wed, Mar 19, 2014 at 10:31 PM, Mai Irie notifications@github.com wrote:

[2014-03-20 03:02] esod commented on #170
Changing field_room_assignment doesn't affect the My Schedules tab. But something has changed in the Display Suite (ds) that's preventing the Add to my Schedule/Remove from my schedule button from printing. I see that session content type doesn't have a ds layout. So even if I create a custom ds field, it won't appear in /admin/structure/types/manage/session/display. If I add a ds layout to the se

[2014-03-20 04:34] ForestMars commented on #170
Do you think we should do the session schedule grid first, and then the add to my schedule? The former will be more widely used (not everyone uses add to my schedule, but everyone needs to be able to see the schedule.)

It should really just be updating the view from last year, with new times and rooms, I think...?

[2014-03-20 14:37] esod commented on #170
Aren't the session schedule views a part of NYC Camp Schedule view?

I'm really not liking Display Suite because we've only implemented it halfway by not using layouts or its text format. I tried to add a layout to the user ds on my local so I can get at #165 and the user page loses all its formatting. Grrr...

[2014-03-20 15:27] ForestMars commented on #170
Yes, although last year I just added the view but didn't featurize it, which we should do. Unlike previous years, this year we won't be having other sessions on Sunday, so Saturday is the main day that we'll be using the room x time grid for.

If we're serious about making our improvements available  to other camps, we should probably create master displays, and consider using the approach to feat

[2014-03-20 18:26] esod commented on #165
I've gotten past the blocker because of our implementation of Display Suite not having any layouts enabled without which no custom fields can be created. But I'm blocked because there doesn't seem to be an API for Entity Registration. The display suite code that would swap in a different block for a registered user would look something like this:

<code>
<?php
if(registration_is_registered($regist

[2014-03-20 20:00] ForestMars opened #181 "Why are event registrations coming from example@example.com"
It appears that the from email address on all registration nodes (save the ones I've already changed) is set to example@example.com (see screenshot.)

Thus is seems like a global setting got changed, since that was not the address used with registrations last year.

In any case we need to change this so that all event registrations (Trainings, Summits & Sprints) come from info@nyccamp.org. (In the

[2014-03-21 03:18] likewhoa commented on #181
This default can be set at the field_registration on event content type. see admin/structure/types/manage/event/fields/field_registration. I have already set this default to info@nyccamp.org, but unfortunately this field's settings is in binary blob format inside the db table registration_entity, so we can't really just go ahead and do a mass search and replace of example@example.com to info@nycca

[2014-03-21 03:25] willykaram commented on #168
@likewhoa Commerce generally generates and order. We ideally want to use the order as the template for an invoice that we can send or that the partner can print out. Last year @ForestMars and I had to create all of the partner invoices manually and email them. I would like to make this more efficient with commerce if we can. PayPal would just be used for payment/payment processing, but not the inv

[2014-03-21 03:34] likewhoa commented on #181
I have contributed patch upstream at https://drupal.org/node/2222713. Also :+1: on quadruple 2's \o/

[2014-03-21 06:40] likewhoa commented on #168
The thing is, your requirements are for a quick checkout thus removing any of the order details steps, so only the common info is included in the order i.e [first_name],[last_name],[username]. If we want to actually have partners enter more info we will probably want to reevaluate the checkout settings.

I'll look into this tomorrow and get back to you.

[2014-03-21 06:43] willykaram commented on #168
@likewhoa Thanks. We don't need much more than that. Just the partner company name, partnership/product name, price, and name. We should get most of this out of the box with some simple entity reference fields.  The rest we can include in a text field and some templating/theming on the order entity.

[2014-03-21 15:41] esod commented on #181
The patch looks good to me. I think we can set a rule for existing event nodes

[2014-03-21 15:42] esod commented on #181
I'll follow up with the rule.

[2014-03-21 16:08] ForestMars opened #184 "Add status for "not attending this year""
Since it's important for us to be able to message all NYC Camp members who have accounts on the site, but have not registered for this year's conference, we really need to provide a way for people who have accounts to indicate they are not attending this year. That way, we can follow up with those who still need to respond, without bothering those people who cannot attend and have been diligent in

[2014-03-21 16:31] ForestMars commented on #154
Just to note, slides on this session page are not working:

http://www.nyccamp.org/session/foundations-being-sassy-drupal

[2014-03-21 16:45] tz-earl commented on #154
@ForestMars I fixed the link to those slides, assuming that's what you meant.

http://www.nyccamp.org/session/foundations-being-sassy-drupal

[2014-03-21 16:46] ForestMars commented on #170
I feel like this issue is blowing up a bit to include the session grid view, which was not the original scope.

Currently, all sessions are still showing last year's choices for time slots. This is probably due to the ppoor implementation method, hard wiring a time slot (eg. "10:00am-10:45am) to a fixed date. That makes no sense whatsoever to me. It seems obvious that time slot should be a reusabl

[2014-03-21 16:49] ForestMars opened #185 "Training page is not working"
The training page is coming up blank:
http://www.nyccamp.org/training

Instead of having a view of all trainings for Training Day.
cf. http://2013.nyccamp.org/training

[2014-03-21 16:50] ForestMars commented on #185
Just to note that /trainings is the system path, and /training is an alias.

[2014-03-21 16:50] ForestMars commented on #154
I think the idea is that the slides should actually _display_ on the node.

[2014-03-21 17:00] esod commented on #181
I can't reach the From Address field with a rule. I'll go through the existing events and change them to info@nyccamp.org

[2014-03-21 17:15] likewhoa commented on #185
@ForestMars reason it's coming up empty is a filter on a non-existing content type called training, Also we might have to add a date filter so only this years content shows up from event nodes.

[2014-03-21 17:30] ForestMars opened #186 ""Show on registration page" does nothing"
Every event node (training/summit/sprint) has an option for "show on registration page" / "do not show on registration page" so that people can sign up for events when they create an account.

Setting this to "show on reg page" currently is not working- there is no list of events to sign up for on the registration page.

Low priority ticket, filing just for reference.

[2014-03-21 17:33] ForestMars commented on #185
For this year it should filter on event node type, where field_session_type (aka "other info") is set to training.

For next year we can revisit the data model.

[2014-03-21 17:34] likewhoa commented on #185
it's filtering on event type now, it was on both event and non-existing training content type. let me look at field_session_type

[2014-03-21 18:06] likewhoa commented on #181
thanks @esod. closing :+1:

[2014-03-21 18:06] #181 closed, assigned to nobody

[2014-03-21 20:47] ForestMars commented on #117
Ok, this is now overly complicated for being only 20 days away from the conference. Either someone needs to take responsibility for actually doing this, or it needs to be scaled back considerably. I doubt we should be adding any new UI at this point. And we certainly should not be ideating new UI this late in the game.

What's still needed functionally? It looks like just adding events when the us

[2014-03-21 22:37] esod commented on #117
Yes, sounds like what I've already done (see above) will be useable.

[2014-03-21 23:01] ForestMars commented on #117
Checking now to see if registering for an event adds it to your schedule (since you don't register for sessions, but instead use the "Add to my schedule" link.)

[2014-03-21 23:44] likewhoa commented on #185
This should be fixed now, open if otherwise.

[2014-03-21 23:44] #185 closed, assigned to nobody

[2014-03-21 23:48] ForestMars commented on #117
@esod - I don't see "add to my schedule" on the qr-code3 branch. Am I just missing it?

Also, can we combine "my registrations" and "my schedule" into a single view for the user? Many will be confused having 2 different schedules, one for "registrations" and one for sessions. They will just want to see a list sorted by date and time, I think.

[2014-03-22 00:31] ForestMars opened #187 "/summits page is 403 for anon users"
For some reason, the basic page at node/114 is 403'd for anon users.

This node has the aliases /summits and /2014/summits.

I don't think this is related to OG bc it was returning a 403 _before_ it was posted into a group- in fact before basic page was even a group content type.

[2014-03-22 00:33] likewhoa commented on #187
fixed, someone unpublished the damn node.

[2014-03-22 00:33] #187 closed, assigned to nobody

[2014-03-22 00:36] ForestMars commented on #187
I won't pause to wonder how that got unpublished, but only note that we did uncover the oddity that /trainings is a view and /summits is a node. So that's an inconsistency that we should clean up in the next go round.

Specifically, we should convert any remaining nodes to views, so that /summits is a permanent redirect to the dynamic view [current-year]/summits, which returns all events of type s

[2014-03-22 02:06] tz-earl commented on #169
Made a near-complete pass on live to copy edit the published content (including accepted Sessions but not other proposed Sessions). Corrected dozens of minor errors in misspellings, typos, punctuation, grammar, spacing, links, and anything else that caught my eye without getting too anal about it.

[2014-03-22 04:04] likewhoa commented on #179
We can't really re-position any tab items without ugly css hacks, my suggestion is to just style it so that it sticks out from the rest of the tabs or remove both tab items and instead add the register form in a block on those nodes.

[2014-03-22 04:09] #59 closed, assigned to nobody

[2014-03-22 07:02] willykaram commented on #165
I think that the simple solution here is to write a view with relationship between registration and users, and pass in the user id as a contextual filter, should be manageable.

[2014-03-22 19:50] willykaram commented on #67
@jonpugh our game plan is to keep growing the event and to own the #nyccamp hashtag. I would very much like us to continue on this path. We are also working to try and get the handle on Twitter. Can we close this issue and move it Trello or other forum, so that we keep the GitHub issues specific to the web development and coding efforts?

[2014-03-22 20:55] esod commented on #117
I think one view will be the way to go too. Perhaps we'll want to label each entry as session, event, or schedule item. I'll see how it looks when I get registrations in to the personal schedule view.

The "add to my schedule" flag is now enabled on the qr-code3 branch. That's the workaround I have to do because Display Suite is overriding the node templates while not permitting custom fields beca

[2014-03-22 21:00] esod commented on #165
I still don't see how I can get this done without the dreaded views_php module. But I'll have another look.

[2014-03-23 01:41] willykaram commented on #165
Eric - I can do this quickly now. Is that ok?
- Willy

On Saturday, March 22, 2014, Eric Sod notifications@github.com wrote:

[2014-03-23 05:37] ForestMars opened #194 "Add Rules for Summit Sessions and BOFs"
As much as it pains us to decline sessions, we've added a new session status called "BOF" which should send out an email letting them know that we didn't have room in the main schedule, but that we really liked the idea and encourage them to do it as a BOF (later, we'll wire it up so setting a session to that status adds it to the BOF schedule, and alerts them that they can change the time to any

[2014-03-23 06:23] ForestMars opened #195 "Conditional fields"
Was surprised, given how many modules _are_ installed in the current profile, that we don't have conditional_fields module, especially given that multi-year, multi-event is somewhat complicated, and we are using the event bundle for summits, sprints and trainings.

To make the best use of a single node as a polymorphous data type for all 3 of those main sub-types (as well as the other sub-types li

[2014-03-23 06:26] ForestMars commented on #165
+1 for getting done quickly without views_php.

[2014-03-23 07:31] ForestMars commented on #170
Where are we at on this? The session selection team would like to finalize the schedule, and needs to be able to view the grid to do this.

[2014-03-23 15:19] likewhoa commented on #195
we do have it @ForestMars and it came with cod.

[2014-03-23 15:24] likewhoa commented on #154
@tz-earl slides are attachments that link to the actual file, we don't really want external slide urls as you added in the body field, the actual slides go into the field_slides. People that post their sessions will eventually add their slides into the node so that we can promote them on the latest slides block and those will eventually be tweet as per this issue.

[2014-03-23 15:26] #155 closed, assigned to esod

[2014-03-23 15:57] ForestMars commented on #195
Ah that makes sense, I didn't look in the profile.

[2014-03-23 15:57] #195 closed, assigned to nobody

[2014-03-23 19:09] ForestMars opened #197 "Facilitator field broken on Events"
For example on http://www.nyccamp.org/2014/training/git-training

Try to add Fureigh as the facilitator.

This field seems to be working for Session node types, but not for Event node types.

[2014-03-23 22:05] willykaram opened #198 "Modules Folder Clean-Up"
I just notices that our sites/all/modules folder is a bit jumbled. We don't have a separate folder for /contrib vs/custom modules. I would like to fix that quickly in the course of some other work. Does anyone object?

[2014-03-23 22:07] ForestMars commented on #198
I'm pretty sure you'l need to rebuild the registry after you do that.

[2014-03-23 22:11] rabellamy commented on #198
@willykaram do it!!!

[2014-03-23 22:22] tz-earl commented on #154
@likewhoa fyi, the text of that url was already in the description of the Session. I merely turned it into a clickable link.

The instructions for the Slides field say "Upload your slides here as a PDF, or link to them from the description. (This is typically done after your session.)".

From my experience with uploading lots of videos from NYC Camp 2013, very very few presenters ever uploaded the

[2014-03-24 01:03] ForestMars commented on #117
1. I see that only "accepted" sessions appear, however what about sessions that are trainings? summit sessions? BoF sessions? I think people are going to want to add any type of session to their schedule, and not just those accepted for Saturday in the AV rooms.
2. Having said that I'm not especially married to the current approach of having a different status for sessions that are on training day

[2014-03-24 01:11] ForestMars commented on #67
Worth noting that I just did a search for #nyccamp on twitter, and there was but a single unrelated tweet, which appeared to be a typo or something as it also had a non-working url.

Looking forward to hearing what others think about this. It does seem however that the #nyccamp hashtag is only being used by us, despite the odd aberration we saw with those polynesia summer camp photos on Instagram.

[2014-03-24 01:11] #67 closed, assigned to nobody

[2014-03-24 01:32] rabellamy commented on #101
@willykaram as of now http://nyccamp.org/admin/structure/views/view/sponsors_lead/edit is only returning one result. Do you envision more? I have mocked up how it could look with more results by borrowing the 'Partners Spotlight' block. You can see it here:
http://leadsponsor-nyccamp2014.gotpantheon.com/welcome
and here:
http://leadsponsor-nyccamp2014.gotpantheon.com/team

[2014-03-24 02:21] mirie commented on #70
Ok, I will have something ready for fixing the styles on the themeup branch/environment:
- All of the sponsor block views have been altered to use HTML list rather than the table grid.
- I also altered the Panel.

http://themeup-nyccamp2014.gotpantheon.com/partners

[2014-03-24 10:16] willykaram commented on #170
Rather than apply a band aid solution here, I've been working to fix the issue properly, and in keeping with the architecture problem that forest noted above. I'll be done by midday today. Will post a summary here shortly for review.

[2014-03-24 15:58] esod commented on #117
Okay. looks like the union is working. http://qr-code3-nyccamp2014.gotpantheon.com/user/1/my-union

To make a union of two views, I'm using this module: https://drupal.org/sandbox/jalama/1785294 and I've patched Views and Core. See big jim's comments on the module page.

I think a union is the only possibility here because the two view displays we are trying to combine use different base tables/en

[2014-03-24 19:06] ForestMars commented on #117
@esod++

Is this ready for a PR? We can probably do without BoFs for now, as I don't think that is even set up yet...?

[2014-03-24 20:05] esod commented on #117
The union is not sorting correctly.

![not-sorting-correctly](https://f.cloud.github.com/assets/387576/2504612/7fcacdb0-b38f-11e3-956f-c2141031fa99.png)

The individual tabs, My Events are My Sessions, are perfect.

[2014-03-24 20:48] ForestMars commented on #117
Is this an aggregation problem with the group by statement?

Maybe privatepaste the sql query it's using?

[2014-03-24 21:03] ForestMars opened #202 "Summit acceptance email should indicate *which* summit"
When a submitted session is accepted for inclusion in one of the summits, an email is sent by Rules to the submitter letting them know.

This email should indicate which summit their session has been added to, which is a field on the session node ("which summit")

This should be added by loading that field and and printing it in the email template that goes out in this rule:

http://www.nyccamp.or

[2014-03-24 21:12] esod commented on #117
http://privatepaste.com/d4fd600495

[2014-03-24 21:17] esod commented on #117
This is from my local.

http://privatepaste.com/82e7cdef72

looks different but it's not sorting either.

[2014-03-24 21:35] ForestMars opened #203 "User on live site has major bug"
As per the email I sent around, we have a user issue on the site which indicates a potentially major problem.

A user (Rob) forwarded us their account creation email (from 3/3/14) which indicates they are uid 1301. However, they are somehow no longer that user-- and that uid now belongs to a different user! (Ed)

http://www.nyccamp.org/user/1310

Obviously, this is a major breakage, and while it s

[2014-03-25 00:27] ForestMars opened #204 "Add aliases for Summit Registration"
We need to have nice urls to share to register for events. Currently however it's just the system path that's being used. For example, the DevOps summit registration link is:

http://www.nyccamp.org/node/549/register

It should really have an alias such as:

http://www.nyccamp.org/summit/devops/register.

This should be the same for all trainings, summits & sprints.

[2014-03-25 02:38] ForestMars opened #205 "Fix entity ref for summit session (on Event nodes)"
Last year I set up a _nice_ entity reference view that embedded session node types into the summit event the session was being given at.

Cf. http://2013.nyccamp.org/event/media-summit

Somehow it seems like this functionality got broken on the current site. Can someone please fix it. As you can see from the above link, it makes a huge difference in letting users see at a glance the schedule of ev

[2014-03-25 16:44] tz-earl commented on #197
http://www.nyccamp.org/admin/structure/types/manage/event/fields/field_speakers
ENTITY SELECTION > Mode > "Views:Filter by an entity reference view"

whereas in

http://www.nyccamp.org/admin/structure/types/manage/session/fields/field_presenters
ENTITY SELECTION > Mode > "Simple (with optional filter by bundle)"

[2014-03-25 17:45] esod commented on #197
Good eye, Earl. The field should be set to simple. I've made the adjustment and added @fureigh as a facilitator to git training.

This issue ties in to the larger issue of how some of the field structures were altered in COD this year in a way that makes them kind of inflexible for our team and workflow.

[2014-03-25 17:45] #197 closed, assigned to nobody

[2014-03-25 17:55] likewhoa commented on #203
yes, this was a side effect of the March 3th db disaster.

[2014-03-25 17:55] #203 closed, assigned to nobody

[2014-03-25 18:25] likewhoa commented on #204
All done,.. A few notes below.

2014/trainings/openshift-training (empty needs content description)

_no registration link for the below nodes:_
*http://www.nyccamp.org/2014/trainings/get-started-drupal
*http://www.nyccamp.org/session/drupal-content-creators
*http://www.nyccamp.org/session/thinking-drupal
*http://www.nyccamp.org/summit/security-summit
*http://www.nyccamp.org/2014/summit/drupal-cor

[2014-03-25 18:25] #204 closed, assigned to nobody

[2014-03-25 19:17] likewhoa commented on #202
I think we can consolidate all of these similar rules into one that can handle each specific condition,.

[2014-03-25 23:26] esod commented on #165
https://github.com/NYC-Camp/website/pull/210

[2014-03-26 05:40] likewhoa commented on #202
Ok I have consolidated the notification rules for event types into one so that our rules don't grow to big in the future. This new rule is also personalized to the given user and event type and I welcome suggestions and improvements on it.

My only suggestion now is to include the mime mail module on the site so that we can send HTML emails to users using these rules for a better way to link to th

[2014-03-26 06:06] likewhoa commented on #168
Commerce_invoice has been implemented and a few workflow rules have been introduced. Have a look at the current state of the site and run through some test orders using the provided paypal sandbox user credentials then get back to me with any feedback, suggestions and or comments.

[2014-03-26 07:19] likewhoa commented on #194
the work I have already done on #202 can be extended to trigger on 'pending, unprocesses and or declined' sessions. This issue should be close and a new one added to archive what each one of these triggers will say.

[2014-03-26 07:24] likewhoa opened #211 "field_summit_session needs attention"
Currently this select list is using a 'simple' entity reference on all event content type nodes, which basically not what we really want in a multi year environment.

What needs to be done is setup a views entity reference that will filter on the current year and sort the list because as of now, it's a long long list that is not sorted and has old year nodes.

[2014-03-26 07:29] likewhoa commented on #205
admin/structure/views/view/summit_reference/edit/entityreference_1 is the main issue with this and once we remove the filter on content day, we should be good as I already took care of the display fields. The only other tasks needed here is to reference the event nodes with 'session topics' and 'which summit' field list options.

[2014-03-26 07:37] ForestMars commented on #194
As noted in irc, totes trust you nailed this, will test tomorrow.

[2014-03-26 07:48] likewhoa commented on #186
by checking 'show on registration page' on og_user_node1 from admin/config/people/accounts/fields we can have the event content types show up, but I didn't test registrating a new user to see if he/she actually gets registered on selected groups.

We should change the title of this field to something like 'Sign up for events'

[2014-03-26 07:51] likewhoa commented on #174
Closing this but I still think that redirecting from http://nyccamp.org to http://www.nyccamp.org is lame and I plan on reversing this redirect after the camp finishes.

[2014-03-26 07:51] #174 closed, assigned to nobody

[2014-03-26 07:54] likewhoa commented on #154
@tz-earl we should change this and instead of saying 'link to them from the description' we can have a conditional field that says 'Slide type' with two options 'Upload or Link' and when a user selects Upload they will be presented with the normal drupal file type field and when they select Link they will be presented with a 'link field type'. That way we can actually archor link to both these fie

[2014-03-26 07:58] likewhoa commented on #152
@mirie what should we do here, I don't see a reason for keeping those pages and or this issue open anymore.

[2014-03-26 12:22] mirie commented on #152
@likewhoa, ok, I deleted that page. Closing this.

[2014-03-26 12:22] #152 closed, assigned to nobody

[2014-03-26 13:19] esod commented on #194
Do we want to include the additional statuses like bot, summit sessions in My schedules and My events?

[2014-03-26 16:09] likewhoa commented on #194
@esod the roadmap would be to remove 'bof,training and summit' from field_accepted since those can already be reference in field_session_other_info and used as rules actions when a session is either accepted,pending or declined.

[2014-03-26 16:11] likewhoa commented on #165
I believe #210 has resolved this issue. Thanks @esod

[2014-03-26 16:11] #165 closed, assigned to esod

[2014-03-26 17:50] likewhoa opened #212 "Remove block titles from view's header field"
I like to get rid of this by introducing http://dgo.to/block_titlelink that way we can stop worrying about setting our block titles in the header section in views. I will follow up with a push to master if approved.

[2014-03-26 18:15] esod commented on #119
I think we've made progress on this issue and I'm going to close it. Check out the site now. When you're unregistered, the block says one thing and the form behaves one way. When you're registered, the block says something else and the form behaves another way. It's not perfect, but this issue has got some forward momentum and I know what we're trying for, so I'm going to close this issue.

[2014-03-26 18:15] #119 closed, assigned to nobody

[2014-03-27 03:36] ForestMars opened #214 "Conference organizers should be able to view sessions by user"
It should be obvious that at the very least, conference organizers need to be able to view sessions by user. So whether this is done as an exposed view or just a block on the user's page with role visibility set, there needs to be some way to do this.

And yet I don't see that. Is this just missing in COD, or am I just missing it?

So simple to add, so I'm surprised I don't see it.

[2014-03-27 06:13] ForestMars commented on #174
totes lame. @FIXME on 4/14/14

[2014-03-27 06:17] ForestMars commented on #205
Does that mean that
http://www.nyccamp.org/session/web-experience-management
should already be showing up on
http://www.nyccamp.org/event/npo-ngo-summit-2014 ?

Another example:
http://www.nyccamp.org/session/marketers-case-drupal
should be showing up on
http://www.nyccamp.org/2014/summits/digital-publishing-media

[2014-03-27 14:18] likewhoa commented on #205
no, because the field_which_summit is not working because of said filter. Once we remove this filter, which I can now, already existing nodes can select from it then those pages will have the referenced nodes showing under.

[2014-03-27 14:19] likewhoa commented on #205
node, field_which_summit is only available on event content types.

[2014-03-27 16:36] likewhoa commented on #194
I am going to go ahead and migrate the new rule so we can close this issue now. Please open a new issue if you want to add more actions based on other field_accepted values.

[2014-03-27 21:24] likewhoa commented on #202
Closing,.. the following rule located at admin/config/workflow/rules/reaction/manage/rules_email_the_speaker_when_their_session_type_is_accept has replaced the 4 rules above.

[2014-03-27 21:24] #202 closed, assigned to nobody

[2014-03-27 21:27] likewhoa commented on #205
I when ahead and removed this filter so that which_summit field is populated again, do review and let me know if there is anything else needed.

[2014-03-27 23:43] FreeScholar opened #216 "Featured Attendees page blank"
Featured Attendees page is blank for me in FF version 27.0.1
looks good in Chrome.

http://www.nyccamp.org/attendees/featured

[2014-03-28 02:21] likewhoa commented on #216
fixed, was a role access permissions that propagated from the master display.

[2014-03-28 02:21] #216 closed, assigned to nobody

[2014-03-28 03:51] mirie commented on #128
Sent another round of emails for those missing accounts or missing pictures.

Do we want to include more people? Looks like we were missing Ted, for example - I just added him.

[2014-03-28 04:04] esod commented on #214
I think we need some clarification on this view. This view is its own page and doesn't have to be on the Conference organizer's user profile at all. Although it could be. The my-sessions path should remain as is, ie. the sessions that a user has flagged for themselves and are visible on their user profiles.  Those are after all "my-sessions". What we're talking about here is a statistics collectin

[2014-03-28 07:11] likewhoa commented on #168
I think we are almost done here, I will go ahead and start pushing changes to master. Phase 2 finished \o/

[2014-03-28 19:58] ElijahLynn opened #223 "Input filter stripping header tags and maybe more"
Somehow the input filter just started stripping header tags `<h2>` etc. My session was working fine the other day but a wyiwyg just got added and it seems something got broken. Does anyone know more about this?

http://www.nyccamp.org/2014/trainings/site-building

[2014-03-29 17:23] likewhoa commented on #223
The problem here is that the 'Filtered HTML' format filter doesn't include the h2 tag. I will add this on that format so that you don't have to use 'Full HTML' which is overkill for your content.

[2014-03-29 17:26] likewhoa commented on #175
This feature was introduced at admin/structure/features/cod_bof. Thanks @esod

[2014-03-29 17:26] #175 closed, assigned to nobody

[2014-03-29 17:33] likewhoa commented on #70
:+1:  @mirie looking good, wasn't the blocker on this? We should move this to live as the current partners page looks to cramped up.

[2014-03-29 17:40] likewhoa commented on #114
Thanks for this @esod, do open a new task for the field permissions and 404 page.

[2014-03-29 17:40] #114 closed, assigned to esod

[2014-03-29 18:23] willykaram opened #224 "Commerce & Partnerships Implementation (Phase 3)"
As the third phase of the Commerce Implementation we want to add a bit more functionality, some of which overlaps with Partners.

*_1. Partnership PDF *_

We have a PDF of the partnership options (see attached). Ideally we can incorporate this on the partnership options page as a download (preferably after the page intro). It would be helpful for people to be able to download this PDF (and possibl

[2014-03-29 18:29] willykaram commented on #224
BTW, this is the partnership PDF that we want to include on the site:

https://drive.google.com/file/d/0BxxoRYaHc6LJYS1HVERTTWR4Q1k/edit

[2014-03-29 18:33] willykaram commented on #224
I updated the original list to also include a simple cart implementation -- sorry meant to include that in the original post.

[2014-03-29 18:41] ElijahLynn commented on #223
Awesome, thanks!

[2014-03-29 19:37] willykaram commented on #70
I haven't had time to review the PR. But it you guys think this is good to
go, it would be great to get this moved to live if it help to clean-up the
parters page.

On Sat, Mar 29, 2014 at 1:33 PM, Fernando Reyes notifications@github.comwrote:

[2014-03-30 05:02] ForestMars commented on #224
On Mar 29, 2014, at 1:23 PM, Willy Karam notifications@github.com wrote:

Speaking of, we should probably use https://drupal.org/project/views_responsive_grid for the session schedule.

##

"There are only two hard things in Computer Science: cache invalidation, naming things and off-by-one errors."
@forestmars
about.me/forestmars

[2014-03-30 05:04] willykaram commented on #224
Good call. We should also use that on the partners page too (i.e., the wall
of logos).

On Sun, Mar 30, 2014 at 1:02 AM, Forest Mars notifications@github.comwrote:

[2014-03-30 23:32] jonpugh opened #228 "Unable to view camp schedule on mobile"
Hey all,
Great work so far.

I was just checking the site on my nexus 7 to see what the day to day schedule was, but there's now way to see it!

Something about the responsiveness is hiding it.

Wasn't sure if anyone knows, so I figured I'd file an issue.

Thanks!

[2014-03-30 23:49] esod commented on #228
Hi @jonpugh Will you include a link?

[2014-03-30 23:58] jonpugh commented on #228
Hey! Sorry, it's the front page. http://nyccamp.org.  Couldn't find a subpage with the info.

[2014-03-31 00:00] jonpugh commented on #228
![screenshot_2014-03-30-19-30-38](https://cloud.githubusercontent.com/assets/106420/2562905/7059d2c2-b867-11e3-8a80-a82a2f214fef.png)

[2014-03-31 15:21] ElijahLynn commented on #223
It appears this got changed back. Does anyone know if this was intentional? I have admin rights now so I could change it back but don't know what is all going on right now.

[2014-03-31 15:22] ElijahLynn commented on #223
Or maybe it is in a Feature and needs to be changed there?

[2014-03-31 15:55] esod commented on #223
@ElijahLynn. There's too much activity on the site right now, too many modules being added, too many changes being made in the admin to keep the features up to date. Go ahead and add it back in the admin if you haven't already.

[2014-03-31 21:22] ForestMars commented on #115
It just occurred to me to ask how our doc blocks are looking for this and _all_ the functionality we are adding to COD?

This is going to be a CRUCIAL part of releasing this back to the Camp community, since we can then auto-generate the complete API documentation for our profile, and even post it as a page on nyccamp.org.

ƒ.
On Mar 29, 2014, at 12:33 PM, Fernando Reyes notifications@github.com w

[2014-03-31 21:50] ForestMars commented on #115
Forest, until all the phases for this implementation is completed, I won't
be planning on featurizing it for cod.

As I stated on irc once, we should prepare features in a fresh cod build so
that our features cater to the large community at large as some of our
stuff is nyccamp specific.

After camp we can start to port features that will be contributed back to
the cod community. Until then I myse

[2014-03-31 23:44] ElijahLynn commented on #223
I set the input filter to full html for now.

[2014-03-31 23:44] #223 closed, assigned to nobody

[2014-03-31 23:45] ElijahLynn commented on #223
I should also note that the original h2 tags that were there were turned into p tags somehow.

[2014-04-01 02:56] willykaram opened #234 "Memory Limit for Admin Users"
In certain instances we need are running in to PHP Memory Limit errors on the back-end of the site (e.g,. on pages such as 'admin/structure/types/manage/session'). Absent scaling back some the architecture on the back-end or optimizing it to make it more efficient, then we likely need solution to increase the memory limit on the back-end for users with site admin role (i.e., users that are dealing

[2014-04-01 04:18] ForestMars commented on #234
I say for now we don't mess with it.

Role memory limit is working for user/1.  If anyone needs to get to a page that is OOM'ng, they can log in as user/1 _after_ adding a comment to this issue indicating what page it was.

We don't have a lot of extra time here to chase perfection. Let's focus on immediate priorities.

[2014-04-01 12:28] willykaram opened #235 "Missing User Profile Photos"
User's profile photos are missing. The file are still on the server, it's just that the field is not retaining the settings. This appears to an issue relating to user profiles. For an example of discussion of a similar issue see: https://drupal.org/node/935592. The profile photos are still be saved on servers it's simple an issue of the settings for the field in the DB not being saved. We'll need

[2014-04-01 13:18] tz-earl commented on #235
I can confirm that after reloading my photo just now on the My Profile page, click Save, navigate away, and then return to My Profile, the photo does not display.  In that sense, it may be a different issue from https://drupal.org/node/935592 which is about the photo disappearing after a user has been edited, either manually or programmatically.

When I looked at the Featured Attendees page  http:

[2014-04-01 13:23] esod commented on #235
This issue may be a result of some bad play between Gravatar and Display suite. On your local if you, at minimum, set the Display suite layout for the User to none, the picture disappearing issue goes away when you add a new picture. But you have to add a new picture. So the damage is real.

So we'll have to fix this directly on the database.

[2014-04-01 13:35] willykaram commented on #235
I think that Gravatar is at least part of the issue, as this hasn't worked properly from the outset. Anytime someone had been using Gravatar their profile picture wasn't displaying properly on the site in most cases that I saw.

[2014-04-01 13:49] tz-earl commented on #235
FYI, on the live site, unchecking the Gravatar option for my profile does not fix the problem. After uploading a photo and Saving, merely navigating away and back to the profile page still causes the photo to disappear.

I keep getting "You have updated your settings in NYC Camp 14 Email List." at the top of the profile page even when I haven't changed anything.

[2014-04-01 14:01] ForestMars commented on #235
Has anyone checked Rules, just so we can rule that out.

Also, is this issue reproducible locally with the latest code and database?

[2014-04-01 14:21] esod commented on #235
I haven't checked rules.

I have livedb and live files on my local. I confirm the bug on my local.

When I disable gravatar on my local, the picture stops disappearing. However, the link to the existing picture is not restored.

[2014-04-01 14:41] ForestMars commented on #235
That's good news @esod. While I don't know why this would be a problem this year when it wasn't an issue last year, I don't think we really need gravatar. We really should just make profile pics required.

Can we confirm on Test please?

[2014-04-01 14:47] esod commented on #235
I was testing on test on last night so it's kind of a mess. This morning I realized I could move the files to my local.

I'll put test back to a mirror copy of live.

Are you suggesting we disable gravatar and tell attendees to add their pictures again? I'm just asking.

[2014-04-01 15:08] esod commented on #235
Test site is a mirror copy of live. I have disabled gravatar and added a new picture for myself. My picture is not disappearing.

On the upside, there are only 288 images in /Users/esod/kalabox/www/nyccamp2014/sites/default/files/pictures/ on my local. The file names have names like picture-1592-1395890676.jpg, who is user 1592. This means someone could go to http://test-nyccamp2014.gotpantheon.co

[2014-04-01 15:10] ForestMars commented on #235
Yes exactly, we should disable gravatar, confirm that the user profile picture is still set to be a required field, and in our next email blast to attendees ask them to make sure they have uploaded their profile pic.

Once we confirm disabling gravatar on Test resolves the issue, let's do it on Live.

[2014-04-01 15:14] ForestMars commented on #235
While such diligence and looking for a confirmation is appreciated, if you disabled on Test and the problem goes away, I think that's sufficient to change on Live.

[2014-04-01 15:15] esod commented on #235
Got it. It's fine on test. I'll implement on live

[2014-04-01 15:18] ForestMars commented on #235
Earl,

As per Eric's Github update, after he makes the configuration change, can
you reset each of the featured attendees' profiles so their pictures show
up again?
On Apr 1, 2014 11:09 AM, "Eric Sod" notifications@github.com wrote:

[2014-04-01 15:20] esod commented on #235
I'm doing the featured attendees, but if you see one @tz-earl, dive in

[2014-04-01 15:32] tz-earl commented on #235
@esod @ForestMars I have dentist and other appts today, but if there's no super hurry with the non-featured attendees, I'll be glad to restore their photos.

[2014-04-01 15:52] esod commented on #235
That's great @tz-earl thanks.

All the featured attendees images are back in place. Their user profiles have their pictures, and their sessions have their pictures.

[2014-04-01 15:55] likewhoa commented on #235
great work @esod, not even sure why we even worried about gravatars in the first place. @esod did you have to reupload the images? if so, that's gonna be a PITA.

[2014-04-01 16:01] esod commented on #235
Is there a reason why http://www.nyccamp.org/session/drupal-8-challenges-ahead has Comments turned off? I'm just asking.

Except for the rooms it does look like the gentleman's session is listed twice. Why is that?

[2014-04-01 16:02] tz-earl commented on #235
@esod @ForestMars I've re-uploaded a few photos from my local system. Will resume later this evening unless I hear otherwise from you guys. Gotta run.

[2014-04-01 16:04] likewhoa opened #236 "Mailchimp notifications bunkers"
We have an issue with Mailchimp showing "You have updated your settings in NYC Camp 14 Email List." on every user profile page load, whether you're authenticated or not.

[2014-04-01 16:38] esod commented on #235
oh yeah @likewhoa uploaded the images manually. I first downloaded them from test:

https://dashboard.getpantheon.com/sites/a1afbb9f-3cbb-4fe0-22f8-7da39984db4c#test/backups/backup-log

and went through the list of user ids and matched the images. pretty much a pain, yes.

[2014-04-01 17:38] willykaram commented on #101
@rabellamy What we need is just a feature for lead, sponsors, I've changed this on your multidev, so that's the block that now appears. If someone else can comment that this is okay then I'll make a similar change on test/live. http://leadsponsor-nyccamp2014.gotpantheon.com

[2014-04-01 18:20] esod commented on #236
For now we can disable the message. pull request to follow.

[2014-04-01 18:22] esod commented on #236
https://github.com/NYC-Camp/website/pull/237

[2014-04-01 18:28] esod commented on #236
mailchimp_update_user() is in only two places in the stack. Its function creation in mailchimp.module line 139 and its call in mailchimp_lists.module line 689.

[2014-04-01 19:12] esod commented on #236
For now I commented out the message. We can keep this issue open to develop a more a cause related resolution.

The ux benefits well from not printing the message.

[2014-04-01 22:51] willykaram commented on #236
Agreed on improving the UX experience. But we should likely open an news issue to address debugging what's wrong with MailChimp.

[2014-04-01 23:06] likewhoa commented on #235
So I got a simple way to restore all user images which are missing but would require bringing the site down for 5mins or less.

[2014-04-01 23:14] willykaram commented on #236
Guys we should easily be able to restore the user images will a script that runs against the DB. This should be able to be done without taking the site down. We can also run it on Dev/Test or a Multidev to confirm all is working smoothly and any QA is done.

[2014-04-01 23:17] likewhoa commented on #236
@willykaram it's possible by just updating the missing value in 'picture' column in the users table from an old working db, probably one from before March 28th. I have already tested locally that restoring that value restores the original picture. What needs to be done is just do a compare and replace from old to new.

[2014-04-01 23:33] willykaram commented on #236
@likewhoa why to we need to take the site down to do this? We can use a
mysql client or CLI with transaction queries to update the DB.

On Tue, Apr 1, 2014 at 7:17 PM, Fernando Reyes notifications@github.comwrote:

[2014-04-01 23:42] likewhoa commented on #236
@willykaram lets bring this discussion to the appropriate issue queue, this thread is not on topic to user profile images and I only responded to you thinking you was on the relevant issue.

[2014-04-01 23:47] likewhoa commented on #235
@willykaram as I said on #236 and to respond to your question about bringing site down. It should be possible to do the comparison but my way would have been done much faster as I was just going to do a direct sync from old users db to new but only replace the picture values, but if you want to code something for this which I won't have time for tonight or anytime this week at least until I become

[2014-04-01 23:50] likewhoa commented on #228
@jonpugh I don't even think we have a schedules link ready yet, at least from looking at the front page. I think they are still working on that atm.

[2014-04-01 23:54] likewhoa commented on #234
I agree with @ForestMars. Also I don't like the idea of introducing yet another module on the site, instead we should try to focus on lowering the resource demand on admin/structure/types/manage/session

[2014-04-01 23:56] likewhoa opened #240 "Sessions page not responsive"
Not sure if this is a Display Suite issue but looking at the html code, I see that these ds regions should be stacked on mobile but they are not and the current user sessions page looks odd even not being on mobile since text doesn't fill up available real estate after right side block.

[2014-04-01 23:57] likewhoa commented on #179
@ForestMars Should be close this now since registration are almost going to be close and or should we just take care of this site enhancement after camp?

[2014-04-02 00:02] ForestMars commented on #179
We're still getting a lot of feedback that the site UX is nigh unusable.

In fact we just heard from someone today that said everyone in their organization went to the site but _"had no idea what to do."_

I don't know that this one issue is going to solve the UX problems on the site, but it's important to recognize where major improvements are needed.

[2014-04-02 01:28] jonpugh commented on #228
Sorry, I wasn't talking about the session schedule. I am talking about the black sidebar with the overall day by day schedule. Thursday/trainings, Friday...?  Can't remember. Would be nice to check it on my phone!

[2014-04-02 02:33] ForestMars commented on #234
It's not just the manage/session node type, it's the whole content model we have, or rather the lack of a good content model, which has resulted in too many content types, too many fields, and most all of it added ad hoc, not conforming to a well thought out approach.

This is not a problem we are going to solve before the camp, but we need to clean up the content model both for cruft in general,

[2014-04-02 02:48] ForestMars opened #241 "Add wait list to live site"
As per irc, I enabled and tested Wait list module (part of Entity registration) on Test.
I'm not sure how this got missed originally, but it looks like it's working fine now.

Working fine meaning you have to manually activate the wait list once an event is filled up, on an event by event basis. (ie you can't just enable wait list and have it kick in as soon as registrations are filled.)

After en

[2014-04-02 03:38] mirie commented on #101
Good to go -- looks like /partner and /partners don't have that footer block. I'm assuming that this is intentional -- anyways, :horse:

[2014-04-02 03:39] esod commented on #235
I've manually add about 100 photos in about a half an hour while I've got the television on. I'll have the 288 photos which were the contents of default/files/pictures on live as of Monday night reloaded in another few minutes.

We can still run the script once it's ready. That's the best most scalable solution. But It doesn't need to be a blocker for a few hundred photos.

[2014-04-02 03:44] Offlein commented on #101
Seems legit.

[2014-04-02 03:47] ForestMars commented on #235
![Hard way](https://i.chzbgr.com/maxW500/1732036864/hBBC55FC7/)

[2014-04-02 03:55] rabellamy commented on #101
I will create a pull request in the morning.

[2014-04-02 04:02] ForestMars commented on #241
It is done.

[2014-04-02 04:02] #241 closed, assigned to nobody

[2014-04-02 04:23] esod commented on #235
![hugemanatee](https://cloud.githubusercontent.com/assets/387576/2587387/9163250a-ba1e-11e3-930d-20f61592d71a.png)

all done

[2014-04-02 04:30] mirie commented on #235
lol. :raised_hands:

[2014-04-02 05:16] ForestMars commented on #202
We can defer improvements until post-camp, one thing I would say is that it needs to be more token driven, so "NYC Camp" isn't hard coded into the rule, but it references the default conference name.

This follows from our goal of adding features that are useful to other camps, and easily usable out of the box.

[2014-04-02 13:39] willykaram commented on #101
@rabellamy we shouldn't create a bull request for what you coded. See my comment above from yesterday. What we need it a bit different. I am going to implement based on Craig's comment above.

[2014-04-02 13:40] rabellamy commented on #101
@willykaram, @mirie on http://leadsponsor-nyccamp2014.gotpantheon.com/  the 'Partners Spotlight' block is not on the page. Is this what we want?

[2014-04-02 13:41] willykaram commented on #101
@rabellamy Yes. This issue was not about the general 'Partners Spotlight'. It was about getting Lead Sponsors in the footer of the page.

[2014-04-02 14:15] esod commented on #240
The sessions pages are responsive. A two column layout on a mobile device may not be standard, but everything is readable. Nothing looks broken. Having the metadata in the right column makes it easy to know the time, location, Session topics etc. for the session the user is viewing.

[2014-04-02 14:47] rabellamy commented on #101
@willykaram, how are we looking now? http://leadsponsor-nyccamp2014.gotpantheon.com/

[2014-04-02 15:03] willykaram commented on #101
@rabellamy y, thanks that works for now. Can you please implement on live if you have time? This is needed pretty urgently.